<form action="<%= Uhuru::Webui::SinatraRoutes::ADMINISTRATION_WEBUI %>" method="post">

  <h2>Web page configurations</h2>

  <h3>Page title</h3>
  <input type="text" name="page_title" size="40" value="<%= page_title %>" />
  <br />

  <h3>Site tab</h3>
  <input type="text" name="site_tab" size="40" value="<%= site_tab %>" />
  <br />

  <h3>Welcome message</h3>
  <input type="text" name="welcome_message" size="40" value="<%= welcome_message %>" />
  <br />

  <h3>Copyright message</h3>
  <input type="text" name="copyright_message" size="40" value="<%= copyright_message %>" />
  <br />

  <h3>Start page text</h3>
  <textarea name="start_page_text" cols="100" rows="10"><%= start_page_text %></textarea>
  <br />

  <h3>Start page splash text</h3>
  <textarea name="start_page_splash_text" cols="100" rows="10"><%= start_page_splash_text %></textarea>
  <br />

  <h2>Links on the pages configurations</h2>

  <h3>Company link</h3>
  <input type="text" name="company_link" size="40" value="<%= company_link %>" />
  <br />

  <h3>Support link</h3>
  <input type="text" name="support_link" size="40" value="<%= support_link %>" />
  <br />

  <h3>Terms of services link</h3>
  <input type="text" name="terms_of_services_link" size="40" value="<%= terms_of_services_link %>" />
  <br />

  <h3>Privacy policy link</h3>
  <input type="text" name="privacy_policy_link" size="40" value="<%= privacy_policy_link %>" />
  <br />

  <h3>Guest feedback link</h3>
  <input type="text" name="guest_feedback_link" size="40" value="<%= guest_feedback_link %>" />
  <br />

  <h3>Twitter link</h3>
  <input type="text" name="twitter_link" size="40" value="<%= twitter_link %>" />
  <br />

  <h3>Facebook_link</h3>
  <input type="text" name="facebook_link" size="40" value="<%= facebook_link %>" />
  <br />

  <h3>Visual studio plugin link</h3>
  <input type="text" name="visual_studio_plugin_link" size="40" value="<%= visual_studio_plugin_link %>" />
  <br />

  <h3>App cloud admin tool link</h3>
  <input type="text" name="app_cloud_admin_link" size="40" value="<%= app_cloud_admin_link %>" />
  <br />

  <h3>Command line tool link</h3>
  <input type="text" name="command_line_link" size="40" value="<%= command_line_link %>" />
  <br />

  <h3>Eclipse plugin url</h3>
  <input type="text" name="eclipse_url" size="40" value="<%= eclipse_url %>" />
  <br />

  <h3>Various videos link</h3>
  <input type="text" name="more_videos_link" size="40" value="<%= more_videos_link %>" />
  <br />

  <h2>Miscellaneous configurations</h2>
  <h3>Activation link secret</h3>
  <input type="text" name="activation_link_secret" size="40" value="<%= activation_link_secret %>" />
  <br />

  <input type="submit" value="Save" />

</form>