<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <title><%= $config[:webui][:site_tab] || 'Uhuru AppCloud' %></title>
  <link rel="stylesheet" type="text/css" href="/css"/>
  <link rel="stylesheet" type="text/css" href="/js/jquery_css.css"/>
  <meta charset="utf-8" />
</head>

<body>

<div id="header_container">
  <div id="header">
    <a href="<%= Uhuru::Webui::SinatraRoutes::INDEX %>" title="Home"><h1>Uhuru AppCloud</h1></a>

    <div id="user_panel">
      <button onclick="window.location = '<%= Uhuru::Webui::SinatraRoutes::LOGIN %>';">Login</button>
    </div>

    <div id="header_links">
      <a href="<%= $config[:webui][:support_link] %>" target="_blank">SUPPORT</a>
      <a href="<%= $config[:webui][:company_link] %>" target="_blank">COMPANY</a>
    </div>

  </div>
</div>


    <div id="container">

    <%= yield %>

    </div>


<div id="footer_container">
  <div id="footer">

    <div id="footer_links">
      <a href="<%= $config[:webui][:twitter_link] %>" class="icon-social twitter"></a>
      <a href="<%= $config[:webui][:facebook_link] %>" class="icon-social facebook"></a>
    </div>

    <div id="copyright">
      &copy; 2013 Uhuru Software. All rights reserved.
    </div>

    <ul id="footer-menu">
      <li><a href="<%= $config[:webui][:terms_of_services_link] %>">Terms of Service</a></li>
      <li><a href="<%= $config[:webui][:privacy_policy_link] %>">Privacy Policy</a></li>
      <li><a href="<%= $config[:webui][:support_link] %>">Support</a></li>
    </ul>
  </div>
</div>

<script type="text/javascript" src="<%= request.base_url %>/js/jquery-1.5.js"></script>
<script type="text/javascript" src="<%= request.base_url %>/js/webui.js"></script>

</body>

</html>
