<!DOCTYPE html>
<html>
    <head>
        <title><%= $config[:webui][:site_tab] || 'Uhuru AppCloud' %></title>
        <link rel="stylesheet" type="text/css" href="<%= request.base_url %>/css/Site.css"/>
        <link rel="stylesheet" type="text/css" href="/css"/>
        <meta charset="utf-8" />
    </head>

    <body class="main">
        <header id="site_header">
            <div class="page-margin">
                <h1>Uhuru AppCloud</h1>

                <div id="login_control">
                    <a href="<%= Uhuru::Webui::SinatraRoutes::LOGIN %>"><button id="login_button" class="btn login_key" ><span class="line">| </span>Login </button></a>
                </div>
            </div>
        </header>

        <%= yield %>

        <div id="site_footer_container">
            <footer id="site_footer">
                <div class="top">
                    <div class="page-margin">

                        <table id="footer_top_content">
                            <tbody>
                                <tr>
                                    <td id="site_footer_border_td">
                                        <p>
                                            Give us feedback on your experience with the App Cloud beta and get 1 year free premium hosting when we go commercial.
                                            Click <a href="<%= $config[:webui][:guest_feedback_link] %>" class="index_links">here</a> for more details
                                        </p>
                                    </td>
                                    <td>
                                        <a href="<%= $config[:webui][:twitter_link] %>" class="icon-social twitter">Twitter</a>
                                        <br />
                                        <a href="<%= $config[:webui][:facebook_link] %>" class="icon-social facebook">Facebook</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="bottom">
                    <div class="page-margin">
                        <span class="copyright">
                            <%= $config[:webui][:copyright_message] %>
                        </span>

                        <ul class="footer-menu">
                            <li><a href="<%= $config[:webui][:terms_of_services_link] %>">Terms of Service</a></li>
                            <li><a href="<%= $config[:webui][:privacy_policy_link] %>">Privacy Policy</a></li>
                            <li class="last"><a href="<%= $config[:webui][:support_link] %>">Support</a></li>
                        </ul>
                    </div>
                </div>
            </footer>
        </div>


        <script type="text/javascript" src="<%= request.base_url %>js/jquery-1.5.js"></script>
        <script type="text/javascript" src="<%= request.base_url %>js/landingPageController.js"></script>
    </body>
</html>

