<!DOCTYPE html>
<html>
<head>
  <title>
    <% if $site_tab != nil %>

        <% if defined?(organization_name) %>
            <% if defined?(space_name) %>
                <%= $site_tab + '-' + space_name %>
            <% else %>
                <%= $site_tab + '-' + organization_name %>
            <% end %>
        <% else %>
            <%= $site_tab %>
        <% end %>

    <% else %>
        <%= $config[:default_domain][:site_tab] %>
    <% end %>
  </title>
  <link rel="stylesheet" type="text/css" href="/css"/>
  <meta charset="utf-8" />
</head>


<body>

<div id="header_container">
  <div id="header">
    <a href="<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS %>" title="Home"><h1>Uhuru AppCloud</h1></a>

    <div id="user_panel">
      <a href="/organizations" title="Home">
        <button class="image s32px home"></button>
      </a>

      <a href="/account" title="Account Settings">
        <button class="image s32px gear"></button>
      </a>

      <a href="#" title="LogOut" id="logout_key">
        <button class="image s32px key"></button>
      </a>
    </div>

    <div id="header_links">
      <a href="<%= $config[:webui][:support_link] %>" target="_blank">SUPPORT</a>
      <a href="<%= $config[:webui][:company_link] %>" target="_blank">COMPANY</a>
    </div>

    <div class="modal hide">
      <p id="logout_small_modal_paragraph">Are you sure you want to logout?</p> <br />
      <div class="button_case_delete_organization_and_space">
        <button type="button" class="btn btn_right_delete_organization_and_space toggle_logout_up cancel"><span class="line">| </span>No </button>
        <a href="<%= Uhuru::Webui::SinatraRoutes::LOGOUT %>"><button type="button" style="margin-right: -16px;" class="btn btn_left_delete_organization_and_space logout_locked" value="Yes"><span class="line">| </span>Yes </button></a>
      </div>
    </div>

  </div>
</div>

<div id="container">
  <div id="content">

    <%= yield %>

  </div>
</div>

<span class="cloud-target">
    Your cloud target: <span class="cloud-target-url">http://services.uhurucloud.com</span>
</span>


<div id="footer_container">
  <div id="footer">

    <div id="footer_links">
      <a href="<%= $config[:webui][:twitter_link] %>" class="icon-social twitter"></a>
      <a href="<%= $config[:webui][:facebook_link] %>" class="icon-social facebook"></a>
    </div>

    <div id="copyright">
      &copy; 2013 Uhuru Software. All rights reserved.
    </div>

    <ul id="footer-menu">
      <li><a href="<%= $config[:webui][:terms_of_services_link] %>">Terms of Service</a></li>
      <li><a href="<%= $config[:webui][:privacy_policy_link] %>">Privacy Policy</a></li>
      <li class="last"><a href="<%= $config[:webui][:support_link] %>">Support</a></li>
    </ul>
  </div>
</div>

<script type="text/javascript" src="<%= request.base_url %>/js/jquery-1.5.js"></script>
<!--<script type="text/javascript" src="<%= request.base_url %>/js/jquery_ui.js"></script>-->
<script type="text/javascript" src="<%= request.base_url %>/js/fadeIn.js"></script>
<!--<script type="text/javascript" src="<%= request.base_url %>/js/controller.js"></script>-->


</body>

</html>