<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <title><%= $config[:webui][:site_tab] || 'Uhuru AppCloud' %></title>
  <link rel="stylesheet" type="text/css" href="/css"/>
  <meta charset="utf-8" />
</head>

<body>

<div id="header_container">
  <div id="header">
    <h1>
        <a href="<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS %>" title="Home">
        Uhuru AppCloud
        </a>
        <div id="cloud_target">
          <%= $config[:cloud_controller_url] %>
        </div>
    </h1>


    <div id="user_panel">
      <a href="/organizations" title="Home">
        <button class="image s32px home"></button>
      </a>

      <a href="/account" title="Account Settings">
        <button class="image s32px gear"></button>
      </a>

      <a href="#" title="Logout" id="logout_key">
        <button class="image s32px key"></button>
      </a>
    </div>

    <div id="header_links">
      <a href="<%= $config[:webui][:support_link] %>" target="_blank">SUPPORT</a>
      <a href="<%= $config[:webui][:company_link] %>" target="_blank">COMPANY</a>
    </div>
  </div>
</div>


<div id="container">

  <div id="content">
    <div class="modal-background hide"></div>

    <%= yield %>


    <div class="modal logout hide">
      <div class="modal_header">
        <span>Logout</span>
      </div>
      <div class="modal_content">
        Are you sure you want to logout?
      </div>

      <div class="modal_footer">
        <button type="button" class="cancel_button">Cancel</button>
        <button onclick="window.location = '<%= Uhuru::Webui::SinatraRoutes::LOGOUT %>';">Logut</button>
      </div>
    </div>

  </div>
</div>



<div id="footer_container">
  <div id="footer">

    <div id="footer_links">
      <a href="<%= $config[:webui][:twitter_link] %>" class="icon-social twitter"></a>
      <a href="<%= $config[:webui][:facebook_link] %>" class="icon-social facebook"></a>
    </div>



    <div id="copyright">
      &copy; 2013 Uhuru Software. All rights reserved.
    </div>

    <ul id="footer-menu">
      <li><a href="<%= $config[:webui][:terms_of_services_link] %>">Terms of Service</a></li>
      <li><a href="<%= $config[:webui][:privacy_policy_link] %>">Privacy Policy</a></li>
      <li><a href="<%= $config[:webui][:support_link] %>">Support</a></li>
    </ul>
  </div>
</div>

<script type="text/javascript" src="<%= request.base_url %>/js/jquery-1.5.js"></script>
<script type="text/javascript" src="<%= request.base_url %>/js/webui.js"></script>

</body>

</html>