<div class="sections" id="organizations_page">
    <div class="manage_content_header">
        <h2 class="section_title">
            <span id="organization_text">Credit cards </span><span class="count">(<span><%= my_credit_cards.count %></span>)</span>
        </h2>
        <div class="icons_options">
            <input type="button" value="" class="plus_sign_48 plus_sign_position_48" id="create_credit_card" style="right: 0;"/>
        </div>
    </div>


    <ul class="tile_list">
        <% my_credit_cards.each do |card| %>
            <li class="tile_invisible">
                <ul class="custom_list">
                    <li class="tile_credit_card_name credit_card_cursor" title="<%= card.first_name + ' ' + card.last_name %>">
                      <span class="credit_card_name"><%= card.first_name + ' ' + card.last_name %></span>
                      <a href="#"><input type="button" class="small_trash btn_delete_credit_card" id="<%= card.id %>" onmousemove="prepareToDeleteCreditCard(this)" /></a>
                    </li>

                    <li class="tile_credit_card_logo">
                        <span class="link_tiles_app span_credit_card_icon_<%= card.card_type %>"></span>
                    </li>

                    <li class="tile_credit_card_details">
                        <span class="credit_card_first_name_span"><%= card.first_name %></span>
                        <span class="credit_card_last_name_span"><%= card.last_name %></span>
                    </li>
                </ul>
            </li>
        <% end %>
    </ul>


<div class="modal hide" id="delete_credit_card_modal">
    <div class="modal-header">
        <button class="close"></button>
        <h3>Delete credit card</h3>
    </div>
    <div class="modal-body">
        <br />
            <p>
                Are you sure you want to delete this credit card ?
            </p>
        <br />
    </div>
    <div class="modal-footer">
    <span class="server_errors" id="delete_credit_failed"><%= session[:e_delete_credit] %></span>
        <div class="button_case_delete_organization_and_space">
            <button class="btn btn_right_delete_organization_and_space btn_cancel cancel" id="cancel_b_d_organization"><span class="line">| </span>Cancel </button>
            <form action="/deleteClickedCreditCard" method="post">
                <button type="submit" value="Delete" class="btn btn_left_delete_organization_and_space danger"><span class="line">| </span>Delete </button>
                <input type="text" id="pass_credit_card_id" name="credit_card_id" class="blank_input" />
            </form>
        </div>
    </div>
</div>








<div class="modal hide" id="create_credit_card_modal">
    <div class="custom_modal_header">
        <button type="button" class="close"></button>
        <h3>Create CreditCard</h3>
    </div>

    <form action="/createCard" method="post">
        <div class="custom_modal_body credit_card_body">
            <table>
                <tr class="credit_card_rows">
                    <td class="credit_card_left"><label for="first_name" class="credit_card_labels">First Name: </label></td>
                    <td class="credit_card_right"><input type="text" id="first_name" name="first_name" class="modal_input_box credit_card_input_box" placeholder = "... first name" /></td>
                </tr>

                <tr class="credit_card_rows">
                    <td class="credit_card_left"><label for="last_name" class="credit_card_labels">Last Name: </label></td>
                    <td class="credit_card_right"><input type="text" id="last_name" name="last_name" class="modal_input_box credit_card_input_box" placeholder = "... last name" /></td>
                </tr>


                <tr class="credit_card_rows">
                    <td class="credit_card_left"><label for="address1" class="credit_card_labels">Address: </label></td>
                    <td class="credit_card_right"><input type="text" id="address1" name="address1" class="modal_input_box credit_card_input_box credit_card_address" placeholder = "... address1" /></td>
                </tr>


                <tr class="credit_card_rows">
                    <td class="credit_card_left"><label for="address2" class="credit_card_labels">Address 2(optional): </label></td>
                    <td class="credit_card_right"><input type="text" id="address2" name="address2" class="modal_input_box credit_card_input_box credit_card_address" placeholder = "... address2" /></td>
                </tr>




                <tr class="credit_card_rows">
                    <td class="credit_card_left"><label for="city" class="credit_card_labels">City: </label></td>
                    <td class="credit_card_right"><input type="text" id="city" name="city" class="modal_input_box credit_card_input_box" placeholder = "... city" /></td>
                </tr>


                <tr class="credit_card_rows">
                    <td class="credit_card_left"><label for="state" class="credit_card_labels">State: </label></td>
                    <td class="credit_card_right"><input type="text" id="state" name="state" class="modal_input_box credit_card_input_box" placeholder = "... state"  /></td>
                </tr>


                <tr class="credit_card_rows">
                    <td class="credit_card_left"><label for="zip" class="credit_card_labels">Zip(Postal Code): </label></td>
                    <td class="credit_card_right"><input type="text" id="zip" name="zip" class="modal_input_box credit_card_input_box" placeholder = "... zip" /></td>
                </tr>


                <tr class="credit_card_rows">
                    <td class="credit_card_left"><label for="country" class="credit_card_labels">Country: </label></td>
                    <td class="credit_card_right credit_card_td_big">
                        <select class="modal_input_box credit_card_input_box" name="country" id="country_drop_down">
                            <option class="opt" value="-1">-select-</option>
                            <option value="AF">Afghanistan</option>
                            <option value="AL">Albania</option>
                            <option value="DZ">Algeria</option>
                            <option value="AS">American Samoa</option>
                            <option value="AD">Andorra</option>
                            <option value="AO">Angola</option>
                            <option value="AI">Anguilla</option>
                            <option value="AQ">Antarctica</option>
                            <option value="AG">Antigua and Barbuda</option>
                            <option value="AR">Argentina</option>
                            <option value="AM">Armenia</option>
                            <option value="AW">Aruba</option>
                            <option value="AU">Australia</option>
                            <option value="AT">Austria</option>
                            <option value="AZ">Azerbaijan</option>
                            <option value="BS">Bahamas</option>
                            <option value="BH">Bahrain</option>
                            <option value="BD">Bangladesh</option>
                            <option value="BB">Barbados</option>
                            <option value="BY">Belarus</option>
                            <option value="BE">Belgium</option>
                            <option value="BZ">Belize</option>
                            <option value="BJ">Benin</option>
                            <option value="BM">Bermuda</option>
                            <option value="BT">Bhutan</option>
                            <option value="BO">Bolivia</option>
                            <option value="BA">Bosnia and Herzegowina</option>
                            <option value="BW">Botswana</option>
                            <option value="BV">Bouvet Island</option>
                            <option value="BR">Brazil</option>
                            <option value="IO">British Indian Ocean Territory</option>
                            <option value="BN">Brunei Darussalam</option>
                            <option value="BG">Bulgaria</option>
                            <option value="BF">Burkina Faso</option>
                            <option value="BI">Burundi</option>
                            <option value="KH">Cambodia</option>
                            <option value="CM">Cameroon</option>
                            <option value="CA">Canada</option>
                            <option value="CV">Cape Verde</option>
                            <option value="KY">Cayman Islands</option>
                            <option value="CF">Central African Republic</option>
                            <option value="TD">Chad</option>
                            <option value="CL">Chile</option>
                            <option value="CN">China</option>
                            <option value="CX">Christmas Island</option>
                            <option value="CC">Cocos (Keeling) Islands</option>
                            <option value="CO">Colombia</option>
                            <option value="KM">Comoros</option>
                            <option value="CG">Congo</option>
                            <option value="CD">Congo, the Democratic Republic of the</option>
                            <option value="CK">Cook Islands</option>
                            <option value="CR">Costa Rica</option>
                            <option value="CI">Cote d'Ivoire</option>
                            <option value="HR">Croatia (Hrvatska)</option>
                            <option value="CU">Cuba</option>
                            <option value="CY">Cyprus</option>
                            <option value="CZ">Czech Republic</option>
                            <option value="DK">Denmark</option>
                            <option value="DJ">Djibouti</option>
                            <option value="DM">Dominica</option>
                            <option value="DO">Dominican Republic</option>
                            <option value="TP">East Timor</option>
                            <option value="EC">Ecuador</option>
                            <option value="EG">Egypt</option>
                            <option value="SV">El Salvador</option>
                            <option value="GQ">Equatorial Guinea</option>
                            <option value="ER">Eritrea</option>
                            <option value="EE">Estonia</option>
                            <option value="ET">Ethiopia</option>
                            <option value="FK">Falkland Islands (Malvinas)</option>
                            <option value="FO">Faroe Islands</option>
                            <option value="FJ">Fiji</option>
                            <option value="FI">Finland</option>
                            <option value="FR">France</option>
                            <option value="FX">France, Metropolitan</option>
                            <option value="GF">French Guiana</option>
                            <option value="PF">French Polynesia</option>
                            <option value="TF">French Southern Territories</option>
                            <option value="GA">Gabon</option>
                            <option value="GM">Gambia</option>
                            <option value="GE">Georgia</option>
                            <option value="DE">Germany</option>
                            <option value="GH">Ghana</option>
                            <option value="GI">Gibraltar</option>
                            <option value="GR">Greece</option>
                            <option value="GL">Greenland</option>
                            <option value="GD">Grenada</option>
                            <option value="GP">Guadeloupe</option>
                            <option value="GU">Guam</option>
                            <option value="GT">Guatemala</option>
                            <option value="GN">Guinea</option>
                            <option value="GW">Guinea-Bissau</option>
                            <option value="GY">Guyana</option>
                            <option value="HT">Haiti</option>
                            <option value="HM">Heard and Mc Donald Islands</option>
                            <option value="VA">Holy See (Vatican City State)</option>
                            <option value="HN">Honduras</option>
                            <option value="HK">Hong Kong</option>
                            <option value="HU">Hungary</option>
                            <option value="IS">Iceland</option>
                            <option value="IN">India</option>
                            <option value="ID">Indonesia</option>
                            <option value="IR">Iran (Islamic Republic of)</option>
                            <option value="IQ">Iraq</option>
                            <option value="IE">Ireland</option>
                            <option value="IL">Israel</option>
                            <option value="IT">Italy</option>
                            <option value="JM">Jamaica</option>
                            <option value="JP">Japan</option>
                            <option value="JO">Jordan</option>
                            <option value="KZ">Kazakhstan</option>
                            <option value="KE">Kenya</option>
                            <option value="KI">Kiribati</option>
                            <option value="KP">Korea, Democratic People's Republic of</option>
                            <option value="KR">Korea, Republic of</option>
                            <option value="KW">Kuwait</option>
                            <option value="KG">Kyrgyzstan</option>
                            <option value="LA">Lao People's Democratic Republic</option>
                            <option value="LV">Latvia</option>
                            <option value="LB">Lebanon</option>
                            <option value="LS">Lesotho</option>
                            <option value="LR">Liberia</option>
                            <option value="LY">Libyan Arab Jamahiriya</option>
                            <option value="LI">Liechtenstein</option>
                            <option value="LT">Lithuania</option>
                            <option value="LU">Luxembourg</option>
                            <option value="MO">Macau</option>
                            <option value="MK">Macedonia, The Former Yugoslav Republic of</option>
                            <option value="MG">Madagascar</option>
                            <option value="MW">Malawi</option>
                            <option value="MY">Malaysia</option>
                            <option value="MV">Maldives</option>
                            <option value="ML">Mali</option>
                            <option value="MT">Malta</option>
                            <option value="MH">Marshall Islands</option>
                            <option value="MQ">Martinique</option>
                            <option value="MR">Mauritania</option>
                            <option value="MU">Mauritius</option>
                            <option value="YT">Mayotte</option>
                            <option value="MX">Mexico</option>
                            <option value="FM">Micronesia, Federated States of</option>
                            <option value="MD">Moldova, Republic of</option>
                            <option value="MC">Monaco</option>
                            <option value="MN">Mongolia</option>
                            <option value="MS">Montserrat</option>
                            <option value="MA">Morocco</option>
                            <option value="MZ">Mozambique</option>
                            <option value="MM">Myanmar</option>
                            <option value="NA">Namibia</option>
                            <option value="NR">Nauru</option>
                            <option value="NP">Nepal</option>
                            <option value="NL">Netherlands</option>
                            <option value="AN">Netherlands Antilles</option>
                            <option value="NC">New Caledonia</option>
                            <option value="NZ">New Zealand</option>
                            <option value="NI">Nicaragua</option>
                            <option value="NE">Niger</option>
                            <option value="NG">Nigeria</option>
                            <option value="NU">Niue</option>
                            <option value="NF">Norfolk Island</option>
                            <option value="MP">Northern Mariana Islands</option>
                            <option value="NO">Norway</option>
                            <option value="OM">Oman</option>
                            <option value="PK">Pakistan</option>
                            <option value="PW">Palau</option>
                            <option value="PA">Panama</option>
                            <option value="PG">Papua New Guinea</option>
                            <option value="PY">Paraguay</option>
                            <option value="PE">Peru</option>
                            <option value="PH">Philippines</option>
                            <option value="PN">Pitcairn</option>
                            <option value="PL">Poland</option>
                            <option value="PT">Portugal</option>
                            <option value="PR">Puerto Rico</option>
                            <option value="QA">Qatar</option>
                            <option value="RE">Reunion</option>
                            <option value="RO">Romania</option>
                            <option value="RU">Russian Federation</option>
                            <option value="RW">Rwanda</option>
                            <option value="KN">Saint Kitts and Nevis</option>
                            <option value="LC">Saint LUCIA</option>
                            <option value="VC">Saint Vincent and the Grenadines</option>
                            <option value="WS">Samoa</option>
                            <option value="SM">San Marino</option>
                            <option value="ST">Sao Tome and Principe</option>
                            <option value="SA">Saudi Arabia</option>
                            <option value="SN">Senegal</option>
                            <option value="SC">Seychelles</option>
                            <option value="SL">Sierra Leone</option>
                            <option value="SG">Singapore</option>
                            <option value="SK">Slovakia (Slovak Republic)</option>
                            <option value="SI">Slovenia</option>
                            <option value="SB">Solomon Islands</option>
                            <option value="SO">Somalia</option>
                            <option value="ZA">South Africa</option>
                            <option value="GS">South Georgia and the South Sandwich Islands</option>
                            <option value="ES">Spain</option>
                            <option value="LK">Sri Lanka</option>
                            <option value="SH">St. Helena</option>
                            <option value="PM">St. Pierre and Miquelon</option>
                            <option value="SD">Sudan</option>
                            <option value="SR">Suriname</option>
                            <option value="SJ">Svalbard and Jan Mayen Islands</option>
                            <option value="SZ">Swaziland</option>
                            <option value="SE">Sweden</option>
                            <option value="CH">Switzerland</option>
                            <option value="SY">Syrian Arab Republic</option>
                            <option value="TW">Taiwan, Province of China</option>
                            <option value="TJ">Tajikistan</option>
                            <option value="TZ">Tanzania, United Republic of</option>
                            <option value="TH">Thailand</option>
                            <option value="TG">Togo</option>
                            <option value="TK">Tokelau</option>
                            <option value="TO">Tonga</option>
                            <option value="TT">Trinidad and Tobago</option>
                            <option value="TN">Tunisia</option>
                            <option value="TR">Turkey</option>
                            <option value="TM">Turkmenistan</option>
                            <option value="TC">Turks and Caicos Islands</option>
                            <option value="TV">Tuvalu</option>
                            <option value="UG">Uganda</option>
                            <option value="UA">Ukraine</option>
                            <option value="AE">United Arab Emirates</option>
                            <option value="GB">United Kingdom</option>
                            <option value="US">United States</option>
                            <option value="UM">United States Minor Outlying Islands</option>
                            <option value="UY">Uruguay</option>
                            <option value="UZ">Uzbekistan</option>
                            <option value="VU">Vanuatu</option>
                            <option value="VE">Venezuela</option>
                            <option value="VN">Viet Nam</option>
                            <option value="VG">Virgin Islands (British)</option>
                            <option value="VI">Virgin Islands (U.S.)</option>
                            <option value="WF">Wallis and Futuna Islands</option>
                            <option value="EH">Western Sahara</option>
                            <option value="YE">Yemen</option>
                            <option value="YU">Yugoslavia</option>
                            <option value="ZM">Zambia</option>
                            <option value="ZW">Zimbabwe</option>
                        </select>
                    </td>
                </tr>


                <tr class="credit_card_rows">
                    <td class="credit_card_left"><label for="credit_card_number" class="credit_card_labels">Credit Card Number: </label></td>
                    <td class="credit_card_right">
                        <input type="text" id="credit_card_number" name="card_number" class="modal_input_box credit_card_input_box" placeholder = "... credit card number" />
                        <label for="cvv" class="credit_card_labels cvv_label">cvv:</label>
                        <input type="text" id="cvv" name="cvv" class="modal_input_box credit_card_input_box credit_card_cvv" style="width: 50px;" placeholder = "... cvv" maxlength="4" />
                    </td>
                </tr>

                <tr class="credit_card_rows">
                    <td class="credit_card_left"><label for="credit_card_type" class="credit_card_labels">Credit Card Type: </label></td>
                    <td class="credit_card_right credit_card_icons credit_card_td_big">
                        <select id="credit_card_type" class="modal_input_box credit_card_input_box credit_card_type_box" name="card_type">
                            <option class="opt" value="-1">-select-</option>
                            <option value="visa">Visa</option>
                            <option value="visaexpress">Visa Express</option>
                            <option value="mastercard">Mastercard</option>
                            <option value="discover">Discover</option>
                            <option value="american_express">American Express</option>
                        </select>
                    </td>
                </tr>

                <tr class="credit_card_rows">
                    <td class="credit_card_left"><label for="credit_card_expiration_year" class="credit_card_labels">Expiration Date</label></td>
                    <td class="credit_card_right credit_card_td_big">
                        <label class="credit_card_labels">Year:</label>
                        <select name="expiration_year" class="modal_input_box credit_card_year_combo" id="credit_card_expiration_year">
                            <option class="opt" value="-1">-select-</option>
                            <option value="2012">2012</option>
                            <option value="2013">2013</option>
                            <option value="2014">2014</option>
                            <option value="2015">2015</option>
                            <option value="2016">2016</option>
                            <option value="2017">2017</option>
                            <option value="2018">2018</option>
                            <option value="2019">2019</option>
                            <option value="2020">2020</option>
                            <option value="2021">2021</option>
                            <option value="2022">2022</option>
                            <option value="2023">2023</option>
                            <option value="2024">2024</option>
                            <option value="2025">2025</option>
                        </select>


                        <label class="credit_card_labels">Month:</label>
                        <select name="expiration_month" class="modal_input_box credit_card_month_combo" id="credit_card_expiration_month">
                            <option class="opt" value="-1">-select-</option>
                            <option value="1">January</option>
                            <option value="2">February</option>
                            <option value="3">March</option>
                            <option value="4">April</option>
                            <option value="5">May</option>
                            <option value="6">June</option>
                            <option value="7">July</option>
                            <option value="8">August</option>
                            <option value="9">September</option>
                            <option value="10">October</option>
                            <option value="11">November</option>
                            <option value="12">December</option>
                        </select>

                    </td>
                </tr>

            </table>
        </div>
        <div class="modal-footer">
        <span class="server_errors" id="create_credit_failed"><%= session[:e_create_credit] %></span>
        <p><span id="show_modal_errors"></span></p>
            <div class="button_case_create_organization_and_space">
                <button type="button" class="btn btn_right_create_organization_and_space cancel"><span class="line">| </span>Cancel </button>
                <button type="submit" class="btn btn_left_create_organization_and_space white_btn_text submit_credit_card ok"><span class="line">| </span>Create </button>
            </div>
        </div>

    </form>
</div>


</div>
