<div class="splash">
    <div class="page-margin">
    <div id="cloud_photo"></div>

    <div id="splash_content_area">
        <h2  class="layout_page_header">Uhuru AppCloud - Ready To Go</h2>
        <p class="layout_page_paragraph">
            Host your web applications in minutes. We support apps written in PHP, Node.js, Ruby, Java and .NET.
            Sign up for your free beta account now. Find more details about the Uhuru App Cloud features on our
            <a href="http://www.uhurusoftware.com" class="index_links">web site</a>.
        </p>

        <div id="try_it">
            <span class="title">Give It a <span style="font-weight: bold">Try</span></span><br /><br />
            <span class="byline layout_page_paragraph">It takes <br />30 seconds</span>
        </div>

        <div id="signup_container">
                <div id="promo_code_container">
                    <p class="layout_page_paragraph">
                        Promo Code. No issues if you have none.
                    </p>
                    <input type="text" id="promo_code_input" name="promoCode" />
                </div>

                <button class="btn signup_clipboard" id="signup_button" style="float: right;"><span class="line">| </span>Sign Up </button>
            <div id="signup_container_text">
                <br />
                By using our service you agree to the  <a href="http://uhurusoftware.com/tos" target="_blank" class="index_links">Terms of Service</a>
                and <a href="http://uhurusoftware.com/privacy/" target="_blank" class="index_links">Privacy Policy</a>
            </div>
        </div>
    </div>
</div>
</div>

<div class="page-margin">
    <table id="video_table">
    <tbody>
        <tr>
            <td id="video_placeholder">
                <iframe id="video" width="340" height="240" src="http://www.youtube.com/embed/Iv4VpPjz7y0" style="border: 0;"></iframe>
            </td>
            <td id="video_description">
                <h3 class="layout_page_header">Getting Started</h3>
                <p class="layout_page_paragraph">
                    Learn how to register with Ready To Go and start hosting your own web applications.
                    See how you can setup teams for collaboration on your applications and setup multiple app instances
                    for load balancing and fault tolerance

                </p>
                <br />
                <p class="layout_page_paragraph">
                    We have more how-to videos and documentation in our support forum knowledge base
                    <a href="http://support.uhurusoftware.com/forums/20507726-uhuru-knowledge-bases" class="index_links">..more videos</a>
                </p>
            </td>
        </tr>
    </tbody>
</table>
</div>

<div class="modal hide" id="login_modal">
    <div class="modal-header">
      <% if defined? user_login_failed %>
        <a href="/" class="close"></a>
      <% else %>
          <button type="button" class="close"></button>
      <% end %>
        <h3>Login</h3>
    </div>
    <form action="/login" method="post" autocomplete="off">
        <div class="modal-body" id="login_modal_content">
            <p>
                <label for="id">username: </label>
                <input type="text" id="id" name="username" class="modal_input_box" autofocus="autofocus" value = "<%= if defined? user_login_failed then user_login_failed end %>" autofocus = "autofocus" />
            </p>

            <p>
                <label for="pass">password: </label>
                <input type="password" id="pass" name="password" class="modal_input_box"/>
            </p>

            <p>Forgot your password? Click <a href="#" class="index_links">here</a></p>
        </div>

    <div class="modal-footer">
        <span class="server_errors" id="login_failed"><%= session[:e_login] %></span>
        <div class="button_case_create_organization_and_space">
          <% if defined? user_login_failed %>
              <a href="/" class="btn btn_right_create_organization_and_space cancel"><span class="line">| </span>Cancel</a>
          <% else %>
              <button type="button" class="btn btn_right_create_organization_and_space cancel"><span class="line">| </span>Cancel</button>
          <% end %>
            <button type="submit" class="btn btn_left_create_organization_and_space login_unlocked"><span class="line">| </span>Login </button>
        </div>
    </div>
    </form>
</div>

<div class="modal hide" id="signup_modal">
    <form action="/signup" method="post" autocomplete="off" id="sign_up">
        <div class="modal-header">
          <% if defined? user_failed %>
            <a href="/" class="close"></a>
          <% else %>
              <button type="button" class="close"></button>
          <% end %>
            <h3>Sign Up</h3>
        </div>
            <div class="modal-body" id="signup_modal_content">
                <p>
                    <label for="email">e-mail: </label>
                    <input type="text" id="email" name="email" class="modal_input_box" placeholder="... email" value = "<%= if defined? user_failed then user_failed end %>" autofocus = "autofocus" />
                </p>

                <p>
                    <label for="password">Password: </label>
                    <input type="password" id="password" name="password" class="modal_input_box" />
                </p>

                <p>
                    <label for="confirm_password">Confirm Password: </label>
                    <input type="password" id="confirm_password" name="confirm_password" class="modal_input_box" />
                </p>

                <p>
                    <label for="first_name">First Name: </label>
                    <input type="text" id="first_name" name="first_name" class="modal_input_box" placeholder="... first name" value = "<%= if defined? first_name_failed then first_name_failed end %>" />
                </p>

                <p>
                    <label for="last_name">Last Name: </label>
                    <input type="text" id="last_name" name="last_name" class="modal_input_box" placeholder="... last name" value = "<%= if defined? last_name_failed then last_name_failed end %>" />
                </p>
            </div>

        <div class="modal-footer sign_up_footer_modal">
            <span class="server_errors" id="sign_up_failed"><%= session[:e_sign_up] %></span>
            <span id="show_modal_errors"></span>
            <div class="button_case_create_organization_and_space">
              <% if defined? user_failed %>
                  <a href="/" class="btn btn_right_create_organization_and_space cancel"><span class="line">| </span>Cancel</a>
              <% else %>
                  <a href="#" class="btn btn_right_create_organization_and_space cancel"><span class="line">| </span>Cancel</a>
              <% end %>
                <button type="submit" class="btn btn-success btn_left_create_organization_and_space signup_preferences submit_form"><span class="line">| </span>Sign up </button>
            </div>
        </div>
    </form>
</div>
