<!DOCTYPE html>

<html>

<head>
		<title><%= @usertitle %></title>

        <script type="text/javascript" src="js/jquery-1.5.js"></script>
        <script type="text/javascript" src="js/jquery_ui.js"></script>
        <script type="text/javascript" src="js/showHide.js"></script>
        <script type="text/javascript" src="js/editHeaders.js"></script>
        <script type="text/javascript" src="js/guid.js"></script>

        <link rel="stylesheet" type="text/css" href="css/Site.css"/>
        <link rel="stylesheet" type="text/css" href="css/ini.css"/>
        <link rel="stylesheet" type="text/css" href="css/jquery.css"/>

        <meta charset="utf-8" />

          <script type="text/javascript">
            window.q = [];
            window.$ = function (f) {
                q.push(f);
            };

            //fix to make html5 sections work in IE8 and other browsers that don't support html5
            document.createElement('header');
            document.createElement('hgroup');
            document.createElement('nav');
            document.createElement('menu');
            document.createElement('section');
            document.createElement('article');
            document.createElement('aside');
            document.createElement('footer');
        </script>
</head>


<body class="manage">
<div id="screen"> </div>
<div id="opac_screen"> </div>


    <div id="container">
        <header id="site_header">
            <div class="page-margin">
                <a href="/organizations"><h1>Uhuru AppCloud</h1></a>

                <div id="header_links">
                  <a href="http://www.uhurusoftware.com" target="_blank"><span class="head_link">COMPANY</span></a>
                  <a href="http://uhurusoftware.zendesk.com" target="_blank"><span class="head_link">SUPPORT</span></a>
                </div>
            </div>
        </header>
        <div class="page-margin" id="body">


<div id="cloud_img"> </div>

        <div class="breadcrumb">
            <%= $path_home %><%= $path_1 %><%= $path_2 %>
        </div>

            <%= yield %>



        </div>
        <footer id="site_footer">
            <div class="page-margin">
                <div class="ez-box" style="height: 50px; margin-bottom: 20px;">
                    <span style="line-height: 48px; display: inline-block; float: left">
                        <span class="title_icon"></span>  <span id="tools_">Tools:</span>
                    </span>

                    <div style="height: 50px; margin-left: 45px; float: left">
                        <strong>
                        <a href="#" class="footer_links">Visual Studio Plugin</a><span style="color: #ffffff;"> | </span>
                        <a href="#" class="footer_links">AppCloud Admin</a><span style="color: #ffffff;"> | </span>
                        <a href="http://support.uhurusoftware.com/entries/21454287-deploying-and-managing-apps-with-command-line" target="_blank" class="footer_links">Command Line</a>
                        </strong>
                    </div>
                </div>
            </div>
            <div class="bottom">
                <div class="page-margin" id="footer_container">
                    <span class="copyright">
                        &copy; <%= @timeNow %> Uhuru Software. All rights reserved.
                    </span>
                    <ul class="footer-menu">
                        <li><a href="http://uhurusoftware.com/tos/">Terms of Service</a></li>
                        <li><a href="http://uhurusoftware.com/privacy/">Privacy Policy</a></li>
                        <li class="last"><a href="http://uhurusoftware.zendesk.com" target="_blank">Support</a></li>
                    </ul>
                    <span class="cloud-target">
                        Your cloud target: <span class="cloud-target-url">http://services.uhurucloud.com</span>
                    </span>
                    

                </div>
            </div>
        
        </footer>
    </div>
    <!--@Html.Partial("UrlsPartial")
    @Bundles.RenderScripts()
       -->
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-32996838-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
 
    </script>

<script type="text/javascript" src="js/jquery-1.5.js"></script>
<script type="text/javascript" src="js/jquery_ui.js"></script>
<script type="text/javascript" src="js/fadeIn.js"></script>
<script type="text/javascript" src="js/stringModifier.js"></script>
<script type="text/javascript" src="js/savingModal.js"></script>
<script type="text/javascript" src="js/appDetailsController.js"></script>
<script type="text/javascript" src="js/subscriptionsController.js"></script>



</body>
</html>
