<div class="sections" id="organization_page">

        <div class="manage_content_header">
            <h2 class="section_title">
                <span id="organization_name"><%= session[:currentOrganization_Name] %></span>

                <form action="/updateOrganization" method="post">
                    <input type="text" value="" id="organization_input" name="m_organizationName" class="modal_input_box tiped" />
                    <div class="tooltips">
                        <p>Press enter to update the new name!</p>
                    </div>
                    <input type="submit" style="display: none; width: 1px; height: 1px;" />
                </form>
            </h2>

            <div class="icons_options">
                <input type="button" value="" class="plus_sign_48 plus_sign_position_48" id="create_space_btn" />
                <input type="button" value="" class="plus_sign_48 plus_sign_position_48" id="add_user_btn_owner" onclick="prepareToAddNewUser(this.title)" title="owner" style="display: none;" />

                <input type="button" class="edit_sign_48 edit_sign_position_48" id="edit_space_btn" onclick="showOrganizationsInput();" />
                <input type="submit" class="trash_sign_48 trash_sign_position_48 delete_this_organization" value="" />
            </div>
        </div>

         <div id="organization_div">


                <ul id="tabs" class="nav nav-tabs">
                    <li onclick="showSpaces();" id="spaces_btn_link">Spaces (<span><%= spaces_count %></span>)</li>
                    <li onclick="showMembers();" id="members_btn_link">Members (<span><%= members_count %></span>)</li>
                    <li onclick="showBillings();" id="billings_li">Payment</li>
                </ul>


                <div id="spaces">
                    <ul class="tile_list">

                        <% spaces_list.each do |space| %>
                                <li class="tile_invisible">
                                  <ul class="custom_list">
                                        <li class="tile_space_name" title="<%= space.name %>">
                                            <a href="/space<%= space.guid %>" class="link_tiles_space">
                                                <span class="space_name_span to_underlined"><%= space.name %></span>
                                                <a href="#"><span class="small_trash delete-space-button" id="<%= space.name %>" title="<%= space.guid %>" onmousemove="prepareToDeleteSpace(this);"></span></a>
                                            </a>
                                        </li>

                                        <li class="tile_space_apps">
                                            <span class="count-label apps apps_count_span"># of apps: </span><span class="count-value apps apps_count_span_value"><%= space.apps_count %></span>
                                            <span class="count-label services services_count_span"># of services: </span><span class="count-value services services_count_span_value"><%= space.services_count %></span>
                                        </li>

                                        <li class="tile_space_mothly_cost">
                                            <span class="costs_span">cost:</span><span class="costs_span_value"><!--# space.total_cost -->0</span>
                                            <span class="span_cost_icon"></span>
                                        </li>
                                  </ul>
                                </li>
                        <% end %>

                    </ul>

                <div style="height: 250px; width: 100%"></div>
                </div>


                <div id="members">
                        <ul class="tile_list">

                          <% owners_list.each do |owner| %>
                            <li class="tile_user_owner" title="<%= owner.email %>">
                                <span class="user_name_span"><%= owner.email %></span>
                                <span class="user_type_span">Owner</span>
                                <span class="small_edit edit-user-button"></span>
                                <span class="small_trash delete-user-button"></span>
                                <a href="#"><span class="small_trash delete-user-button" id="<%= owner.email %>" title="<%= owner.guid %>" onmousemove="prepareToDeleteUser(this);"></span></a>

                                <span class="span_bg_icon"></span>
                            </li>
                          <% end %>

                          <% developers_list.each do |developer| %>
                            <li class="tile_user_developer" title="<%= developer.email %>">
                                <span class="user_name_span"><%= developer.email %></span>
                                <span class="user_type_span">Developer</span>
                                <span class="small_edit edit-user-button"></span>
                                <a href="#"><span class="small_trash delete-user-button" id="<%= developer.email %>" title="<%= developer.guid %>" onmousemove="prepareToDeleteUser(this);"></span></a>

                                <span class="span_bg_icon"></span>
                            </li>
                          <% end %>

                          <% managers_list.each do |manager| %>
                            <li class="tile_user_manager" title="<%= manager.email %>">
                                <span class="user_name_span"><%= manager.email  %></span>
                                <span class="user_type_span">Manager</span>
                                <span class="small_edit edit-user-button"></span>
                                <a href="#"><span class="small_trash delete-user-button" id="<%= manager.email %>" title="<%= manager.guid %>" onmousemove="prepareToDeleteUser(this);"></span></a>

                                <span class="span_bg_icon"></span>
                            </li>
                          <% end %>

                        </ul>
                    <div style="height: 50px; width: 100%"></div>
                </div>


                <div id="billings" class="tab-pane">
                    <ul class="tile_list" style="border-bottom: 1px solid #0e4769; padding-bottom: 50px; margin-top: 30px;">

                        <% if org_credit_card == nil or org_credit_card == "You are not authorized to access this information" %>
                            <li class="tile_invisible">
                                <ul class="custom_list">
                                    <li class="tile_credit_card_name_unused credit_card_cursor" title="none">
                                       <span class="credit_card_name">None</span>
                                    </li>

                                    <li class="tile_credit_card_logo_unused">
                                    </li>

                                    <li class="tile_credit_card_details_unused">
                                        <span class="credit_card_first_name_span">None</span>
                                        <span class="credit_card_last_name_span">None</span>
                                    </li>
                                </ul>
                            </li>
                        <% else %>
                            <li class="tile_invisible">
                                <ul class="custom_list">
                                    <li class="tile_credit_card_name credit_card_cursor" title="<%= org_credit_card.first_name + ' ' + org_credit_card.last_name %>">
                                       <a href="#" class="link_tiles_org"><span class="credit_card_name"><%= org_credit_card.first_name + ' ' + org_credit_card.last_name %></span></a>
                                    </li>

                                    <li class="tile_credit_card_logo">
                                        <span class="link_tiles_app span_credit_card_icon_<%= org_credit_card.card_type %>"></span>
                                    </li>

                                    <li class="tile_credit_card_details">
                                        <span class="credit_card_first_name_span"><%= org_credit_card.first_name %></span>
                                        <span class="credit_card_last_name_span"><%= org_credit_card.last_name %></span>
                                    </li>
                                </ul>
                            </li>
                        <% end %>
                    </ul>

                    <ul class="tile_list">
                        <% credit_cards_list.each do |card| %>
                            <li class="tile_invisible">
                                <ul class="custom_list">
                                    <li class="tile_credit_card_name" title="<%= card.first_name + ' ' + card.last_name %>">
                                       <a href="#" class="link_tiles_org add_credit_card_btn" id="<%= card.id %>" onclick="prepareToAddCreditCard(this);"><span class="credit_card_name"><%= card.first_name + ' ' + card.last_name %></span></a>
                                    </li>

                                    <li class="tile_credit_card_logo">
                                        <span class="link_tiles_app span_credit_card_icon_<%= card.card_type %>"></span>
                                    </li>

                                    <li class="tile_credit_card_details">
                                        <span class="credit_card_first_name_span"><%= card.first_name %></span>
                                        <span class="credit_card_last_name_span"><%= card.last_name %></span>
                                    </li>
                                </ul>
                            </li>
                        <% end %>
                    </ul>
                </div>

         </div>



<div class="modal hide" id="add_credit_card_to_organization_modal">
    <div class="modal-header">
        <button class="close"></button>
        <h3>Add credit card</h3>
    </div>

    <div class="modal-body">
        <br />
            <p>
                Are you sure you want to add this credit card to the organization ?
            </p>
        <br />
    </div>

    <div class="modal-footer">
        <div class="button_case_delete_organization_and_space">
            <a href="#" class="btn btn_right_delete_organization_and_space btn_cancel">No</a>
            <form action="/addCreditCardToOrganization" method="post">
                <input type="submit" value="Yes" class="btn btn-danger btn_left_delete_organization_and_space white_btn_text"/>
                <input type="text" name="cardId" id="pass_credit_card_add_id" class="blank_input" />
            </form>
        </div>
    </div>
</div>




<div class="modal hide" id="create_space">
    <div class="modal-header">
        <button type="button" class="close"></button>
        <h3>Create Space</h3>
    </div>
    <form action="/createSpace" method="post">

        <div class="modal-body">
             <p>
                <label for="team_name">Space Name:</label>
                <input type="text" id="org_name" name="spaceName" class="modal_input_box space_name_i" />
            </p>
        </div>
        <div class="modal-footer">
            <span class="server_errors" id="create_space_failed"><%= session[:e_create_space] %></span>
            <div class="button_case_create_organization_and_space">
                <a href="#" class="btn btn_right_create_organization_and_space close" id="cancel_b_c_space">Cancel</a>
                <input type="submit" value="Create" class="btn btn-success btn_left_create_organization_and_space white_btn_text" id="b_c_space" />
                <p class="hidden_modal_messages" id="p_c_space">Your space is being created...</p>
            </div>
        </div>

    </form>
</div>


<div class="modal hide" id="delete_space_modal">
    <div class="modal-header">
        <button class="close"></button>
        <h3>Delete Space</h3>
    </div>
    <div class="modal-body">
        <p>
            Are you sure you want to delete the space "<span id="this_space_name"></span>"?
        </p>
        <br />
        <p>
            <strong>
                WARNING! All applications and services in this space will be deleted! This action cannot be reversed.
            </strong>
        </p>
    </div>
    <div class="modal-footer">
        <span class="server_errors" id="delete_space_failed"><%= session[:e_delete_space] %></span>
        <div class="button_case_delete_organization_and_space">
            <a href="#" class="btn btn_right_delete_organization_and_space close" id="cancel_b_d_space">Cancel</a>
            <form action="/deleteClickedSpace" method="post">
                <input type="submit" value="Delete" class="btn btn-danger btn_left_delete_organization_and_space white_btn_text" id="b_d_space" />
                <input type="text" id="pass_guid" name="spaceGuid" style="display: none;" />
                <p class="hidden_modal_messages" id="p_d_space">Your space is being removed...</p>
            </form>
        </div>

    </div>
</div>



<div class="modal hide" id="delete_user_modal">
    <div class="modal-header">
        <button class="close"></button>
        <h3>Delete User</h3>
    </div>
    <div class="modal-body">
        <p>
            Are you sure you want to delete this user "<span id="this_user_name"></span>"?
        </p>
    </div>
    <div class="modal-footer">
        <span class="server_errors" id="delete_user_failed"><%= session[:e_delete_user] %></span>
        <div class="button_case_delete_organization_and_space">
            <a href="#" class="btn btn_right_delete_organization_and_space close">No</a>
            <form action="/deleteUser" method="post">
                <input type="text" class="blank_input" id="pass_user_guid" value="" name="thisUser"/>
                <input type="submit" class="btn btn-danger btn_left_delete_organization_and_space white_btn_text" value="Delete"/>
            </form>
        </div>

    </div>
</div>



<div class="modal hide" id="delete_this_organization_modal">
    <div class="modal-header">
        <button class="close"></button>
        <h3>Delete organization</h3>
    </div>
    <div class="modal-body">
        <p>
            Are you sure you want to delete this organization?
        </p>
        <br />
        <p>
            <strong>
                WARNING! All Spaces, applications and services in this organization will be deleted! This action cannot be reversed.
            </strong>
        </p>
    </div>
    <div class="modal-footer">
        <div class="button_case_delete_organization_and_space">
            <span class="server_errors" id="delete_this_organization_failed"><%= session[:e_delete_organization] %></span>
            <a href="#" class="btn btn_right_delete_organization_and_space" id="cancel_b_d_organization">No</a>
            <form action="/deleteCurrentOrganization" method="post">
                <input type="submit" value="Delete" class="btn btn-danger btn_left_delete_organization_and_space white_btn_text" id="b_d_organization" />
                <p class="hidden_modal_messages" id="p_d_organization">Your organization is being removed...</p>
            </form>
        </div>
    </div>
</div>


<div class="modal fade" id="add_user">
    <div class="modal-header">
        <button class="close"></button>
        <h3>Invite user</h3>
            <br />
            <p>
                <strong>Note:</strong> Invitation only works with email addresses that are registered with Windows LiveID, GoogleID or Facebook.
                Please confirm this with the invitee before sending the invitation
            </p>
    </div>
    <div class="modal-body">
            <ul class="user_email_ul">
                <label for="inviteEmail">Email address</label>
                <input id="user_email" type="text" class="modal_input_box" onmousemove="prepareToAddNewUserEmail();" />
            </ul>

            <ul class="create_user_modal_ul" id="user_logos">
                <li class="user_modal_li"><img width="32" height="32"  src="../images/Gmail_logo.png" alt=""/>&nbsp;GoogleID</li>
                <li class="user_modal_li"><img width="32" height="32"  src="../images/msn_logo.png" alt=""/>&nbsp;Microsoft LiveID</li>
                <li class="user_modal_li"><img  width="32" height="32"  src="../images/facebook_logo.png" alt=""/>&nbsp;Facebook</li>
            </ul>

            <ul class="create_user_modal_ul" id="radio_buttons">
                <li><input type="radio" name="type" value="owner" id="owner" onclick="selectUserType(this);">Owner</li>
                <li><input type="radio" name="type" value="developer" id="developer" onclick="selectUserType(this);">Developer</li>
                <li><input type="radio" name="type" value="manager" id="manager" onclick="selectUserType(this);">Manager</li>
            </ul>
    </div>
    <div class="modal-footer">
        <span class="server_errors" id="create_user_failed"><%= session[:e_create_user] %></span>
        <div class="button_case_create_organization_and_space">
            <form action="/addUsers" method="post">
                <input type="text" id="new_user_type" name="userType" class="blank_input" />
                <input type="text" id="new_user_email" name="userEmail" class="blank_input" />
                <input type="submit" value="Invite User" class="btn btn-success btn_right_create_organization_and_space white_btn_text" />
            </form>
        </div>
    </div>
</div>

</div>