<div class="sections" id="organizations_page">
    <div class="manage_content_header">
        <h2 class="section_title">
            <span id="organization_text">Organizations </span><span class="count">(<span><%= organizations_count  %></span>)</span>
        </h2>
        <input type="button" class="plus_sign_48 plus_sign_organization" id="create_organization_btn" value="" />
    </div>


  <ul class="tile_list">
    <% organizations_list.each do |org| %>
            <li class="tile_invisible">

                <ul class="custom_list">
                    <li class="tile_organization_name" title="<%= org.name %>">
                        <a href="/organization<%= org.guid%>" class="link_tiles_org" title="<%= org.name %>"><span class="to_be_underlined organization_name_span" title="<%= org.name %>"><%= org.name %></span></a>
                        <a href="#"><input type="button" class="small_trash delete-organization-button" title="<%= org.name %>" id="<%= org.guid %>" onmousemove="prepareToDeleteOrganization(this)" /></a>
                    </li>

                    <li class="tile_organization_members">
                        <span class="organization_members_span">members</span><span class="organization_members_span_value"><%= org.members_count %></span>
                        <span class="span_members_icon"></span>
                    </li>

                    <li class="tile_organization_cost">
                        <span class="organization_cost_span">cost</span><span class="organization_cost_span_value"><%= org.cost %></span>
                        <span class="span_cost_icon"></span>
                    </li>
                </ul>
            </li>
    <% end %>

    <!--<li class="new tile" id="create_organization_btn">
        <span class="icon"></span>
    </li>-->
  </ul>
</div>



<div class="modal hide" id="create_organization">
    <div class="modal-header">
        <button type="button" class="close"></button>
        <h3>Create Organization</h3>
    </div>

    <form action="/createOrganization" method="post" autocomplete="off">
        <div class="modal-body">
            <p>
                <label for="org_name">Organization Name: </label>
                <input type="text" id="org_name" name="orgName" class="modal_input_box" />
            </p>
        </div>
        <div class="modal-footer">
            <span class="server_errors" id="create_organization_failed"><%= session[:e_create_organization] %></span>
            <div class="button_case_create_organization_and_space">
                <a href="#" class="btn btn_right_create_organization_and_space close" id="cancel_b_c_organization">Cancel</a>
                <input type="submit" value="Create" class="btn btn-success btn_left_create_organization_and_space white_btn_text" id="b_c_organization"/>
                <p class="hidden_modal_messages" id="p_c_organization">Your organization is being created...</p>
            </div>
        </div>
    </form>
</div>


<div class="modal hide" id="delete_organization_modal">
    <div class="modal-header">
        <button class="close"></button>
        <h3>Delete organization</h3>
    </div>
    <div class="modal-body">
        <p>
            Are you sure you want to delete the organization "<span id="this_organization_name"></span>"?
        </p>
        <br />
        <p>
            <strong>
                WARNING! All Spaces, applications and services in this organization will be deleted! This action cannot be reversed.
            </strong>
        </p>
    </div>
    <div class="modal-footer">
        <span class="server_errors" id="delete_organization_failed"><%= session[:e_delete_organization] %></span>
        <div class="button_case_delete_organization_and_space">
            <a href="#" class="btn btn_right_delete_organization_and_space close" id="cancel_b_d_organization">No</a>
            <form action="/deleteClickedOrganization" method="post">
                <input type="submit" value="Delete" class="btn btn-danger btn_left_delete_organization_and_space white_btn_text" id="b_d_organization" />
                <input type="text" id="pass_guid" name="orgGuid" class="blank_input" />
                <p class="hidden_modal_messages" id="p_d_organization">Your organization is being removed...</p>
            </form>
        </div>
    </div>
</div>