<div class="sections" id="organizations_page">
    <div class="manage_content_header">
        <h2 class="section_title">
            <span id="organization_text">Organizations </span><span class="count">(<span><% if session[:e_reset_organizations]== false %><%= organizations_count  %><% end %></span>)</span>
        </h2>
        <a href="/create_organization" class="plus_sign_32 plus_sign_organization" id="create_organization_btn" value=""></a>
    </div>

    <ul class="tile_list">
        <% organizations_list.each do |org| %>
        <li class="tile_invisible">
            <ul class="custom_list">
                <li class="tile_organization_name" title="<%= org.name %>">
                    <a href="/organization<%= org.guid%>" class="link_tiles_org" title="<%= org.name %>"><span class="to_be_underlined organization_name_span" title="<%= org.name %>"><%= org.name %></span></a>
                    <a href="/delete_organization?guid=<%= org.guid %>"><input type="button" class="small_trash delete-organization-button" title="<%= org.name %>" id="<%= org.guid %>" onmousemove="prepareToDeleteOrganization(this)" /></a>
                </li>

                <li class="tile_organization_members">
                    <span class="organization_members_span">members</span><span class="organization_members_span_value"><%= org.members_count %></span>
                    <span class="span_members_icon"></span>
                </li>

                <li class="tile_organization_cost">
                    <span class="organization_cost_span">cost</span><span class="organization_cost_span_value"><%= org.cost %></span>
                    <span class="span_cost_icon"></span>
                </li>
            </ul>
        </li>
        <% end %>
    </ul>
</div>



<% if defined?(create_organization_dialog) && (create_organization_dialog == true) %>
    <%= erb(:"modals/create_organization_modal", :layout => false) %>
<% end %>

<% if defined?(delete_organization_dialog) && (delete_organization_dialog == true) %>
    <%= erb(:"modals/delete_organization_modal", :layout => false) %>
<% end %>