<div class="sections" id="organization_page" xmlns="http://www.w3.org/1999/html">

        <div class="manage_content_header">
            <h2 class="section_title">
                <span id="organization_name"><%= session[:currentOrganization_Name] %></span>

                <form action="/updateOrganization" method="post">
                    <input type="text" value="" id="organization_input" name="m_organizationName" class="modal_input_box tiped" />
                    <div class="tooltips">
                        <p>Press enter to update the new name!</p>
                    </div>
                    <input type="submit" style="display: none; width: 1px; height: 1px;" />
                </form>
            </h2>

            <div class="icons_options">
                <input type="button" value="" class="plus_sign_32 plus_sign_position_32" id="create_space_btn" />
                <input type="button" value="" class="plus_sign_32 plus_sign_position_32" id="add_user_btn_owner" onclick="prepareToAddNewUser(this.title)" title="owner" style="display: none;" />

                <input type="button" class="edit_sign_32 edit_sign_position_32" id="edit_space_btn" onclick="showOrganizationsInput();" />
                <input type="submit" class="trash_sign_32 trash_sign_position_32 delete_this_organization" value="" />

                <% if card_type == nil && card_masked_number == nil %>
                      <a href="/create_subscription" id="add_credit_card"><input type="button" class="money_sign_32 money_sign_position_32" id="" value="" /></a>
                <% end %>

            </div>
            <div id="credit_card_info_div">
              <% if card_type != nil && card_masked_number != nil %>
                  <%= card_masked_number %><span class="<%= card_type %>"></span>
              <% end %>
            </div>
        </div>

         <div id="organization_div">
                <ul id="tabs" class="nav nav-tabs">
                    <li onclick="showSpaces();" id="spaces_btn_link">Spaces (<span><%= spaces_count %></span>)</li>
                    <li onclick="showMembers();" id="members_btn_link">Members (<span><%= members_count %></span>)</li>
                    <li onclick="showDomains();" id="domains_btn_link">Domains </li>
                </ul>

                <div id="spaces">
                    <ul class="tile_list">

                        <% spaces_list.each do |space| %>
                                <li class="tile_invisible">
                                  <ul class="custom_list">
                                        <li class="tile_space_name" title="<%= space.name %>">
                                            <a href="/space<%= space.guid %>" class="link_tiles_space">
                                                <span class="space_name_span to_underlined"><%= space.name %></span>
                                                <a href="#"><span class="small_trash delete-space-button" id="<%= space.name %>" title="<%= space.guid %>" onmousemove="prepareToDeleteSpace(this);"></span></a>
                                            </a>
                                        </li>

                                        <li class="tile_space_apps">
                                            <span class="count-label apps apps_count_span">#apps: </span><span class="count-value apps apps_count_span_value"><%= space.apps_count %></span>
                                            <span class="count-label services services_count_span">#services: </span><span class="count-value services services_count_span_value"><%= space.services_count %></span>
                                        </li>

                                        <li class="tile_space_mothly_cost">
                                            <span class="costs_span">cost:</span><span class="costs_span_value"><%= space.cost %></span>
                                            <span class="span_cost_icon"></span>
                                        </li>
                                  </ul>
                                </li>
                        <% end %>

                    </ul>

                <div style="height: 250px; width: 100%"></div>
                </div>

                <div id="members">
                        <ul class="tile_list">
                          <% owners_list.each do |owner| %>
                            <li class="tile_user_owner" title="<%= owner.email %>">
                                <span class="user_name_span"><%= owner.email %></span>
                                <span class="user_type_span">Owner</span>
                                <a href="#"><span class="small_trash delete-user-button" id="<%= owner.guid %>" title="<%= owner.email %>" onmousemove="prepareToDeleteOwner(this);"></span></a>

                                <span class="span_bg_icon"></span>
                            </li>
                          <% end %>

                          <% billings_list.each do |billing| %>
                            <li class="tile_user_developer" title="<%= billing.email %>">
                                <span class="user_name_span"><%= billing.email %></span>
                                <span class="user_type_span">Billing Manager</span>
                                <a href="#"><span class="small_trash delete-user-button" id="<%= billing.guid %>" title="<%= billing.email %>" onmousemove="prepareToDeleteBillingManager(this);"></span></a>

                                <span class="span_bg_icon"></span>
                            </li>
                          <% end %>

                          <% auditors_list.each do |auditor| %>
                            <li class="tile_user_manager" title="<%= auditor.email %>">
                                <span class="user_name_span"><%= auditor.email  %></span>
                                <span class="user_type_span">Auditor</span>
                                <a href="#"><span class="small_trash delete-user-button" id="<%= auditor.guid %>" title="<%= auditor.email %>" onmousemove="prepareToDeleteAuditor(this);"></span></a>

                                <span class="span_bg_icon"></span>
                            </li>
                          <% end %>
                        </ul>
                    <div style="height: 50px; width: 100%"></div>
                </div>
                <div id="domains">
                    Domains
                    <div style="height: 250px; width: 100%"></div>
                </div>

         </div>

<div class="modal hide" id="add_credit_card_to_organization_modal">
    <div class="modal-header">
        <button class="close"></button>
        <h3>Add credit card</h3>
    </div>

    <div class="modal-body">
        <br />
            <p>
                Are you sure you want to add this credit card to the organization ?
            </p>
        <br />
    </div>

    <div class="modal-footer">
    <span class="server_errors" id="add_credit_failed"><%= session[:e_add_credit] %></span>
    <p class="hidden_modal_messages" id="p_add_credit">Adding credit card...</p>
        <div class="button_case_delete_organization_and_space">
            <button type="button" class="btn btn_right_delete_organization_and_space cancel" id="cancel_b_add_credit"><span class="line">| </span>Cancel </button>
            <form action="/addCreditCardToOrganization" method="post">
                <button type="submit" class="btn btn_left_delete_organization_and_space danger" id="b_add_credit"><span class="line">| </span>Add </button>
                <input type="text" name="cardId" id="pass_credit_card_add_id" class="blank_input" />
            </form>
        </div>
    </div>
</div>










</div>