<div class="sections" id="organization_page">

        <div class="manage_content_header">
            <h2 class="section_title">
                <span class="organizations_icon"></span>

                <span id="organization_name"><%= $currentOrganization_Name %></span>

    <!--UPDATE-->   <form action="/updateOrganization" method="post">
                        <input type="text" value="" id="organization_input" maxlength="20" name="m_organizationName"/>   <!--if(event.keyCode == 13){hideOrganizationsInput();} -->
                        <input type="submit" style="display: none; width: 1px; height: 1px;">
                    </form>

            </h2>
            <div class="icons_options">
                <span class="control-icon-large edit" onclick="showOrganizationsInput();">Edit</span>

                    <form action="/deleteCurrentOrganization" method="post">
                        <input type="submit" class="control-icon-large trash">
                    </form>

                <span class="token-icon-large">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            </div>
        </div>

         <div id="organization_div">


                <ul id="tabs" class="nav nav-tabs">
                    <li onclick="showSpaces();" onmouseover="hoverSpaces();" onmouseout="unhoverSpaces();" id="spaces_btn_link">Spaces (<span><%= spaces_count %></span>)</li>
                    <li onclick="showMembers();" onmouseover="hoverMembers();" onmouseout="unhoverMembers();" id="members_btn_link">Members (<span><%= members_count %></span>)</li>
                </ul>

                 <!--SPACES TAB-->

                <div id="spaces">
                    <ul class="tile_list">

                    <% spaces_list.each do |space| %>
                            <li class="tilegreen">
                                <a href="/space<%= space.guid %>" class="link_tiles_space">
                                    <span class="space_name"><%= space.name %></span>
                                    <span class="costs_span">monthly cost: </span><span class="costs_span_value">33</span>
                                    <span class="count-label apps"># of apps: </span><span class="count-value apps"><%= space.apps_count %></span>
                                    <span class="count-label services"># of services: </span><span class="count-value services"><%= space.services_count %></span>

                                    <a href="#"><span class="control-icon trash delete-space-button" id="<%= space.name %>" title="<%= space.guid %>" onmousemove="prepareToDeleteSpace(this);"></span></a>
                                </a>
                            </li>
                    <% end %>

                        <li class="new tile" id="create_space_btn">
                            <span class="icon"></span>
                        </li>

                    </ul>

                <div style="height: 250px; width: 100%"></div>
                </div>


                <!--MEMBERS TAB-->


                <div id="members">

                    <p class="member_titles_p">Owners</p>
                        <ul class="tile_list">

                          <% owners_list.each do |owner| %>
                            <li class="tileorange_members">
                                <span class="organization_question">qu</span>
                                <span class="organization_check">chk</span>
                                <span class="user_name_span"><%= owner.email %></span>
                                <span class="user_type_span">Developer</span>
                                <span class="control-icon edit edit-user-button"></span>
                                <span class="control-icon trash delete-user-button"></span>
                            </li>
                          <% end %>


                          <!--THIS IS WHERE USER CA ADD MORE OWNERS-->

                            <li class="new tile" id="add_user_btn_owner" onclick="prepareToAddNewUser(this.title)" title="owner">
                                <span class="icon"></span>
                            </li>

                          <!--// //-->
                        </ul>
                    <p class="member_titles_p">Developers</p>
                        <ul class="tile_list">

                          <% developers_list.each do |developer| %>

                            <li class="tileblue">
                                <span class="organization_question">qu</span>
                                <span class="organization_check">chk</span>
                                <span class="user_name_span"><%= developer.email %></span>
                                <span class="user_type_span">Developer</span>
                                <span class="control-icon edit edit-user-button"></span>
                                <span class="control-icon trash delete-user-button"></span>
                            </li>
                          <% end %>

                          <!--THIS IS THE + BUTTON FOR DEVELOPERS-->
                            <li class="new tile" id="add_user_btn_developer" onclick="prepareToAddNewUser(this.title)" title="developer">
                                <span class="icon"></span>
                            </li>
                          <!--// //-->
                        </ul>
                    <p class="member_titles_p">Business Manager</p>
                        <ul class="tile_list">

                          <% managers_list.each do |manager| %>

                            <li class="tilered">
                                <span class="organization_question">qu</span>
                                <span class="organization_check">chk</span>
                                <span class="user_name_span">NoName</span>
                                <span class="user_type_span"><%= manager.email  %></span>
                                <span class="control-icon edit edit-user-button"></span>
                                <span class="control-icon trash delete-user-button"></span>
                            </li>

                          <% end %>

                          <!--THIS IS THE MANAGERS + BUTTON-->
                            <li class="new tile" id="add_user_btn_manager" onclick="prepareToAddNewUser(this.title)" title="manager">
                                <span class="icon"></span>
                            </li>
                          <!--// //-->
                        </ul>

                    <div style="height: 50px; width: 100%"></div>
                </div>

         </div>



<div class="modal hide" id="create_space">
    <div class="modal-header">
        <button type="button" class="close">×</button>
        <h3>Create Space</h3>
    </div>
    <form action="/createSpace" method="post">

        <div class="modal-body">
             <p>
                <label for="team_name">Space Name:</label>
                <input type="text" id="org_name" name="spaceName"/>
            </p>
        </div>
        <div class="modal-footer">
            <div class="button_case_create_organization_and_space">
                <a href="#" class="btn btn_right_create_organization_and_space" id="cancel_b_c_space">Cancel</a>
                <input type="submit" value="Create" class="btn btn-success btn_left_create_organization_and_space white_btn_text" id="b_c_space" />
                <p class="hidden_modal_messages" id="p_c_space">Your space is being created...</p>
            </div>
        </div>

    </form>
</div>


<div class="modal hide" id="delete_space_modal">
    <div class="modal-header">
        <button class="close">×</button>
        <h3>Delete Space</h3>
    </div>
    <div class="modal-body">
        <p>
            Are you sure you want to delete the space "<span id="this_space_name"></span>"?
        </p>
        <br />
        <p>
            <strong>
                WARNING!!! All applications and services in this space will be DELETED!!! This action cannot be reversed.
            </strong>
        </p>
    </div>
    <div class="modal-footer">
        <div class="button_case_delete_organization_and_space">
            <a href="#" class="btn btn_right_delete_organization_and_space" id="cancel_b_d_space">No</a>
            <form action="/deleteClickedSpace" method="post">
                <input type="submit" class="btn btn-danger btn_left_delete_organization_and_space white_btn_text" id="b_d_space" />
                <input type="text" id="pass_guid" name="spaceGuid" style="display: none;" />
                <p class="hidden_modal_messages" id="p_d_space">Your space is being removed...</p>
            </form>
        </div>

    </div>
</div>


<!--THIS IS A MODAL THAT ADDS A NEW USER : OWNER : DEV : MANAGER-->

<div class="modal fade" id="add_user" onmousemove="prepareToAddNewUserEmail();">
    <div class="modal-header">
        <button class="close">×</button>
        <h3>Invite user</h3>
            <br />
            <p>
                <strong>Note:</strong> Invitation only works with email addresses that are registered with Windows LiveID, GoogleID or Facebook.
                Please confirm this with the invitee before sending the invitation
            </p>
    </div>
    <div class="modal-body">
        <div>
            <ul class="user_email_ul">
                <label for="inviteEmail">Email address</label>
                <input id="user_email" type="text" />
            </ul>

            <ul class="create_user_modal_ul" id="user_logos">
                <li class="user_modal_li"><img width="32" height="32"  src="../images/Gmail_logo.png" alt=""/>&nbsp;GoogleID</li>
                <li class="user_modal_li"><img width="32" height="32"  src="../images/msn_logo.png" alt=""/>&nbsp;Microsoft LiveID</li>
                <li class="user_modal_li"><img  width="32" height="32"  src="../images/facebook_logo.png" alt=""/>&nbsp;Facebook</li>
            </ul>
        </div>
    </div>
    <div class="modal-footer">
        <div class="button_case_create_organization_and_space">
            <form action="/addUsers" method="post">
                <input type="text" id="new_user_type" name="userType" class="blank_input" />
                <input type="text" id="new_user_email" name="userEmail" class="blank_input" />

                <input type="submit" value="Invite User" class="btn btn-success btn_right_create_organization_and_space white_btn_text" />

            </form>
        </div>
    </div>
</div>

<!--// //-->
</div>