<div class="sections" id="organization_page">

        <div class="manage_content_header">
            <h2 class="section_title">
                <span class="organizations_icon"></span>

                <span id="organization_name"><%= $currentOrganization_Name %></span>

    <!--UPDATE-->   <form action="/updateOrganization" method="post">
                        <input type="text" value="" id="organization_input" maxlength="20" name="m_organizationName"/>   <!--if(event.keyCode == 13){hideOrganizationsInput();} -->
                        <input type="submit" style="display: none; width: 1px; height: 1px;">
                    </form>

            </h2>
            <div class="icons_options">
                <span class="control-icon-large edit" onclick="showOrganizationsInput();">Edit</span>

                    <form action="/deleteCurrentOrganization" method="post">
                        <input type="submit" class="control-icon-large trash">
                    </form>

                <span class="token-icon-large">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            </div>
        </div>

         <div id="organization_div">


                <ul id="tabs" class="nav nav-tabs">
                    <li id="spaces_btn" onclick="showSpaces();" onmouseover="hoverSpaces();" onmouseout="unhoverSpaces();"><a href="#apps" id="spaces_btn_link">Spaces (<span><%= spaces_count %></span>)</a></li>
                    <li id="members_btn" onclick="showMembers();" onmouseover="hoverMembers();" onmouseout="unhoverMembers();"><a href="#services" id="members_btn_link">Members (<span><%= members_count %></span>)</a></li>
                </ul>

                 <!--SPACES TAB-->

                <div id="spaces">
                    <ul class="tile_list">

                    <% spaces_list.each do |space| %>
                        <a href="/space<%= space.guid %>">
                            <li class="tileorange">
                                <span class="space_name"><%= space.name %></span>
                                <span class="costs_span">monthly cost: </span><span class="costs_span_value">33</span>
                                <span class="count-label apps"># of apps: </span><span class="count-value apps"><%= space.apps_count %></span>
                                <span class="count-label services"># of services: </span><span class="count-value services"><%= space.services_count %></span>

                                <a href="#"><span class="control-icon trash delete-space-button" id="<%= space.name %>" title="<%= space.guid %>" onmousemove="setSpaceGuid(this);"></span></a>

                            </li>
                        </a>
                    <% end %>

                        <li class="new tile" id="create_space_btn">
                            <span class="icon"></span>
                        </li>

                    </ul>

                <div style="height: 250px; width: 100%"></div>
                </div>


                <!--MEMBERS TAB-->


                <div id="members">

                    <p class="member_titles_p">Owners</p>
                        <ul class="tile_list">

                          <% owners_list.each do |owner| %>
                            <li class="tileorange_members">
                                <span class="organization_question">qu</span>
                                <span class="organization_check">chk</span>
                                <span class="user_name_span"><%= owner.email %></span>
                                <span class="user_type_span">Developer</span>
                                <span class="control-icon edit edit-user-button"></span>
                                <span class="control-icon trash delete-user-button"></span>
                            </li>
                          <% end %>


                          <!--THIS IS WHERE USER CA ADD MORE OWNERS-->

                            <li class="new tile" id="add_user_btn1">
                                <span class="icon"></span>
                            </li>

                          <!--// //-->
                        </ul>
                    <p class="member_titles_p">Developers</p>
                        <ul class="tile_list">

                          <% developers_list.each do |developer| %>

                            <li class="tileblue">
                                <span class="organization_question">qu</span>
                                <span class="organization_check">chk</span>
                                <span class="user_name_span"><%= developer.email %></span>
                                <span class="user_type_span">Developer</span>
                                <span class="control-icon edit edit-user-button"></span>
                                <span class="control-icon trash delete-user-button"></span>
                            </li>
                          <% end %>

                          <!--THIS IS THE + BUTTON FOR DEVELOPERS-->
                            <li class="new tile" id="add_user_btn2">
                                <span class="icon"></span>
                            </li>
                          <!--// //-->
                        </ul>
                    <p class="member_titles_p">Business Manager</p>
                        <ul class="tile_list">

                          <% managers_list.each do |manager| %>

                            <li class="tilered">
                                <span class="organization_question">qu</span>
                                <span class="organization_check">chk</span>
                                <span class="user_name_span">NoName</span>
                                <span class="user_type_span"><%= manager.email  %></span>
                                <span class="control-icon edit edit-user-button"></span>
                                <span class="control-icon trash delete-user-button"></span>
                            </li>

                          <% end %>

                          <!--THIS IS THE MANAGERS + BUTTON-->
                            <li class="new tile" id="add_user_btn3">
                                <span class="icon"></span>
                            </li>
                          <!--// //-->
                        </ul>

                    <div style="height: 50px; width: 100%"></div>
                </div>

         </div>



<div class="modal hide" id="create_space">
    <div class="modal-header">
        <button type="button" class="close">×</button>
        <h3>Create Space</h3>
    </div>
    <form action="/createSpace" method="post">

        <div class="modal-body">
             <p>
                <label for="team_name">Space Name:</label>
                <input type="text" id="org_name" name="spaceName"/>
            </p>
        </div>
        <div class="modal-footer">
                <a href="#" class="btn">Cancel</a>
                <input type="submit" value="Create" class="btn btn-success" />
                <%= @message %>
        </div>

    </form>
</div>


<div class="modal hide" id="delete_space_modal" onmousemove="getSpaceGuid()">
    <div class="modal-header">
        <button class="close">×</button>
        <h3>Delete Space</h3>
    </div>
    <div class="modal-body">
        <p>
            Are you sure you want to delete the space "<span></span>"?
        </p>
        <br />
        <p>
            <strong>
                WARNING!!! All applications and services in this space will be DELETED!!! This action cannot be reversed.
            </strong>
        </p>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn">No</a>

            <form action="/deleteClickedSpace" method="post">
                <input type="submit" class="btn btn-danger" />
                <input type="text" id="pass_guid" name="spaceGuid" style="display: none;" />
                <%= @message %>
            </form>

    </div>
</div>


<!--THIS IS A MODAL THAT ADDS A NEW USER : OWNER : DEV : MANAGER-->

<div class="modal fade" id="add_user">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" >×</button>
        <h3>Invite user</h3>
        <br />
        <p>
        <strong>Note:</strong> Invitation only works with email addresses that are registered with Windows LiveID, GoogleID or Facebook.
        Please confirm this with the invitee before sending the invitation
        </p>
    </div>
    <div class="modal-body" style="left:300">
        <div>
            <label for="inviteEmail">Email address</label>
            <input id="inviteEmail" type="text" />

            <ul class="unstyled">
                <li style="padding-bottom: 5px"><img width="32" height="32"  src="../../Content/images/Gmail_logo.png" alt=""/>&nbsp;GoogleID</li>
                <li style="padding-bottom: 5px"><img width="32" height="32"  src="../../Content/images/msn_logo.png" alt=""/>&nbsp;Microsoft LiveID</li>
                <li style="padding-bottom: 5px"><img  width="32" height="32"  src="../../Content/images/facebook_logo.png" alt=""/>&nbsp;Facebook</li>
            </ul>
        </div>
        <p data-bind="visible: mode() === 'saving'">Inviting user...</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success">Invite User</button>
    </div>
</div>

<!--// //-->
</div>