<div class="sections" id="space_page">

        <div class="manage_content_header">
            <h2 class="section_title">
                <span id="space_name"><%= session[:currentSpace_Name] %></span>

                <form action="/updateSpace" method="post">
                    <input type="text" value="" id="space_input" name="m_spaceName" class="modal_input_box tiped" />
                    <div class="tooltips">
                        <p>Press enter to update the new name!</p>
                    </div>
                    <input type="submit" style="display: none; width: 1px; height: 1px;">
                </form>

            </h2>
            <div class="icons_options">
                <input type="button" value="" class="plus_sign_48 plus_sign_position_48" id="create_app" />
                <input type="button" value="" class="plus_sign_48 plus_sign_position_48" id="create_service" style="display: none;" />

                <input type="button" value="" class="edit_sign_48 edit_sign_position_48" id="edit_space_btn" onclick="showSpacesInput();" />
                <input type="button" class="trash_sign_48 trash_sign_position_48 delete_this_space" value="" />
            </div>
        </div>

         <div id="team_tabs">

           <ul id="spaces_tabs" class="nav nav-tabs">
                <li onclick="showApps();" id="apps_li">Apps (<span><%= apps_count %></span>)</li>
                <li onclick="showServices();" id="services_li">Services (<span><%= services_count %></span>)</li>
                <li onclick="showUsers();" id="users_li">Users (<span>count</span>)</li>
            </ul>
                <div id="apps" class="tab_pane">
                    <ul class="tile_list">

                    <% apps_list.each do |app| %>
                    <li class="tile_invisible read_app_details">
                        <ul class="custom_list">
                            <li class="tile_app_name" title="<%= app.name %>">
                                    <a href="#" class="link_tiles_app show_this_app_details" id="<%= app.name %>">
                                        <span class="app_name" id="<%= app.name %>" title="<%= app.name %>"><%= app.name %></span>
                                        <span class="app_state blank_input" id="<%= app.state %>"></span>
                                        <span class="app_instances blank_input" id="<%= app.instances %>"></span>
                                        <span class="app_memory blank_input" id="<%= app.memory %>"></span>
                                    </a>

                                    <span class="app_instances" id="<%= app.instances %>">instances: <%= app.instances %></span>
                                    <span class="app_memory" id="<%= app.memory %>">memory: <%= app.memory %></span>

                                    <span class="small_trash delete-app-button" id="<%= app.name %>" title="<%= app.name %>" onmousemove="prepareToDeleteApp(this);"></span>
                            </li>

                            <li class="tile_app_logo">
                                <span href="#" class="link_tiles_app show_this_app_details app-<%= app.runtime %>" id="<%= app.name %>"></span>
                            </li>

                            <li class="tile_app_details <%= app.state %>">
                                <span class="app_state" id="<%= app.state %>"><%= app.state %></span>
                                <!--<span class="app_runtime" id="<%= app.runtime %>"><%= app.runtime %></span> -->
                            </li>
                        </ul>
                    </li>

                        <div class="modal fade hide app_details_modal" id="details_<%= app.name %>">
                            <div class="modal_header" id="app_details_header">
                                <button type="button" class="close_app_details close"></button>
                            </div>

                            <div class="modal-body app_body">
                                <table>
                                    <tr>
                                        <td>
                                            <div class="app-control">
                                                <div class="tile_app_name">
                                                    <span class="app_name_big"><%= app.name %></span>
                                                    <span class="app_status" style="font-weight: bold">Status: <span style="font-weight: normal" class="pass_app_status"><%= app.state %></span></span>
                                                    <a href="#"><span class="small_trash delete-app-button" id="<%= app.name %>" title="<%= app.name %>" onmousemove="prepareToDeleteApp(this);"></span></a>
                                                </div>

                                                <form action="/startApp" method="post">
                                                    <input type="text" name="appName" value="<%= app.name %>" class="blank_input" />
                                                    <input type="submit" name="startApp" class="start start_button_apps startApp_btn" value="" />
                                                </form>

                                                <form action="/stopApp" method="post">
                                                    <input type="text" name="appName" value="<%= app.name %>" class="blank_input" />
                                                    <input type="submit" name="stopApp" class="stop stop_button_apps stopApp_btn" value="" />
                                                </form>
                                            </div>
                                        </td>
                                      <td></td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <h4 class="app_details_titles">Services Bound
                                            <input type="button" class="plus button_bound_services get_service_name" style="float: right;" title="<%= app.name %>" /></h4>
                                            <div id="hidden_app_div" style="display: none;">
                                                <span class="hidden_span"></span>
                                            </div>
                                            <ul class="app_details_ul">
                                                <% app.services.each do |service| %>
                                                    <li class="tile_service_name get_service_name" id="<%= service.name %>" title="<%= app.name %>">
                                                        <span class="service_name" title="<%= service.name %>"><%= service.name %></span>
                                                        <input type="button" class="small_trash button_unbound_services" value="" />
                                                    </li>
                                                <% end %>
                                            </ul>
                                        </td>
                                        <td>
                                            <h4 class="app_details_titles">URIs Bound <input type="button" class="plus button_bound_uri get_uri_name" style="float: right;" title="<%= app.name %>" /></h4>
                                            <ul class="app_details_ul">
                                                <% app.uris.each do |uri| %>
                                                    <li class="tile_space_name get_uri_name" id="<%= uri.url %>" title="<%= app.name %>">
                                                        <span class="uri_name" title="<%= uri.url %>"><%= uri.url %></span>
                                                        <input type="button" class="small_trash button_unbound_uri" value="" />
                                                    </li>
                                                <% end %>
                                            </ul>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <h4 class="app_details_titles">App Instances
                                                <span style="float: right">
                                                    <input type="button" class="minus app_minus_instance" />
                                                    <input type="button" class="plus app_plus_instance"  />
                                                </span>
                                            </h4>

                                                <ul class="app_details_ul">
                                                    <li class="tile_app_details_instances">
                                                        <span class="instance-info">
                                                            <span class="instance-count pass_app_instances app_instances_count"><%= app.instances %></span>
                                                            <span class="instance-type">Provisioned</span>
                                                        </span>
                                                        <span class="instance-info">
                                                            <span class="instance-count pass_app_instances"><%= app.instances %></span>
                                                            <span class="instance-type">Running</span>
                                                        </span>
                                                    </li>
                                                </ul>
                                                <p class="app_text_p" style="text-align: left;">
                                                    Max memory: 1024MB
                                                </p>
                                        </td>
                                        <td>
                                            <h4 class="app_details_titles">Memory Provisioned
                                                <span style="float: right">
                                                    <input type="button" class="minus app_minus_memory" />
                                                    <input type="button" class="plus app_plus_memory" />
                                                </span>
                                            </h4>
                                            <ul class="app_details_ul">
                                                <li class="tile_app_details_memory" style="color: #fff;">
                                                    <span class="instance-count pass_app_memory">
                                                          <div class="app_memory_count">
                                                             <%= app.memory %>
                                                          </div>
                                                    </span>
                                                    <span class="instance-type">MB</span>
                                                </li>
                                            </ul>
                                            <div class="slider_case">
                                                <div class="slider_div_app" id="slider_case_<%= app.name %>" style="height: 12px;">

                                                    <div id="slider_<%= app.name %>"></div>

                                                </div>

                                                <p class="app_text_p" style="text-align: left;">
                                                    Max memory: 1024MB
                                                </p>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>

                            <div class="modal-footer app_details_footer">
                                <span class="server_errors" id="start_app_failed"><%= session[:e_start_app] %></span>
                                <span class="server_errors" id="stop_app_failed"><%= session[:e_stop_app] %></span>
                                <span class="server_errors" id="update_app_failed"><%= session[:e_update_app] %></span>
                                <form action="/updateApp" method="post">
                                    <input type="text" class="send_app_name blank_input" name="appName" value="<%= app.name %>" />
                                    <input type="text" class="send_app_instances blank_input" name="appInstances" value="<%= app.instances %>"/>
                                    <input type="text" class="send_app_memory blank_input" name="appMemory" value="<%= app.memory %>" />

                                    <div class="button_case_create_organization_and_space">
                                        <button type="button" class="btn btn_right_create_organization_and_space close_app_details cancel"><span class="line">| </span>Cancel </button>
                                        <button type="submit" class="btn btn_left_create_organization_and_space blank_input hidden_app_details_submit_button ok"><span class="line">| </span>Update </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                <% end %>
                </ul>
            </div>

            <div id="services" class="tab-pane">
                <ul class="tile_list">

                    <% services_list.each do |service| %>
                        <li class="tile_invisible">
                          <ul class="custom_list">
                              <li class="tile_service_name" title="<%= service.name %>">
                                    <span>
                                        <span class="service_name"><%= service.name %></span>
                                        <a href="#"><span class="small_trash delete-service-button" id="<%= service.name %>" title="<%= service.guid %>" onmousemove="prepareToDeleteService(this);"></span></a>
                                    </span>
                              </li>

                              <li class="tile_service_logo">
                                    <span href="#" class="link_tiles_app  service-icon-<%= service.type %>"></span>
                              </li>

                              <li class="tile_service_details">
                                <span class="service_plan_span">Plan: <%= service.type %></span>
                                <span class="service_cost_span">Cost: <%= service.type %></span>
                              </li>
                          </ul>
                        </li>
                    <% end %>
                </ul>
            </div>
</div>


<div class="modal hide" id="delete_this_space_modal">
    <div class="modal-header">
        <button class="close"></button>
        <h3>Delete Space</h3>
    </div>
    <div class="modal-body">
        <p>
            Are you sure you want to delete this space?
        </p>
        <br />
        <p>
            <strong>
                WARNING! All applications and services in this space will be deleted! This action cannot be reversed.
            </strong>
        </p>
    </div>
    <div class="modal-footer">
        <div class="button_case_delete_organization_and_space">
            <span class="server_errors" id="delete_this_space_failed"><%= session[:e_delete_space] %></span>
            <button type="button" class="btn btn_right_delete_organization_and_space cancel" id="cancel_b_d_space"><span class="line">| </span>Cancel </button>
            <form action="/deleteCurrentSpace" method="post">
                <button type="submit" class="btn btn_left_delete_organization_and_space danger"><span class="line">| </span>Delete </button>
                <p class="hidden_modal_messages" id="p_d_space">Your space is being removed...</p>
            </form>
        </div>
    </div>
</div>

<div class="modal fade hide" id="create_tempcta_modal">
    <div class="modal-header" style="background-color: #09293e">
        <button class="close"></button>
        <h3>Add a new app template</h3>
    </div>

    <div class="modal-body">
        <div id="app_small_container">
            <ul class="create_app_side_list" id="create_app_templates_list">
                <li class="create_app_side_list_templates_li">Joomla</li>
                <li class="create_app_side_list_templates_li">Drupal</li>
                <li class="create_app_side_list_templates_li">Orchard</li>
                <li class="create_app_side_list_templates_li">Umbraco</li>
                <li class="create_app_side_list_templates_li">Magento</li>
                <li class="create_app_side_list_templates_li">Wordpress</li>
                <li class="create_app_side_list_templates_li">SugarCRM</li>
            </ul>

            <table id="new_app_name_table">
                <tbody>
                    <tr>
                        <td class="create_app_header_tab_right">
                            Templates
                        </td>
                    </tr>
                </tbody>
            </table>

            <div id="create_app_templates">
                <% apps_names.each do |name| %>
                    <div class="create_app_side_container" id="<%= name['name'] %>">

                          <div class="create_app_descriptions_icon">
                              <span href="#" class="link_tiles_app" id="app_<%= name['name'] %>"></span>
                          </div>

                          <h1><%= name['name'] %></h1>
                          <h4><%= name['framework']['info']['description'] %></h4>
                          <br />

                          <a href="<%= name['download'] %>">
                              <input type="button" value="Download" class="create_app_download_btn"/>
                          </a>

                          <form action="/createApp" method="post" class="create_app_form">

                              <p class="create_app_tip_paragraph">Deploy this app now</p>
                              <p class="create_app_tip_paragraph">The app's URL:</p>

                              <div id = "<%= name['id'] %>">
                                  <span class="app_name_span blank_input"><%= name['name'] %></span>
                                  <input type="text" value="<%= name['framework']['info']['exec'] %>" name="appFramework" class="blank_input" />
                                  <input type="text" value="<%= name['runtime'] %>" name="appRuntime"  class="blank_input" />
                                  <input type="text" value="<%= name['memory'] %>" name="appMemory" class="blank_input" />
                                  <input type="text" value="<%= name['path'] %>" name="appPath" class="blank_input" />
                                  <input type="text" value="<%= name['domain'] %>" name="appDomain" class="blank_input" />
                                  <input type="text" value="<%= name['services']['plan'] %>" name="appPlan" class="blank_input" />

                                  <input type="text" name="appName" id="app_name" class="modal_input_box create_app_input_box"/>
                              </div>

                              <input type="submit" value="Push" class="create_app_push_btn"/>
                          </form>
                    </div>
                <% end %>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <span class="server_errors" id="create_app_failed"><%= session[:e_create_app] %></span>
        <div class="button_case_create_organization_and_space">
            <button type="button" class="btn btn_right_create_organization_and_space cancel"><span class="line">| </span>Cancel </button>
        </div>
    </div>
</div>

<div class="modal fade hide" id="delete_app">
    <div class="modal-header">
        <button class="close"></button>
        <h3>Delete App</h3>
    </div>
    <div class="modal-body">
        <p>
            Are you sure you want to delete the app &nbsp;<span id="this_app_name"></span>?
        </p>
    </div>
    <div class="modal-footer">
        <span class="server_errors" id="delete_app_failed"><%= session[:e_delete_app] %></span>
        <div class="button_case_delete_organization_and_space">
            <button class="btn btn_right_delete_organization_and_space cancel"><span class="line">| </span>Cancel </button>
            <form action="/deleteClickedApp" method="post">
                <button type="submit" class="btn btn_left_delete_organization_and_space danger"><span class="line">| </span>Delete </button>
                <input type="text" id="pass_app" name="appGuid" class="blank_input" />
            </form>
        </div>
    </div>
</div>

<div class="modal fade hide" id="add_ctService_modal" onmousemove="newServiceName();">
    <div class="modal-header">
        <button class="close"></button>
        <h3>New Service</h3>
    </div>

    <div class="modal-body">
        <p>
            <label for="team_services_list">Service Type</label>
            <select id="team_services_list" class="modal_input_box">
                <option value="test1">1</option>
                <option value="test2">2</option>
                <option value="test3">3</option>
            </select>
        </p>
        <p>
            <label for="service_name">Name</label>
            <input type="text" id="service_name" class="modal_input_box"/>
        </p>
    </div>

    <div class="modal-footer">
        <span class="server_errors" id="create_service_failed"><%= session[:e_create_service] %></span>
        <div class="button_case_create_organization_and_space">
          <button type="button" class="btn btn_right_create_organization_and_space cancel"><span class="line">| </span>Close </button>

          <form action="/createService" method="post">
                <input type="text" id="new_service_name" name="serviceName" class="blank_input"/>
                <button type="submit" class="btn btn_left_create_organization_and_space ok"><span class="line">| </span>Create </button>
          </form>

        </div>
    </div>
</div>

<div class="modal fade hide" id="delete_service">
    <div class="modal-header">
        <button class="close"></button>
        <h3>Delete Service</h3>
    </div>
    <div class="modal-body">
        <p>
            Are you sure you want to delete the service &nbsp;<span id="this_service_name"></span>?
        </p>
    </div>
    <div class="modal-footer">
        <span class="server_errors" id="delete_service_failed"><%= session[:e_delete_service] %></span>
        <div class="button_case_delete_organization_and_space">
            <button class="btn btn_right_delete_organization_and_space cancel"><span class="line">| </span>Cancel </button>
            <form action="/deleteClickedService" method="post">
                <button type="submit" class="btn btn_left_delete_organization_and_space danger"><span class="line">| </span>Delete </button>
                <input type="text" id="pass_service" name="serviceGuid" class="blank_input" />
            </form>
        </div>
    </div>
</div>

<div class="modal fade hide" id="bind_service_modal">
    <form action="/bindServices" method="post">

        <div class="modal-header">
            <h3>Add service</h3>
        </div>
        <div class="modal-body">
            <p>Add a new service to <span></span></p>
            <p>
                <label for="bind_services_list">Available services</label>
                <select id="bind_services_list" name="serviceName" class="modal_input_box">
                    <% services_list.each do |service| %>
                        <option value="<%= service.name %>" id="<%= service.name %>"> <%= service.name %> </option>
                    <% end %>
                </select>
            </p>
        </div>
        <div class="modal-footer">
        <span class="server_errors" id="bind_service_failed"><%= session[:e_bind_service] %></span>
            <input type="text" id="bind_service_app_name" name="appName" class="blank_input"/>
            <div class="button_case_create_organization_and_space">
                <button type="button" class="btn btn_right_bind cancel"><span class="line">| </span>Cancel </button>
                <button type="submit" class="btn btn_left_bind ok"><span class="line">| </span>Bind </button>
            </div>
        </div>
    </form>
</div>

<div class="modal fade hide" id="unbind_service_modal">
    <div class="modal-header">
        <h3>Unbind service</h3>
    </div>
    <div class="modal-body">
        <p>
            Are you sure you want to unbind <span style="font-weight: bold">
            </span> from <span style="font-weight: bold"></span>? Your
            app will no longer be able to connect to this service.
        </p>
        <p>
            Unbinding does not delete the service. Please delete service from service page to permanently delete it.
        </p>
    </div>
    <div class="modal-footer">
        <span class="server_errors" id="unbind_service_failed"><%= session[:e_unbind_service] %></span>
        <form action="/unbindServices" method="post">
            <input type="text" name="serviceName" id="unbind_serviceName" class="blank_input"/>
            <input type="text" id="unbind_service_app_name" name="appName" class="blank_input" />
            <div class="button_case_create_organization_and_space">
                <button type="button" class="btn btn_right_unbind cancel"><span class="line">| </span>Cancel </button>
                <button type="submit" class="btn btn_left_unbind danger"><span class="line">| </span>Unbind </button>
            </div>
        </form>
    </div>
</div>

<div class="modal fade hide" id="bind_uri_modal">
    <div class="modal-header">
        <h3>Add new URI</h3>
    </div>
    <div class="modal-body">
        <p>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <input id="newUri" class="modal_input_box"/>
                        </td>
                        <td style="vertical-align: top; color: #ffffff;">
                            .uhurucloud.com
                        </td>
                    </tr>
                </tbody>
            </table>
        </p>
    </div>
    <div class="modal-footer bind_uri_footer">
        <span class="server_errors" id="bind_url_failed"><%= session[:e_bind_url] %></span>
        <form action="/bindUri" method="post">
            <input type="text" name="uriName" id="uriName" class="blank_input"/>
            <input type="text" id="bind_uri_app_name" name="appName" class="blank_input" />
            <div class="button_case_create_organization_and_space">
                <button type="button" class="btn btn_right_bind cancel"><span class="line">| </span>Cancel </button>
                <button type="submit" class="btn btn_left_bind ok"><span class="line">| </span>Bind </button>
            </div>
        </form>
    </div>
</div>

<div class="modal fade hide" id="unbind_uri_modal">
    <div class="modal-header">
        <h3>Unbind URI</h3>
    </div>
    <div class="modal-body">
        <p>
            Are you sure you want to unbind this app? Your app will no longer be able to use this URI.<br />
        </p>
    </div>
    <div class="modal-footer">
        <span class="server_errors" id="unbind_url_failed"><%= session[:e_unbind_url] %></span>
        <form action="/unbindUri" method="post">
            <input type="text" name="uriName" id="unbind_uriName" class="blank_input" />
            <input type="text" id="unbind_uri_app_name" name="appName" class="blank_input" />
            <div class="button_case_create_organization_and_space">
                <button type="button" class="btn btn_right_unbind cancel"><span class="line">| </span>Cancel </button>
                <button type="submit" class="btn btn_left_unbind danger"><span class="line">| </span>Unbind </button>
            </div>
        </form>
    </div>
</div>

<div class="modal fade hide" id="saving_modal">
    <div class="modal-header" style="background-color: #187ebc;">
        <h3>Saving changes</h3>
    </div>


    <div class="modal-body">
        <p>
            Please wait while your changes are saved.
        </p>
        <p style="font-size: 0.8em">
            This dialog will be dismissed automatically after the changes are made.
        </p>
    </div>
</div>

<div class="modal fade hide" id="add_new_template_app_modal">
    <div class="modal-header" style="background-color: #187ebc;">
        <h3>Add a new template app</h3>
    </div>


    <div class="modal-body">
        <p>
            Your app is being created. This could take a minute or two.
        </p>
    </div>
</div>

</div>