<div class="sections" id="space_page">

        <div class="manage_content_header">
            <h2 class="section_title">
                <span id="space_name"><%= $currentSpace_Name %></span>

                <form action="/updateSpace" method="post">
                    <input type="text" value="" id="space_input" maxlength="20" name="m_spaceName"/>
                    <input type="submit" style="display: none; width: 1px; height: 1px;">
                </form>

            </h2>
            <div class="icons_options">
                <input type="button" value="" class="plus_sign_48 plus_sign_position_48" id="create_app" />
                <input type="button" value="" class="plus_sign_48 plus_sign_position_48" id="create_service" style="display: none;" />
                <input type="button" value="" class="plus_sign_48 plus_sign_position_48" id="button_add_subscription" style="display: none;" />

                <input type="button" value="" class="edit_sign_48 edit_sign_position_48" onclick="showSpacesInput();" />
                <input type="button" value="" class="money_bag_sign_48 money_bag_sign_position_48" />
                <input type="button" class="trash_sign_48 trash_sign_position_48 delete_this_space" value="" />
            </div>
        </div>

         <div id="team_tabs">

           <ul id="spaces_tabs" class="nav nav-tabs">
                <li onclick="showApps();" id="apps_li" onmouseover="hoverApps();" onmouseout="unhoverApps();">Apps (<span><%= apps_count %></span>)</li>
                <li onclick="showServices();" id="services_li" onmouseover="hoverServices();" onmouseout="unhoverServices();">Services (<span><%= services_count %></span>)</li>
                <li onclick="showSubscriptions();" id="subscriptions_li" onmouseover="hoverSubscriptions();" onmouseout="unhoverSubscribtions();">Subscriptions (<span>---</span>)</li>
            </ul>
                <div id="apps" class="tab_pane">
                    <ul class="tile_list">

                    <% apps_list.each do |app| %>
                    <li class="tile_invisible read_app_details">
                        <ul class="custom_list">
                            <li class="tile_app_name">
                                    <a href="#" class="link_tiles_app show_this_app_details" id="<%= app.name %>">
                                        <span class="app_name" id="<%= app.name %>" title="<%= app.name %>"><%= app.name %></span>
                                        <span class="app_state blank_input" id="<%= app.state %>"></span>
                                        <span class="app_instances blank_input" id="<%= app.instances %>"></span>
                                        <span class="app_memory blank_input" id="<%= app.memory %>"></span>
                                    </a>

                                    <span class="small_trash delete-app-button" id="<%= app.name %>" title="<%= app.name %>" onmousemove="prepareToDeleteApp(this);"></span>
                            </li>

                            <li class="tile_app_logo">
                                <a href="#" class="link_tiles_app show_this_app_details app-<%= app.runtime %>" id="<%= app.name %>"></a>
                            </li>

                            <li class="tile_app_details">
                                <span class="app_state" id="<%= app.state %>"><%= app.state %></span>
                                <span class="app_instances" id="<%= app.instances %>">instances: <%= app.instances %></span>
                                <span class="app_memory" id="<%= app.memory %>">memory: <%= app.memory %></span>
                                <span class="app_runtime" id="<%= app.runtime %>"><%= app.runtime %></span>
                            </li>
                        </ul>
                    </li>


                            <div class="modal fade hide app_details_modal" id="details_<%= app.name %>">
                                <div class="modal_header" id="app_details_header">
                                    <button class="close app_details_closebtn">×</button>
                                </div>


                                <div class="modal-body app_body">
                                    <table>
                                        <tr>
                                            <td>
                                                <div class="app-control">
                                                    <div class="tile_app_name">
                                                        <span class="app_name_big"><%= app.name %></span>
                                                        <span class="app_status" style="font-weight: bold">Status: <span style="font-weight: normal" class="pass_app_status"><%= app.state %></span></span>
                                                        <a href="#"><span class="small_trash delete-app-button"></span></a>
                                                    </div>

                                                    <form action="/startApp" method="post">
                                                        <input type="text" name="appName" value="<%= app.name %>" class="blank_input" />
                                                        <input type="submit" name="startApp" class="start start_button_apps startApp_btn" value="" />
                                                    </form>

                                                    <form action="/stopApp" method="post">
                                                        <input type="text" name="appName" value="<%= app.name %>" class="blank_input" />
                                                        <input type="submit" name="stopApp" class="stop stop_button_apps stopApp_btn" value="" />
                                                    </form>
                                                </div>
                                            </td>
                                          <td></td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <h4 class="app_details_titles">Services Bound
                                                <input type="button" class="plus button_bound_services get_service_name" style="float: right;" title="<%= app.name %>" /></h4>
                                                <div id="hidden_app_div" style="display: none;">
                                                    <span class="hidden_span"></span>
                                                </div>
                                                <ul class="app_details_ul">
                                                    <% app.services.each do |service| %>
                                                        <li class="tile_service_name get_service_name" id="<%= service.name %>" title="<%= app.name %>">
                                                            <span class="service_name" title="<%= service.name %>"><%= service.name %></span>
                                                            <input type="button" class="small_trash button_unbound_services" value="" />
                                                        </li>
                                                    <% end %>
                                                </ul>
                                            </td>
                                            <td>
                                                <h4 class="app_details_titles">URIs Bound <input type="button" class="plus button_bound_uri get_uri_name" style="float: right;" title="<%= app.name %>" /></h4>
                                                <ul class="app_details_ul">
                                                    <% app.uris.each do |uri| %>
                                                        <li class="tile_space_name get_uri_name" id="<%= uri.url %>" title="<%= app.name %>">
                                                            <span class="uri_name" title="<%= uri.url %>"><%= uri.url %></span>
                                                            <input type="button" class="small_trash button_unbound_uri" value="" />
                                                        </li>
                                                    <% end %>
                                                </ul>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <h4 class="app_details_titles">App Instances
                                                    <span style="float: right">
                                                        <input type="button" class="minus app_minus_instance" />
                                                        <input type="button" class="plus app_plus_instance"  />
                                                    </span>
                                                </h4>

                                                <ul class="app_details_ul">
                                                    <li class="tile blue half-height">
                                                        <span class="instance-info">
                                                            <span class="instance-count pass_app_instances app_instances_count"><%= app.instances %></span>
                                                            <span class="instance-type">Provisioned</span>
                                                        </span>
                                                        <span class="instance-info">
                                                            <span class="instance-count pass_app_instances"><%= app.instances %></span>
                                                            <span class="instance-type">Running</span>
                                                        </span>
                                                    </li>
                                                </ul>
                                                    <p class="app_text_p" style="text-align: left;">
                                                        Max memory: 1024MB
                                                    </p>
                                            </td>
                                            <td>
                                                <h4 class="app_details_titles">Memory Provisioned
                                                    <span style="float: right">
                                                        <input type="button" class="minus app_minus_memory" />
                                                        <input type="button" class="plus app_plus_memory" />
                                                    </span>
                                                </h4>
                                                <ul class="app_details_ul">
                                                    <li class="tile blue half-height half-width" style="color: #fff;">
                                                        <span class="instance-count pass_app_memory">
                                                              <div class="app_memory_count">
                                                                 <%= app.memory %>
                                                              </div>
                                                        </span>
                                                        <span class="instance-type">MB</span>
                                                    </li>
                                                </ul>
                                                <div class="slider_case">
                                                    <div class="slider_div_app" id="slider_case_<%= app.name %>" style="height: 12px;">

                                                        <div id="slider_<%= app.name %>"></div>

                                                    </div>

                                                    <p class="app_text_p" style="text-align: left;">
                                                        Max memory: 1024MB
                                                    </p>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>

                                <div class="modal-footer app_details_footer">
                                    <form action="/updateApp" method="post">
                                        <input type="text" class="send_app_name blank_input" name="appName" value="<%= app.name %>" />
                                        <input type="text" class="send_app_instances blank_input" name="appInstances" value="<%= app.instances %>"/>
                                        <input type="text" class="send_app_memory blank_input" name="appMemory" value="<%= app.memory %>" />

                                        <div class="button_case_app_details">
                                            <a href="#" class="btn btn_left_app_details black_button_text close_app_details">Close</a>
                                            <input type="submit" value="Save Changes" class="btn btn-success btn_right_app_details white_btn_text blank_input hidden_app_details_submit_button"/>
                                        </div>
                                    </form>
                                </div>
                            </div>


                    <% end %>

                    <!--<li class="new tile" id="create_app">
                        <span class="icon"></span>
                    </li> -->
                    </ul>
                </div>


                <div id="services" class="tab-pane">
                    <ul class="tile_list">

                        <% services_list.each do |service| %>
                            <li class="tile_invisible">
                              <ul class="custom_list">
                                  <li class="tile_service_name">
                                        <span>
                                            <span class="service_name"><%= service.name %></span>
                                            <a href="#"><span class="small_trash delete-service-button" id="<%= service.name %>" title="<%= service.guid %>" onmousemove="prepareToDeleteService(this);"></span></a>
                                        </span>
                                  </li>

                                  <li class="tile_service_logo">
                                        <a href="#" class="link_tiles_app  service-icon-<%= service.type %>"></a>
                                  </li>

                                  <li class="tile_service_details">
                                    <span class="app_state"><%= service.type %></span>
                                  </li>
                              </ul>
                            </li>
                        <% end %>
                    </ul>
                </div>
           <!--// //-->



       <!--THIS IS THE SUBSCRIPTION TAB THAT NEEDS SOME MORE SCRIPTS-->


                <div id="subscriptions">
                    <div id="subscriptions_memory">
                       <div class="services_subdiv">
                            <span class="plusminus_class">
                                  <input type="button" class="app-services minus sub_minus_memory" style="float: none; border: 0px solid #ffffff;" id="minus_memory" />
                                  <input type="button" class="app-services plus sub_plus_memory" style="float: none; border: 0px solid #ffffff;" id="plus_memory" />
                            </span>
                            <p class="subscriptions_titles_p">Memory</p>
                       </div>

                          <ul class="tile_list">
                            <li class="tile_blue_small">
                                <span>
                                    <span class="memory_unit">GB</span>
                                    <span class="memory_unit_number" id="memory_number">
                                      <div class="sub_memory_count">
                                             1
                                      </div>
                                    </span>
                                </span>
                            </li>

                                 <div class="slider_case slider_case_sub">
                                        <div id="memory_slider_subscriptions" style="height: 12px;"></div>

                                        <p style="text-align: left;">
                                            Max memory: 64 Gb
                                        </p>
                                 </div>

                           </ul>
                    </div>

                  <!--HERE WE SHOULD HAVE 0 BLOCKS OF HTML LIST ITEMS, WE SHOULD HAVE A LOOP TO READ ALL SERVICES INSTEAD-->

                    <div id="subscriptions_services">
                        <div class="services_subdiv">
                            <p class="subscriptions_titles_p">Services</p>
                        </div>
                        <ul class="tile_list">
                            <li class="tile_invisible">
                                <ul class="custom_list">
                                    <li class="tile_app_name">
                                        <span class="subscriptions_plan">30 GB Buffer</span>
                                        <span class="control-icon trash delete-service-button"></span>
                                    </li>

                                    <li class="tile_service_logo">
                                        <div class="subscriptions_background_image_mongo_db"></div>
                                    </li>

                                    <li class="tile_service_details">
                                        <span class="subscriptions_quantity">Quantity: <span class="subscriptions_quantity_value">2</span></span>
                                        <span class="subscriptions_cost">Cost: <span class="subscriptions_cost_value">$500</span></span>
                                    </li>
                                </ul>
                            </li>

                            <li class="tile_invisible">
                                <ul class="custom_list">
                                    <li class="tile_app_name">
                                        <span class="subscriptions_plan">15 GB Buffer</span>
                                        <span class="control-icon trash delete-service-button"></span>
                                    </li>

                                    <li class="tile_service_logo">
                                        <div class="subscriptions_background_image_mysql"></div>
                                    </li>

                                    <li class="tile_service_details">
                                        <span class="subscriptions_quantity">Quantity: <span class="subscriptions_quantity_value">2</span></span>
                                        <span class="subscriptions_cost">Cost: <span class="subscriptions_cost_value">$500</span></span>
                                    </li>
                                </ul>
                            </li>

                            <li class="tile_invisible">
                                <ul class="custom_list">
                                    <li class="tile_app_name">
                                        <span class="subscriptions_plan">300 MB Buffer</span>
                                        <span class="control-icon trash delete-service-button"></span>
                                    </li>

                                    <li class="tile_service_logo">
                                        <div class="subscriptions_background_image_uhurufs"></div>
                                    </li>

                                    <li class="tile_service_details">
                                        <span class="subscriptions_quantity">Quantity: <span class="subscriptions_quantity_value">2</span></span>
                                        <span class="subscriptions_cost">Cost: <span class="subscriptions_cost_value">$500</span></span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>


</div>



<div class="modal hide" id="delete_this_space_modal">
    <div class="modal-header">
        <button class="close">×</button>
        <h3>Delete Space</h3>
    </div>
    <div class="modal-body">
        <p>
            Are you sure you want to delete this space?
        </p>
        <br />
        <p>
            <strong>
                WARNING!!! All applications and services in this space will be DELETED!!! This action cannot be reversed.
            </strong>
        </p>
    </div>
    <div class="modal-footer">
        <div class="button_case_delete_organization_and_space">
            <a href="#" class="btn btn_right_delete_organization_and_space" id="cancel_b_d_space">No</a>
            <form action="/deleteCurrentSpace" method="post">
                <input type="submit" class="btn btn-danger btn_left_delete_organization_and_space white_btn_text" />
                <p class="hidden_modal_messages" id="p_d_space">Your space is being removed...</p>
            </form>
        </div>

    </div>
</div>




<div class="modal fade hide" id="create_tempcta_modal">
    <div class="modal-header">
        <button class="close">×</button>
        <h3>Add a new app template</h3>
    </div>

    <table id="new_app_name_tablet">
        <tbody>
            <tr>
                <td>
                    <input name="user_app" type="text" id="app_name"/>
                </td>
                <td style="vertical-align: top">
                    .uhurucloud.com
                </td>
            </tr>
        </tbody>
    </table>

    <div class="modal-body">
            <div id="app_smallcontainer">
                <table id="app_table">

                    <% apps_names.each do |name| %>
                      <form action="/createApp" method="post">
                          <tr>
                                <td>
                                    <div class="app_tiles" id = "<%= name['id'] %>">
                                        <span class="app_name_span"><%= name['name'] %></span>
                                        <input type="text" value="<%= name['framework']['info']['exec'] %>" name="appFramework" class="blank_input" />
                                        <input type="text" value="<%= name['runtime'] %>" name="appRuntime"  class="blank_input" />
                                        <input type="text" value="<%= name['memory'] %>" name="appMemory" class="blank_input" />
                                        <input type="text" name="appName" class="send_app_name blank_input"/>
                                    </div>
                                </td>
                                <td>
                                    <a href="<%= name['download-location'] %>">
                                        <input type="button" value="Download" class="app_tiles_download" />
                                    </a>
                                </td>
                                <td>
                                    <input type="submit" value="Push" class="app_tiles_cloudpush" />
                                </td>
                           </tr>
                      </form>
                    <% end %>

                </table>
            </div>
    </div>

    <div class="modal-footer">
        <div class="button_case_create_organization_and_space">
            <a href="#" class="btn btn_right_create_organization_and_space">Cancel</a>
        </div>
    </div>
</div>


<div class="modal fade hide" id="delete_app">
    <div class="modal-header">
        <button class="close">×</button>
        <h3>Delete App</h3>
    </div>
    <div class="modal-body">
        <p>
            Are you sure you want to delete the app &nbsp;<span id="this_app_name"></span>?
        </p>
    </div>
    <div class="modal-footer">
        <div class="button_case_delete_organization_and_space">
            <a href="#" class="btn btn_right_delete_organization_and_space">No</a>
            <form action="/deleteClickedApp" method="post">
                <input type="submit" value="Yes" class="btn btn-danger btn_left_delete_organization_and_space white_btn_text" />
                <input type="text" id="pass_app" name="appGuid" class="blank_input" />
            </form>
        </div>
    </div>
</div>


<div class="modal fade hide" id="add_ctService_modal" onmousemove="newServiceName();">
    <div class="modal-header">
        <button class="close">×</button>
        <h3>New Service</h3>
    </div>

    <div class="modal-body">
        <p>
            <label for="team_services_list">Service Type</label>
            <select id="team_services_list">
                <option value="test1">1</option>
                <option value="test2">2</option>
                <option value="test3">3</option>
            </select>
        </p>
        <p>
            <label for="service_name">Name</label>
            <input type="text" id="service_name"/>
        </p>
    </div>

    <div class="modal-footer">

        <div class="button_case_create_organization_and_space">
          <a href="#" class="btn btn_right_create_organization_and_space">Close</a>

          <form action="/createService" method="post">
                <input type="text" id="new_service_name" name="serviceName" class="blank_input"/>
                <input type="submit" value="Create Service" class="btn btn-success btn_left_create_organization_and_space white_btn_text" />
          </form>

        </div>
    </div>
</div>


<div class="modal fade hide" id="delete_service">
    <div class="modal-header">
        <button class="close">×</button>
        <h3>Delete Service</h3>
    </div>
    <div class="modal-body">
        <p>
            Are you sure you want to delete the service &nbsp;<span id="this_service_name"></span>?
        </p>
    </div>
    <div class="modal-footer">
        <div class="button_case_delete_organization_and_space">
            <a href="#" class="btn btn_right_delete_organization_and_space">No</a>
            <form action="/deleteClickedService" method="post">
                <input type="submit" value="Yes" class="btn btn-danger btn_left_delete_organization_and_space white_btn_text" />
                <input type="text" id="pass_service" name="serviceGuid" class="blank_input" />
            </form>
        </div>
    </div>
</div>






<div class="modal fade hide" id="bind_service_modal">
    <form action="/bindServices" method="post">

        <div class="modal-header">
            <h3>Add service</h3>
        </div>
        <div class="modal-body">
            <p>Add a new service to <span></span></p>
            <p>
                <label for="bind_services_list">Available services</label>
                <select id="bind_services_list" name="serviceName">
                    <% services_list.each do |service| %>
                        <option value="<%= service.name %>" id="<%= service.name %>"> <%= service.name %> </option>
                    <% end %>
                </select>
            </p>
        </div>
        <div class="modal-footer">
            <input type="text" id="bind_service_app_name" name="appName" class="blank_input"/>
            <div class="button_case_create_organization_and_space">
                <a href="#" class="btn btn_right_bind">Cancel</a>
                <input type="submit" value="Bind Service" class="btn btn-danger btn_left_bind" />
            </div>
        </div>
    </form>
</div>



<div class="modal fade hide" id="unbind_service_modal">
    <div class="modal-header">
        <button class="close">×</button>
        <h3>Unbind service</h3>
    </div>
    <div class="modal-body">
        <p>
            Are you sure you want to unbind <span style="font-weight: bold">
            </span> from <span style="font-weight: bold"></span>? Your
            app will no longer be able to connect to this service.
        </p>
        <p>
            Unbinding does not delete the service. Please delete service from service page to permanently delete it.
        </p>
    </div>
    <div class="modal-footer">
        <form action="/unbindServices" method="post">
            <input type="text" name="serviceName" id="unbind_serviceName" class="blank_input"/>
            <input type="text" id="unbind_service_app_name" name="appName" class="blank_input" />
            <div class="button_case_create_organization_and_space">
                <a href="#" class="btn btn_right_unbind">Cancel</a>
                <input type="submit" value="Unbind services" class="btn btn-danger btn_left_unbind" />
            </div>
        </form>
    </div>
</div>



<div class="modal fade hide" id="bind_uri_modal">
    <div class="modal-header">
        <h3>Add new URI</h3>
    </div>
    <div class="modal-body">
        <p>
            <label for="newUri">New URI</label>
            <table id="new_app_name_table">
                <tbody>
                    <tr>
                        <td>
                            <input id="newUri" />
                        </td>
                        <td style="vertical-align: top">
                            .uhurucloud.com
                        </td>
                    </tr>
                </tbody>
            </table>
        </p>
    </div>
    <div class="modal-footer bind_uri_footer">
        <form action="/bindUri" method="post">
            <input type="text" name="uriName" id="uriName" class="blank_input"/>
            <input type="text" id="bind_uri_app_name" name="appName" class="blank_input" />
            <div class="button_case_create_organization_and_space">
                <a href="#" class="btn btn_right_bind">Cancel</a>
                <input type="submit" value="Bind URI" class="btn btn-success btn_left_bind" />
            </div>
        </form>
    </div>
</div>



<div class="modal fade hide" id="unbind_uri_modal">
    <div class="modal-header">
        <h3>Unbind URI</h3>
    </div>
    <div class="modal-body">
        <p>
            Are you sure you want to unbind this app from ...? Your app will no longer be able to use this URI.<br />
        </p>
    </div>
    <div class="modal-footer">
        <form action="/unbindUri" method="post">
            <input type="text" name="uriName" id="unbind_uriName" class="blank_input" />
            <input type="text" id="unbind_uri_app_name" name="appName" class="blank_input" />
            <div class="button_case_create_organization_and_space">
                <a href="#" class="btn btn_right_unbind">Cancel</a>
                <input type="submit" value="Unbind URI" class="btn btn-success btn_left_unbind" />
            </div>
        </form>
    </div>
</div>









<div class="modal fade hide subscriptions_modal this_sub">
    <div class="modal-header">
        <div id="subscriptions_modal_header">
            <h2>Select one of the services and chose one of the packs</h2>
        </div>
    </div>

    <div class="modal-body-subscriptions">

       <ul class="add_subscription_services_list">

       <li class="add_subscription_services_list_li">
            <span class="list_title">MySql 10Gb</span>
       </li>


        <li class="add_subscription_services_list_hidden">
        <div class="sub_descriptions">
          <h3 class="sub_descriptions_title">frame 1</h3>
          <div class="sub_descriptions_paragraph"><div class="subscription_push">Push Pack<div class="subscription_push_btn"></div></div><span class="text_sub_descriptions"> Button is the MySql 10Gb pack, for this plan you get bla bla, on a machine. This is a multi tenant service</span></div>
        </div>
        </li>

       <li class="add_subscription_services_list_li">
            <span class="list_title">MySql 10Gb</span>
       </li>


        <li class="add_subscription_services_list_hidden">
        <div class="sub_descriptions">
          <h1 class="sub_descriptions_title">MySql 100Gb Pack:</h1>
          <div class="sub_descriptions_paragraph"><div class="subscription_push">Push Pack<div class="subscription_push_btn"></div></div><span class="text_sub_descriptions"> This is the MySql 10Gb pack, for this plan you get bla bla, on a machine. This is a multi tenant service</span></div>
        </div>
        </li>

        <li class="add_subscription_services_list_li">
            <span class="list_title">MsSql 10Gb</span>
        </li>


        <li class="add_subscription_services_list_hidden">
        <div class="sub_descriptions">
          <h1 class="sub_descriptions_title">MsSql 10Gb Pack:</h1>
          <div class="sub_descriptions_paragraph"><div class="subscription_push">Push Pack<div class="subscription_push_btn"></div></div><span class="text_sub_descriptions"> This is the MySql 10Gb pack, for this plan you get bla bla, on a machine. This is a multi tenant service</span></div>
        </div>
        </li>

         <li class="add_subscription_services_list_li">
            <span class="list_title">MsSql 100Gb</span>
         </li>


        <li class="add_subscription_services_list_hidden">
        <div class="sub_descriptions">
          <h1 class="sub_descriptions_title">MsSql 100Gb Pack:</h1>
          <div class="sub_descriptions_paragraph"><div class="subscription_push">Push Pack<div class="subscription_push_btn"></div></div><span class="text_sub_descriptions"> This is the MySql 10Gb pack, for this plan you get bla bla, on a machine. This is a multi tenant service</span></div>
        </div>
        </li>

       </ul>



    </div>

    <div class="modal-footer">
        <div class="button_case_app_details">
            <a href="#" class="btn btn_left_app_details black_button_text close_app_details">Close</a>
        </div>
    </div>
</div>












<!--MODALS WITH NO BUTTONS-->


<div class="modal fade hide" id="saving_modal">
    <div class="modal-header">
        <h3>Saving changes</h3>
    </div>


    <div class="modal-body">
        <p>
            Please wait while your changes are saved.
        </p>
        <p style="font-size: 0.8em">
            This dialog will be dismissed automatically after the changes are made.
        </p>
    </div>
</div>

<div class="modal fade hide" id="add_new_template_app_modal">
    <div class="modal-header">
        <h3>Add a new template app</h3>
    </div>


    <div class="modal-body">
        <p>
            Your app is being created. This could take a minute or two.
        </p>
    </div>
</div>




</div>