<div class="sections" id="space_page">

        <div class="manage_content_header">
            <h2 class="section_title">
                <span class="organizations_icon"></span>

                <span id="space_name"><%= $currentSpace_Name %></span>

                <form action="/updateSpace" method="post">
                    <input type="text" value="" id="space_input" maxlength="20" name="m_spaceName"/>
                    <input type="submit" style="display: none; width: 1px; height: 1px;">
                </form>

            </h2>
            <div class="icons_options">
                <span class="control-icon-large edit" onclick="showSpacesInput();">Edit</span>

                <form action="/deleteCurrentSpace" method="post">
                        <input type="submit" class="control-icon-large trash">
                </form>

              <span class="title_icon" style="position: absolute; top:0px; right: -15px;">dollar</span>
            </div>
        </div>

         <div id="team_tabs">

           <ul id="spaces_tabs" class="nav nav-tabs">
                <li onclick="showApps();" id="apps_li" onmouseover="hoverApps();" onmouseout="unhoverApps();">Apps (<span><%= apps_count %></span>)</li>
                <li onclick="showServices();" id="services_li" onmouseover="hoverServices();" onmouseout="unhoverServices();">Services (<span><%= services_count %></span>)</li>
                <li onclick="showSubscriptions();" id="subscriptions_li" onmouseover="hoverSubscriptions();" onmouseout="unhoverSubscribtions();">Subscriptions (<span>---</span>)</li>
            </ul>
                <div id="apps" class="tab-pane">
                    <ul class="tile_list">

<% apps_list.each do |app| %>
<li class="tileblue read_app_details">

    <a href="#" class="link_tiles_app show_this_app_details app-<%= app.runtime %>" id="<%= app.name %>">
        <span class="blank_input" id="<%= app.name %>" title="<%= app.name %>"></span>
        <span class="app_state blank_input" id="<%= app.state %>"></span>
        <span class="app_instances blank_input" id="<%= app.instances %>"></span>
        <span class="app_memory blank_input" id="<%= app.memory %>"></span>
    </a>

    <span class="app_name"><%= app.name %></span>

    <a href="#">
        <span class="control-icon trash delete-app-button" id="<%= app.name %>" title="<%= app.name %>" onmousemove="prepareToDeleteApp(this);"></span>
    </a>

</li>


        <div class="modal fade hide app_details_modal" id="<%= app.name %>">
            <div class="modal_header" id="app_details_header">
                <button class="close app_details_closebtn">x</button>
            </div>


            <div class="modal-body app_body">
                <table>
                    <tr>
                        <td>
                            <div class="app-control">
                                <div class="tile blue">
                                    <h3>
                                        <span class="app_name_big"><%= app.name %></span>
                                    </h3>

                                    <span class="app_status" style="font-weight: bold">Status: <span style="font-weight: normal" class="pass_app_status"><%= app.state %></span></span>
                                    <a href="#"><span class="control-icon trash delete-app-button"></span></a>
                                </div>

                                <form action="/startApp" method="post">
                                    <input type="text" name="appName" class="blank_input details_app_name_start" />
                                    <input type="submit" name="startApp" class="app-actions start start_button_apps startApp_btn" />
                                </form>

                                <form action="/stopApp" method="post">
                                    <input type="text" name="appName" class="blank_input details_app_name_stop" />
                                    <input type="submit" name="stopApp" class="app-actions stop stop_button_apps stopApp_btn" />
                                </form>
                            </div>
                        </td>
                      <td></td>
                    </tr>

                    <tr>
                        <td>
                            <h4 class="app_details_titles">Services Bound
                            <span class="app-services plus button_bound_services" style="float: right;"></span></h4>
                            <div id="hidden_app_div" style="display: none;">
                                <span class="hidden_span"></span>
                            </div>
                            <ul class="app_details_ul">
                                <% app.services.each do |service| %>
                                    <li class="tile blue">
                                        <span class="service-name pass_service_name"><%= service.name %></span>
                                        <input type="button" class="control-icon trash button_unbound_services" />
                                    </li>
                                <% end %>
                            </ul>
                        </td>
                        <td>
                            <h4 class="app_details_titles">URIs Bound <span class="app-services plus button_bound_uri" style="float: right;"></span></h4>
                            <ul class="app_details_ul">
                                <% app.uris.each do |uri| %>
                                    <li class="tile blue">
                                        <span class="uri-name"><%= uri.url %></span>
                                        <input type="button" class="control-icon trash button_unbound_uri" />
                                    </li>
                                <% end %>
                            </ul>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <h4 class="app_details_titles">App Instances
                                <span style="float: right">
                                    <span class="app-services minus app_minus_instance"></span>
                                    <span class="app-services plus app_plus_instance"></span>
                                </span>
                            </h4>

                            <ul class="app_details_ul">
                                <li class="tile blue half-height">
                                    <span class="instance-info">
                                        <span class="instance-count pass_app_instances app_instances_count"></span>
                                        <span class="instance-type">Provisioned</span>
                                    </span>
                                    <span class="instance-info">
                                        <span class="instance-count pass_app_instances"></span>
                                        <span class="instance-type">Running</span>
                                    </span>
                                </li>
                            </ul>
                            <div class="float: right; padding-top: 40px;">
                                Max app instances: 5
                            </div>
                        </td>
                        <td>
                            <h4 class="app_details_titles">Memory Provisioned
                                <span style="float: right">
                                    <span class="app-services minus app_minus_memory" style="float: none"></span>
                                    <span class="app-services plus app_plus_memory" style="float: none"></span>
                                </span>
                            </h4>
                            <ul class="app_details_ul">
                                <li class="tile blue half-height half-width" style="color: #fff">
                                    <span class="instance-count pass_app_memory app_memory_count"></span>
                                    <span class="instance-type">MB</span>
                                </li>
                            </ul>
                            <div style="float: right; width: 300px">
                                <div id="memory_slider_bar1" class="app-value-slider"></div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="modal-footer app_details_footer">
                <form action="/updateAppDetails" method="post">
                    <input type="text" class="send_app_name" name="appName"/>
                    <input type="text" class="send_app_instances" name="appInstances"/>
                    <input type="text" class="send_app_memory" name="appMemory" />

                    <div class="button_case_app_details">
                        <a href="#" class="btn btn_left_app_details black_button_text close_app_details">Close</a>
                        <input type="submit" value="Save Changes" class="btn btn-success btn_right_app_details white_btn_text blank_input hidden_app_details_submit_button"/>
                    </div>
                </form>
            </div>
        </div>


<% end %>

<li class="new tile" id="create_app">
    <span class="icon"></span>
</li>
</ul>
</div>


                <div id="services" class="tab-pane">
                    <ul class="tile_list">

                        <% services_list.each do |service| %>
                            <li class="tileblue">
                                <span>
                                    <span class="service_name"><%= service.name %></span>
                                    <a href="#"><span class="control-icon trash delete-service-button" id="<%= service.name %>" title="<%= service.guid %>" onmousemove="prepareToDeleteService(this);"></span></a>
                                </span>
                            </li>
                        <% end %>


                        <li class="new tile" id="create_service">
                            <span class="icon"></span>
                        </li>
                    </ul>
                </div>
           <!--// //-->



       <!--THIS IS THE SUBSCRIPTION TAB THAT NEEDS SOME MORE SCRIPTS-->


                <div id="subscriptions">
                    <div id="subscriptions_memory">
                       <div class="services_subdiv">
                            <span class="plusminus_class">
                                  <span class="app-services minus" style="float: none" id="minus_memory"></span>
                                  <span class="app-services plus" style="float: none" id="plus_memory"></span>
                            </span>
                            <p class="subscriptions_titles_p">Memory</p>
                       </div>

                          <ul class="tile_list">
                            <li class="tile_blue_small">
                                <span>
                                    <span class="memory_unit">GB</span>
                                    <span class="memory_unit_number" id="memory_number">0</span>
                                </span>
                            </li>

                            <div id="memory_slider">
                                    <div id="memory_slider_bar2" class="app-value-slider">
                                      >>>>> slider >>>>>>>>>
                                    </div>
                                    Max memory: 1024MB
                            </div>
                           </ul>
                    </div>

                  <!--HERE WE SHOULD HAVE 0 BLOCKS OF HTML LIST ITEMS, WE SHOULD HAVE A LOOP TO READ ALL SERVICES INSTEAD-->

                    <div id="subscriptions_services">
                        <div class="services_subdiv">
                            <span class="plusminus_class">
                                  <span class="app-services minus" style="float: none"></span>
                                  <span class="app-services plus" style="float: none"></span>
                            </span>
                            <p class="subscriptions_titles_p">Services</p>
                        </div>

                        <ul class="tile_list">
                            <li class="tile_darkblue_dark">
                                <span>
                                    <div class="subscribtions_background_image_mssql"></div>
                                    <span class="subscribtions_plan">plan: <span class="subscribtions_plan_value">100 MB Buffer</span></span>
                                    <span class="subscribtions_quality">quality: <span class="subscribtions_quality_value">2</span></span>
                                    <span class="subscribtions_cost">cost: <span class="subscribtions_cost_value">$500</span></span>
                                    <span class="control-icon trash delete-service-button"></span>
                                </span>
                            </li>
                            <li class="tile_darkblue_dark">
                                <span>
                                    <div class="subscribtions_background_image_redis"></div>
                                    <span class="subscribtions_plan">plan: <span class="subscribtions_plan_value">300 MB Buffer</span></span>
                                    <span class="subscribtions_quality">quality: <span class="subscribtions_quality_value">233</span></span>
                                    <span class="subscribtions_cost">cost: <span class="subscribtions_cost_value">$180</span></span>
                                    <span class="control-icon trash delete-service-button"></span>
                                </span>
                            </li>
                            <li class="tile_darkblue_dark">
                                <span>
                                    <div class="subscribtions_background_image_mysql"></div>
                                    <span class="subscribtions_plan">plan: <span class="subscribtions_plan_value">10 MB Buffer</span></span>
                                    <span class="subscribtions_quality">quality: <span class="subscribtions_quality_value">22323</span></span>
                                    <span class="subscribtions_cost">cost: <span class="subscribtions_cost_value">$200</span></span>
                                    <span class="control-icon trash delete-service-button"></span>
                                </span>
                            </li>
                            <li class="tile_darkblue_dark">
                                <span>
                                    <div class="subscribtions_background_image_ruby"></div>
                                    <span class="subscribtions_plan">plan: <span class="subscribtions_plan_value">10333 MB Buffer</span></span>
                                    <span class="subscribtions_quality">quality: <span class="subscribtions_quality_value">2231231</span></span>
                                    <span class="subscribtions_cost">cost: <span class="subscribtions_cost_value">$5300</span></span>
                                    <span class="control-icon trash delete-service-button"></span>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>


</div>




<div class="modal fade hide" id="create_tempcta_modal">
    <div class="modal-header">
        <button class="close">×</button>
        <h3>Add a new app template</h3>
    </div>


    <label for="new_app_name_tablet">* App Name</label>
    <table id="new_app_name_tablet">
        <tbody>
            <tr>
                <td>
                    <input name="user_app" type="text" id="app_name"/>
                </td>
                <td style="vertical-align: top">
                    .uhurucloud.com
                </td>
            </tr>
        </tbody>
    </table>

    <div class="modal-body">
            <div id="app_smallcontainer">
                <table id="app_table">

                    <% apps_names.each do |name| %>
                      <form action="/createApp" method="post">
                          <tr>
                                <td>
                                    <div class="app_tiles" id = "<%= name['id'] %>">
                                        <span class="app_name_span"><%= name['name'] %></span>
                                        <input type="text" value="<%= name['framework']['info']['exec'] %>" name="appFramework" class="blank_input" />
                                        <input type="text" value="<%= name['runtime'] %>" name="appRuntime"  class="blank_input" />
                                        <input type="text" value="<%= name['memory'] %>" name="appMemory" class="blank_input" />
                                        <input type="text" name="appName" class="send_app_name blank_input"/>
                                    </div>
                                </td>
                                <td>
                                    <a href="<%= name['download-location'] %>">
                                        <input type="button" value="Download" class="app_tiles_download" />
                                    </a>
                                </td>
                                <td>
                                    <input type="submit" value="Push" class="app_tiles_cloudpush" />
                                </td>
                           </tr>
                      </form>
                    <% end %>

                </table>
            </div>
    </div>

    <div class="modal-footer">
        <div class="button_case_create_organization_and_space">
            <a href="#" class="btn btn_right_create_organization_and_space">Cancel</a>
        </div>
    </div>
</div>


<div class="modal fade hide" id="delete_app">
    <div class="modal-header">
        <button class="close">×</button>
        <h3>Delete App</h3>
    </div>
    <div class="modal-body">
        <p>
            Are you sure you want to delete the app &nbsp;<span id="this_app_name"></span>?
        </p>
    </div>
    <div class="modal-footer">
        <div class="button_case_delete_organization_and_space">
            <a href="#" class="btn btn_right_delete_organization_and_space">No</a>
            <form action="/deleteClickedApp" method="post">
                <input type="submit" value="Yes" class="btn btn-danger btn_left_delete_organization_and_space white_btn_text" />
                <input type="text" id="pass_app" name="appGuid" class="blank_input" />
            </form>
        </div>
    </div>
</div>


<div class="modal fade hide" id="add_ctService_modal" onmousemove="newServiceName();">
    <div class="modal-header">
        <button class="close">×</button>
        <h3>New Service</h3>
    </div>

    <div class="modal-body">
        <p>
            <label for="team_services_list">Service Type</label>
            <select id="team_services_list">
                <option value="test1">1</option>
                <option value="test2">2</option>
                <option value="test3">3</option>
            </select>
        </p>
        <p>
            <label for="service_name">Name</label>
            <input type="text" id="service_name"/>
        </p>
    </div>

    <div class="modal-footer">

        <div class="button_case_create_organization_and_space">
          <a href="#" class="btn btn_right_create_organization_and_space">Close</a>

          <form action="/createService" method="post">
                <input type="text" id="new_service_name" name="serviceName" class="blank_input"/>
                <input type="submit" value="Create Service" class="btn btn-success btn_left_create_organization_and_space white_btn_text" />
          </form>

        </div>
    </div>
</div>


<div class="modal fade hide" id="delete_service">
    <div class="modal-header">
        <button class="close">×</button>
        <h3>Delete Service</h3>
    </div>
    <div class="modal-body">
        <p>
            Are you sure you want to delete the service &nbsp;<span id="this_service_name"></span>?
        </p>
    </div>
    <div class="modal-footer">
        <div class="button_case_delete_organization_and_space">
            <a href="#" class="btn btn_right_delete_organization_and_space">No</a>
            <form action="/deleteClickedService" method="post">
                <input type="submit" value="Yes" class="btn btn-danger btn_left_delete_organization_and_space white_btn_text" />
                <input type="text" id="pass_service" name="serviceGuid" class="blank_input" />
            </form>
        </div>
    </div>
</div>






<div class="modal fade hide" id="bind_service_modal">
    <div class="modal-header">
        <h3>Add service</h3>
    </div>
    <div class="modal-body">
        <p>Add a new service to <span></span></p>
        <p>
            <label for="bind_services_list">Available services</label>
            <select id="bind_services_list">
            </select>
        </p>
    </div>
    <div class="modal-footer">
        <form action="/bindServices" method="post">
            <div class="button_case_create_organization_and_space">
                <a href="#" class="btn btn_right_bind">Cancel</a>
                <input type="submit" value="Bind Service" class="btn btn-danger btn_left_bind" />
            </div>
        </form>
    </div>
</div>



<div class="modal fade hide" id="unbind_service_modal">
    <div class="modal-header">
        <button class="close">×</button>
        <h3>Unbind service</h3>
    </div>
    <div class="modal-body">
        <p>
            Are you sure you want to unbind <span style="font-weight: bold">
            </span> from <span style="font-weight: bold"></span>? Your
            app will no longer be able to connect to this service.
        </p>
        <p>
            Unbinding does not delete the service. Please delete service from service page to permanently delete it.
        </p>
    </div>
    <div class="modal-footer">
        <form action="/unbindServices" method="post">
            <div class="button_case_create_organization_and_space">
                <a href="#" class="btn btn_right_unbind">Cancel</a>
                <input type="submit" value="Unbind services" class="btn btn-danger btn_left_unbind" />
            </div>
        </form>
    </div>
</div>



<div class="modal fade hide" id="bind_uri_modal">
    <div class="modal-header">
        <h3>Add new URI</h3>
    </div>
    <div class="modal-body">
        <p>
            <label for="newUri">New URI</label>
            <table id="new_app_name_table">
                <tbody>
                    <tr>
                        <td>
                            <input id="newUri" />
                        </td>
                        <td style="vertical-align: top">
                            .uhurucloud.com
                        </td>
                    </tr>
                </tbody>
            </table>
        </p>
    </div>
    <div class="modal-footer">
        <form action="/bindUri" method="post">
            <div class="button_case_create_organization_and_space">
                <a href="#" class="btn btn_right_bind">Cancel</a>
                <input type="submit" value="Bind URI" class="btn btn-success btn_left_bind" />
            </div>
            binding URL...
        </form>
    </div>
</div>



<div class="modal fade hide" id="unbind_uri_modal">
    <div class="modal-header">
        <h3>Unbind URI</h3>
    </div>
    <div class="modal-body">
        <p>
            Are you sure you want to unbind this app from ...? Your app will no longer be able to use this URI.<br />
        </p>
    </div>
    <div class="modal-footer">
        <form action="/unbindUri" method="post">
            <div class="button_case_create_organization_and_space">
                <a href="#" class="btn btn_right_unbind">Cancel</a>
                <input type="submit" value="Unbind URI" class="btn btn-success btn_left_unbind" />
            </div>
            unbinding URL...
        </form>
    </div>
</div>














<!--MODALS WITH NO BUTTONS-->


<div class="modal fade hide" id="saving_modal">
    <div class="modal-header">
        <h3>Saving changes</h3>
    </div>


    <div class="modal-body">
        <p>
            Please wait while your changes are saved.
        </p>
        <p style="font-size: 0.8em">
            This dialog will be dismissed automatically after the changes are made.
        </p>
    </div>
</div>

<div class="modal fade hide" id="add_new_template_app_modal">
    <div class="modal-header">
        <h3>Add a new template app</h3>
    </div>


    <div class="modal-body">
        <p>
            Your app is being created. This could take a minute or two.
        </p>
    </div>
</div>




</div>