<div class="breadcrumb">
  <span class="breadcrumb_element">...&nbsp;/&nbsp;</span><a href="<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS %>" class="breadcrumb_link">organizations</a>
  <span class="breadcrumb_element">&nbsp;/&nbsp;</span>
  <a href="<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS + "/#{current_organization}/spaces" %>" class="breadcrumb_link"><%= organization_name %></a>
</div>

<div class="sections" id="organization_page">

<div class="manage_content_header">
  <div class="section_title">
    <p id="organization_name"><%= organization_name %></p>

    <form action="/updateOrganization" method="post">
      <input type="text" value="" id="organization_input" name="modified_name" class="tiped hide" />
      <input type="hidden" value="<%= current_organization %>" name="current_organization" />
      <input type="hidden" value="<%= current_tab %>" name="current_tab" />

      <% if params[:error] == 'update_organization' %>
          <div class="error">
            <p><%= error_message %></p>
          </div>
      <% end %>

      <div class="tooltips hide">
        <p>Press enter to update the new name!</p>
      </div>
    </form>
  </div>

  <div class="icons_options">
    <% if current_tab == "spaces" %>
        <button type="button" onclick="window.location = '<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS + "/#{current_organization}/#{current_tab}/create_space" %>';" class="image s32px plus"></button>
    <% end %>

    <% if current_tab == "members" %>
        <button type="button" onclick="window.location = '<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS + "/#{current_organization}/#{current_tab}/add_user" %>';" class="image s32px plus"></button>
    <% end %>

    <% if current_tab == "domains" %>
        <button type="button" onclick="window.location = '<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS + "/#{current_organization}/#{current_tab}/add_domains" %>';" class="image s32px plus"></button>
    <% end %>

    <button type="button" class="image s32px edit" onclick="showOrganizationsInput();" />
    <button type="button" class="image s32px trash" onclick="deleteCurrentOrganization();" />

    <% if card_type == nil && card_masked_number == nil %>
        <button type="button" onclick="window.location = '<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS + "/#{current_organization}/#{current_tab}/create_subscription" %>';" class="image s32px money"></button>
    <% end %>
  </div>

  <div id="credit_card_info_div">
    <% if card_type != nil && card_masked_number != nil %>
        <%= card_masked_number %><span class="<%= card_type %>"></span>
    <% end %>
  </div>
</div>

<div id="organization_div">
  <div class="tab_menu">
    <ul>
      <% if current_tab == "spaces" %>
          <li class="selected">Spaces (<%= spaces_list.count %>)</li>
      <% else %>
          <li onclick="window.location = '<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS + "/#{current_organization}/spaces" %>';">Spaces (<%= spaces_list.count %>)</li>
      <% end %>

      <% if current_tab == "members" %>
          <li class="selected">Members (<%= owners_list.count + billings_list.count + auditors_list.count %>)</li>
      <% else %>
          <li onclick="window.location = '<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS + "/#{current_organization}/members" %>';">Members (<%= owners_list.count + billings_list.count + auditors_list.count %>)</li>
      <% end %>

      <% if current_tab == "domains" %>
          <li class="selected">Domains (<%= domains_list.count { |d| d.owning_org_name == organization_name || d.owning_org_name == 'Shared' } %>)</li>
      <% else %>
          <li onclick="window.location = '<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS + "/#{current_organization}/domains" %>';">Domains (<%= domains_list.count { |d| d.owning_org_name == organization_name || d.owning_org_name == 'Shared' } %>)</li>
      <% end %>
    </ul>
  </div>


  <% if defined?(current_tab) && current_tab != nil && current_tab == "spaces" %>

      <% spaces_list.each do |space| %>
          <div class="tile space">

            <div class="tile top">
              <a class="tile_action" href="<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS + "/#{current_organization}/spaces/#{space.guid}/apps" %>" title="<%= space.name %>">
                <%= space.name %>
              </a>

              <button id="<%= space.guid %>" class="image s24px trash" title="Delete '<%= space.name %>'"></button>
            </div>

            <div class="tile bottom">
              <div class="tile left">
                <div class="tile_action">
                  <span>#apps: <%= space.apps_count %></span>
                  <span>#services: <%= space.services_count %></span>
                </div>
              </div>

              <div class="tile right">
                <div class="tile_action">
                  $<%= space.cost %>
                </div>
                <div class="tile_info">monthly</div>
              </div>
            </div>
          </div>
      <% end %>


      <div class="modal delete_confirmation space hide">
        <div class="modal_header">
          <h3 id="selected_name"></h3>
        </div>

        <div class="modal_content">
          <p>
            Are you sure you want to delete the space?
          </p>
          <p>
            <strong>
              WARNING! All applications and services in this space will be deleted! This action cannot be reversed.
            </strong>
          </p>
        </div>

        <div class="modal_footer">
          <% unless error_message.nil? || error_message.empty? %>
              <div class="error"> <%= error_message %> </div>
          <% end %>
          <p class="hide">Deleting space...</p>

          <div>
            <form action="/deleteSpace" method="post">
              <button type="button" class="cancel_button">Cancel</button>
              <button type="submit" Value="Delete">Delete</button>
              <input type="hidden" id="selected_guid" name="spaceGuid" />
              <input type="hidden" name="org_guid" value="<%= current_organization %>" />
            </form>
          </div>
        </div>
      </div>

  <% end %>


  <% if defined?(current_tab) && current_tab != nil && current_tab == "members" %>


        <% owners_list.each do |owner| %>
            <div class="square_tile">
                <div class="square_tile owner" title="<%= owner.email %>">
                  <span><%= owner.email %></span>
                  <span>Owner</span>
                  <button type="button" id="<%= owner.guid %>" class="image s24px trash" title="Delete '<%= owner.email %>'" onclick="deleteUserModal(this, 'owner');"></button>

                  <span class="span_bg_icon"></span>
                </div>
            </div>
        <% end %>

        <% billings_list.each do |billing| %>
            <div class="square_tile">
                <div class="square_tile billing" title="<%= billing.email %>">
                  <span><%= billing.email %></span>
                  <span>Billing Manager</span>
                  <button id="<%= billing.guid %>" class="image s24px trash" title="Delete '<%= billing.email %>'" onclick="deleteUserModal(this, 'billing');"></button>

                  <span class="span_bg_icon"></span>
                </div>
            </div>
        <% end %>

        <% auditors_list.each do |auditor| %>
            <div class="square_tile">
                <div class="square_tile auditor" title="<%= auditor.email %>">
                  <span><%= auditor.email %></span>
                  <span>Auditor</span>
                  <button type="button" id="<%= auditor.guid %>" class="image s24px trash" title="Delete '<%= auditor.email %>'" onclick="deleteUserModal(this, 'auditor');"></button>

                  <span class="span_bg_icon"></span>
                </div>
            </div>
        <% end %>



    <div class="modal delete_confirmation user hide">
      <div class="modal_header">
        <h3 id="selected_name"></h3>
      </div>

      <div class="modal_content">
        <p>
          Are you sure you want to delete the user?
        </p>
      </div>
      <div class="modal_footer">
        <% unless error_message.nil? || error_message.empty? %>
            <div class="error"> <%= error_message %> </div>
        <% end %>
        <p class="hide">Deleting user...</p>

        <div>
          <form action="/deleteUser" method="post">
            <button type="button" class="cancel_button">Cancel</button>
            <button type="submit" value="Delete">Delete</button>
            <input type="hidden" id="selected_guid" value="" name="thisUser"/>
            <input type="hidden" id="aditional_data" value="" name="thisUserRole"/>
            <input type="hidden" name="current_organization" value="<%= current_organization %>" />
            <input type="hidden" name="current_tab" value="<%= current_tab %>" />
          </form>
        </div>
      </div>
    </div>

  <% end %>


  <% if defined?(current_tab) && current_tab != nil && current_tab == "domains" %>

        <% domains_list.each do |domain| %>
            <% if domain.owning_org_name == organization_name || domain.owning_org_name == 'Shared' %>
                <div class="square_tile">
                    <div class="square_tile domain" title="<%= domain.name %>">
                      <span><%= domain.wildcard %></span>
                      <span><%= domain.name %></span>
                      <button type="button" id="<%= domain.guid %>" class="image s24px trash" title="Delete '<%= domain.name %>'"></button>
                      <span class="span_bg_icon_domain"></span>
                    </div>
                </div>
            <% end %>
        <% end %>


      <div class="modal delete_confirmation domain hide">
        <div class="modal_header">
          <h3 id="selected_name"></h3>
        </div>

        <div class="modal_content">
          <p>
            Are you sure you want to delete the domain?
          </p>
          <p>
            <strong>
              WARNING! The domain will be removed!.
            </strong>
          </p>
        </div>

        <div class="modal_footer">
          <% unless error_message.nil? || error_message.empty? %>
              <div class="error"> <%= error_message %> </div>
          <% end %>
          <p class="hide">Deleting domain...</p>

          <div>
            <form action="/deleteDomain" method="post">
              <button type="button" class="cancel_button">Cancel</button>
              <button type="submit" value="Delete">Delete</button>
              <input type="hidden" id="selected_guid" name="domainGuid" />
              <input type="hidden" name="org_guid" value="<%= current_organization %>" />
            </form>
          </div>
        </div>
      </div>

  <% end %>

</div>




<div class="modal organization hide" id="delete_current_organization_modal">
  <div class="modal_header">
    <h3><%= organization_name %></h3>
  </div>

  <div class="modal_content">
    <p>
      Are you sure you want to delete this organization?
    </p>
    <p>
      <strong>
        WARNING! All Spaces, applications and services in this organization will be deleted! This action cannot be reversed.
      </strong>
    </p>
  </div>

  <div class="modal_footer">
    <% unless error_message.nil? || error_message.empty? %>
        <div class="error"> <%= error_message %> </div>
    <% end %>
    <p class="hide">Deleting organization...</p>

    <div>
      <form action="/deleteOrganization" method="post">
        <button type="button" class="cancel_button">Cancel</button>
        <button type="submit" value="Delete">Delete</button>
        <input type="hidden" name="orgGuid" value="<%= current_organization %>" />
      </form>
    </div>
  </div>
</div>

<% unless error_message.nil? || error_message.empty? %>
    <div class="modal error-message"> </div>

    <div class="modal" id="errors_modal">
      <div class="modal_header">
        <h3>Error</h3>
      </div>

      <div class="modal_content">
        <p>
          An error has occurred:
        </p>
        <div class="error"> <%= error_message %> </div>
      </div>

      <div class="modal_footer">
          <button type="button" onclick="window.location = '<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS + "/#{current_organization}/#{current_tab}" %>';" value="Close">
      </div>
    </div>
<% end %>

<% if defined?(include_erb) && include_erb != nil %>
    <%= erb(include_erb, :layout => false, :locals => { :current_organization => current_organization, :current_tab => current_tab, :current_space => nil, :error_message => error_message }) %>
<% end %>

<div class="modal-background" style="display: none;"></div>
</div>