<div class="breadcrumb">
  <span class="breadcrumb_element">...&nbsp;/&nbsp;</span><a href="<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS %>" class="breadcrumb_link">organizations</a>
  <span class="breadcrumb_element">&nbsp;/&nbsp;</span>
  <a href="<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS + "/#{current_organization}/spaces" %>" class="breadcrumb_link"><%= organization_name %></a>
</div>

<div class="sections" id="organization_page">

<div class="manage_content_header">
  <h2 class="section_title">
    <span id="organization_name"><%= organization_name %></span>

    <form action="/updateOrganization" method="post">
      <input type="text" value="" id="organization_input" name="modified_name" />
      <input type="hidden" value="<%= current_organization %>" name="current_organization" />
      <input type="hidden" value="<%= current_tab %>" name="current_tab" />
      <% if params[:error] == 'update_organization' %>
          <div class="error_tooltips">
            <p><%= error_message %></p>
          </div>
      <% end %>
      <div class="tooltips">
        <p>Press enter to update the new name!</p>
      </div>
    </form>
  </h2>

  <div class="icons_options">
    <% if current_tab == "spaces" %>
        <button onclick="window.location = <%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS + "/#{current_organization}/#{current_tab}/create_space" %>" class="image s32px plus" />
    <% end %>

    <% if current_tab == "members" %>
        <a href="<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS + "/#{current_organization}/#{current_tab}/add_user" %>" class="image s32px plus"></a>
    <% end %>

    <% if current_tab == "domains" %>
        <a href="<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS + "/#{current_organization}/#{current_tab}/add_domains" %>" class="image s32px plus"></a>
    <% end %>

    <input type="button" class="image s32px edit" onclick="showOrganizationsInput();" />
    <button type="submit" class="image s32px trash" />

    <% if card_type == nil && card_masked_number == nil %>
        <a href="<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS + "/#{current_organization}/#{current_tab}/create_subscription" %>" id="add_credit_card"><input type="button" class="image s32px money" /></a>
    <% end %>

  </div>
  <div id="credit_card_info_div">
    <% if card_type != nil && card_masked_number != nil %>
        <%= card_masked_number %><span class="<%= card_type %>"></span>
    <% end %>
  </div>
</div>

<div id="organization_div">
  <div class="tab_menu">
    <ul>
      <% if current_tab == "spaces" %>
          <li class="selected"><a href="<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS + "/#{current_organization}/spaces" %>">Spaces (<span><%= spaces_list.count %></span>)</a></li>
      <% else %>
          <li><a href="<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS + "/#{current_organization}/spaces" %>">Spaces (<span><%= spaces_list.count %></span>)</a></li>
      <% end %>

      <% if current_tab == "members" %>
          <li class="selected"><a href="<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS + "/#{current_organization}/members" %>">Members (<span><%= owners_list.count + billings_list.count + auditors_list.count %></span>)</a></li>
      <% else %>
          <li><a href="<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS + "/#{current_organization}/members" %>">Members (<span><%= owners_list.count + billings_list.count + auditors_list.count %></span>)</a></li>
      <% end %>

      <% if current_tab == "domains" %>
          <li class="selected"><a href="<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS + "/#{current_organization}/domains" %>">Domains (<span><%= domains_list.count { |d| d.owning_org_name == organization_name || d.owning_org_name == 'Shared' } %></span>)</a></li>
      <% else %>
          <li><a href="<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS + "/#{current_organization}/domains" %>">Domains (<span><%= domains_list.count { |d| d.owning_org_name == organization_name || d.owning_org_name == 'Shared' } %></span>)</a></li>
      <% end %>
    </ul>
  </div>


  <% if defined?(current_tab) && current_tab != nil && current_tab == "spaces" %>

      <% spaces_list.each do |space| %>
          <div class="tile space">

            <div class="tile top">
              <a class="tile_action" href="<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS + "/#{current_organization}/spaces/#{space.guid}/apps" %>" title="<%= space.name %>">
                <%= space.name %>
              </a>

              <button id="<%= space.guid %>" class="image s24px trash" title="Delete '<%= space.name %>'"></button>
            </div>

            <div class="tile bottom">
              <div class="tile left">
                <div class="tile_action">
                  <span>#apps: <%= space.apps_count %></span>
                  <span>#services: <%= space.services_count %></span>
                </div>
              </div>

              <div class="tile right">
                <div class="tile_action">
                  $<%= space.cost %>
                </div>
                <div class="tile_info">monthly</div>
              </div>
            </div>
          </div>
      <% end %>

  <% end %>


  <% if defined?(current_tab) && current_tab != nil && current_tab == "members" %>

    <div class="square_tile">
      <% owners_list.each do |owner| %>
          <div class="square_tile owner" title="<%= owner.email %>">
            <span><%= owner.email %></span>
            <span>Owner</span>
            <button id="<%= owner.guid %>" class="image s24px trash" title="Delete '<%= owner.email %>'"></button>

            <span class="span_bg_icon"></span>
          </div>
      <% end %>
    </div>

    <div class="square_tile">
      <% billings_list.each do |billing| %>
          <div class="square_tile billing" title="<%= billing.email %>">
            <span><%= billing.email %></span>
            <span>Billing Manager</span>
            <button id="<%= billing.guid %>" class="image s24px trash" title="Delete '<%= billing.email %>'"></button>

            <span class="span_bg_icon"></span>
          </div>
      <% end %>
    </div>

    <div class="square_tile">
      <% auditors_list.each do |auditor| %>
          <div class="square_tile auditor" title="<%= auditor.email %>">
            <span><%= auditor.email %></span>
            <span>Auditor</span>
            <button id="<%= auditor.guid %>" class="image s24px trash" title="Delete '<%= auditor.email %>'"></button>

            <span class="span_bg_icon"></span>
          </div>
      <% end %>
    </div>

  <% end %>


  <% if defined?(current_tab) && current_tab != nil && current_tab == "domains" %>

    <div class="square_tile">
        <% domains_list.each do |domain| %>
            <% if domain.owning_org_name == organization_name || domain.owning_org_name == 'Shared' %>
                <div class="square_tile domain" title="<%= domain.name %>">
                  <span><%= domain.wildcard %></span>
                  <span><%= domain.name %></span>
                  <button id="<%= domain.name %>" class="image s24px trash" title="Delete '<%= domain.guid %>'"></button>
                  <span class="span_bg_icon_domain"></span>
                </div>
            <% end %>
        <% end %>
    </div>

  <% end %>

</div>




<div class="modal hide" id="delete_organization_modal">
  <div class="modal-header">
    <a href="#" class="close"></a>
    <h3>Delete organization</h3>
  </div>

  <div class="modal-body">
    <p>
      Are you sure you want to delete this organization: "<%= organization_name %>"?
    </p>
    <p>
      <strong>
        WARNING! All Spaces, applications and services in this organization will be deleted! This action cannot be reversed.
      </strong>
    </p>
  </div>

  <div class="modal-footer">
    <span class="server_errors" id="delete_organization_failed"></span>
    <p class="hidden_modal_messages" id="span_delete_organization">Deleting organization...</p>

    <div class="button_case_delete_organization_and_space">
      <a href="#" class="btn btn_right_delete_organization_and_space cancel" id="cancel_btn_delete_organization"><span class="line">| </span>Cancel</a>
      <form action="/deleteOrganization" method="post">
        <button type="submit" value="Delete" class="btn btn_left_delete_organization_and_space ok" id="btn_delete_organization"><span class="line">| </span>Delete </button>
        <input type="hidden" name="orgGuid" value="<%= current_organization %>" />
      </form>
    </div>
  </div>
</div>


<div class="modal hide" id="delete_space_modal">
  <div class="modal-header">
    <button class="close"></button>
    <h3>Delete Space</h3>
  </div>
  <div class="modal-body">
    <p>
      Are you sure you want to delete the space "<span id="this_space_name"></span>"?
    </p>
    <p>
      <strong>
        WARNING! All applications and services in this space will be deleted! This action cannot be reversed.
      </strong>
    </p>
  </div>
  <div class="modal-footer">
    <span class="server_errors" id="delete_space_failed"></span>
    <p class="hidden_modal_messages" id="span_delete_space">Deleting space...</p>
    <div class="button_case_delete_organization_and_space">
      <button type="button" class="btn btn_right_delete_organization_and_space cancel" id="cancel_btn_delete_space"><span class="line">| </span>Cancel </button>
      <form action="/deleteSpace" method="post">
        <button type="submit" class="btn btn_left_delete_organization_and_space danger" id="btn_delete_space"><span class="line">| </span>Delete </button>
        <input type="hidden" id="space_guid" name="spaceGuid" />
        <input type="hidden" name="org_guid" value="<%= current_organization %>" />
      </form>
    </div>
  </div>
</div>


<div class="modal hide" id="delete_domain_modal">
  <div class="modal-header">
    <button class="close"></button>
    <h3>Delete Domain</h3>
  </div>
  <div class="modal-body">
    <p>
      Are you sure you want to delete the domain "<span id="this_domain_name"></span>"?
    </p>
    <p>
      <strong>
        WARNING! The domain will be removed!.
      </strong>
    </p>
  </div>
  <div class="modal-footer">
    <span class="server_errors"><%= error_message %></span>
    <p class="hidden_modal_messages" id="span_delete_domain">Deleting domain...</p>
    <div class="button_case_delete_organization_and_space">
      <button type="button" class="btn btn_right_delete_organization_and_space cancel" id="cancel_btn_delete_domain"><span class="line">| </span>Cancel </button>
      <form action="/deleteDomain" method="post">
        <button type="submit" class="btn btn_left_delete_organization_and_space danger" id="btn_delete_domain"><span class="line">| </span>Delete </button>
        <input type="hidden" id="domain_guid" name="domainGuid" />
        <input type="hidden" name="org_guid" value="<%= current_organization %>" />
      </form>
    </div>
  </div>
</div>


<div class="modal hide" id="delete_user_modal">
  <div class="modal-header">
    <button class="close"></button>
    <h3>Delete User</h3>
  </div>
  <div class="modal-body">
    <p>
      Are you sure you want to delete the user "<span id="this_user_name"></span>"?
    </p>
  </div>
  <div class="modal-footer">
    <span class="server_errors" id="delete_user_failed"><%= error_message %></span>
    <p class="hidden_modal_messages" id="span_delete_user">Deleting user...</p>

    <div class="button_case_delete_organization_and_space">
      <button type="button" class="btn btn_right_delete_organization_and_space cancel btn_cancel_user"><span class="line">| </span>Cancel </button>
      <form action="/deleteUser" method="post">
        <input type="hidden" id="pass_user_guid" value="" name="thisUser"/>
        <input type="hidden" id="pass_user_role" value="" name="thisUserRole"/>
        <input type="hidden" name="current_organization" value="<%= current_organization %>" />
        <input type="hidden" name="current_tab" value="<%= current_tab %>" />
        <button type="submit" class="btn btn_left_delete_organization_and_space danger btn_delete_user"><span class="line">| </span>Delete </button>
      </form>
    </div>
  </div>
</div>




<% if params[:error] != '' && params[:error] != nil && params[:error] != 'create_space' && params[:error] && params[:error] != 'add_user' && params[:error] != 'add_domain' %>
    <div class="dark_background"> </div>

    <div class="modal" id="errors_modal">
      <div class="modal-header">
        <h3>Error</h3>
      </div>

      <div class="modal-body">
        <p>
          An error has occurred:
        </p>
        <p class="red_error">
          <%= error_message %>
        </p>
      </div>

      <div class="modal-footer">
        <div class="button_case_delete_organization_and_space">
          <a  href="<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS + "/#{current_organization}/#{current_tab}" %>" class="btn btn_right_delete_organization_and_space cancel btn_cancel_user"><span class="line">| </span>Close </a>
        </div>
      </div>
    </div>
<% end %>






<% if defined?(include_erb) && include_erb != nil %>
    <%= erb(include_erb, :layout => false, :locals => { :current_organization => current_organization, :current_tab => current_tab, :current_space => nil, :error_message => error_message }) %>
<% end %>





</div>