<div class="breadcrumb">
  <span class="breadcrumb_element">...&nbsp;/&nbsp;</span><a href="<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS %>" class="breadcrumb_link">organizations</a>
  <span class="breadcrumb_element">&nbsp;/&nbsp;</span>
  <a href="<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS + "/#{current_organization}/spaces" %>" class="breadcrumb_link"><%= organization_name %></a>
  <span class="breadcrumb_element">&nbsp;/&nbsp;</span>
  <a href="<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS + "/#{current_organization}/spaces/#{current_space}/apps" %>" class="breadcrumb_link"><%= space_name %></a>
</div>


<div class="sections" id="space_page">

<div class="manage_content_header">
  <h2 class="section_title">
    <span id="space_name"><%= space_name %></span>

    <form action="/updateSpace" method="post">
      <input type="text" value="" id="space_input" name="modified_name" class="modal_input_box tiped" />
      <input type="hidden" name="current_organization" value="<%= current_organization %>" />
      <input type="hidden" name="current_space" value="<%= current_space %>" />
      <input type="hidden" name="current_tab" value="<%= current_tab %>" />
      <% if params[:error] == 'update_space' %>
          <div class="error_tooltips">
            <p><%= error_message %></p>
          </div>
      <% end %>
      <div class="tooltips">
        <p>Press enter to update the new name!</p>
      </div>
    </form>

  </h2>
  <div class="icons_options">
    <% if current_tab == "apps" %>
        <a href="<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS + "/#{current_organization}/spaces/#{current_space}/#{current_tab}/create_app/new" %>"></a>
    <% end %>

    <% if current_tab == "services" %>
        <a href="<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS + "/#{current_organization}/spaces/#{current_space}/#{current_tab}/create_service/new" %>"></a>
    <% end %>

    <% if current_tab == "members" %>
        <a href="<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS + "/#{current_organization}/spaces/#{current_space}/#{current_tab}/add_user/new" %>"></a>
    <% end %>

    <% if current_tab == "routes" %>
        <a href="<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS + "/#{current_organization}/spaces/#{current_space}/#{current_tab}/add_route/new" %>"></a>
    <% end %>

    <% if current_tab == "domains" %>
        <a href="<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS + "/#{current_organization}/spaces/#{current_space}/#{current_tab}/map_domain/new" %>"></a>
    <% end %>

    <input type="button" value="" class="edit_sign_32 edit_sign_position_32" id="edit_space_btn" onclick="showSpacesInput();" />
    <input type="button" class="trash_sign_32 trash_sign_position_32 delete_this_space" value="" />
  </div>
</div>

<div class="tab_menu">

  <ul>
    <% if current_tab == "apps" %>
        <li class="selected"><a href="<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS + "/#{current_organization}/spaces/#{current_space}/apps" %>">Apps (<span><%= apps_list.count %></span>)</a></li>
    <% else %>
        <li><a href="<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS + "/#{current_organization}/spaces/#{current_space}/apps" %>">Apps (<span><%= apps_list.count %></span>)</a></li>
    <% end %>


    <% if current_tab == "services" %>
        <li class="selected"><a href="<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS + "/#{current_organization}/spaces/#{current_space}/services" %>">Services (<span><%= services_list.count %></span>)</a></li>
    <% else %>
        <li><a href="<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS + "/#{current_organization}/spaces/#{current_space}/services" %>">Services (<span><%= services_list.count %></span>)</a></li>
    <% end %>


    <% if current_tab == "members" %>
        <li class="selected"><a href="<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS + "/#{current_organization}/spaces/#{current_space}/members" %>">Users (<span><%= owners_list.count + developers_list.count + auditors_list.count %></span>)</a></li>
    <% else %>
        <li><a href="<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS + "/#{current_organization}/spaces/#{current_space}/members" %>">Users (<span><%= owners_list.count + developers_list.count + auditors_list.count %></span>)</a></li>
    <% end %>


    <% if current_tab == "routes" %>
        <li class="selected"><a href="<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS + "/#{current_organization}/spaces/#{current_space}/routes" %>">Routes (<span><%= routes_list.count %></span>)</a></li>
    <% else %>
        <li><a href="<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS + "/#{current_organization}/spaces/#{current_space}/routes" %>">Routes (<span><%= routes_list.count %></span>)</a></li>
    <% end %>


    <% if current_tab == "domains" %>
        <li class="selected"><a href="<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS + "/#{current_organization}/spaces/#{current_space}/domains" %>">Domains (<span><%= defined?(domains_list) ? domains_list.count { |d| d.owning_org_name == organization_name && d.owning_spaces.count { |s| s.name == space_name } != 0 } : '...' %></span>)</a></li>
    <% else %>
        <li><a href="<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS + "/#{current_organization}/spaces/#{current_space}/domains" %>">Domains (<span><%= defined?(domains_list) ? domains_list.count { |d| d.owning_org_name == organization_name && d.owning_spaces.count { |s| s.name == space_name } != 0 } : '...' %></span>)</a></li>
    <% end %>
  </ul>
</div>


  <% if defined?(current_tab) && current_tab != nil && current_tab == "apps" %>
      <div class="tile app">
        <% apps_list.each do |app| %>

            <div class="tile top">

              <div class="tile_action">
                <a class="tile_action show_this_app_details" href="<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS + "/#{current_organization}/spaces/#{current_space}/apps/#{app.name}" %>" id="<%= app.name %>">
                  <span class="app_name" id="<%= app.name %>" title="<%= app.name %>"><%= app.name %></span>
                  <span class="app_state" id="<%= app.state %>"></span>
                  <span class="app_instances" id="<%= app.instances %>"></span>
                  <span class="app_memory" id="<%= app.memory %>"></span>
                </a>
              </div>

              <button id="<%= app.name %>" title="<%= app.name %>" class="image s24px trash" />
            </div>


            <div class="tile bottom">
              <div class="tile left">
                <span><%= app.stack.name %></span>
                <span>instances: <%= app.instances %></span>
                <span>memory: <%= app.memory %></span>
              </div>

              <div class="tile right">
                <span><%= app.state %></span>
              </div>
            </div>

            <% if params[:app_name] == app.name %>
                <%= erb(:'user_pages/modals/app_details', :layout => false, :locals => { :current_organization => current_organization, :current_space => current_space, :organization_name => organization_name, :collections => collections, :current_tab => current_tab, :app => app, :services_list => services_list, :error_message => error_message }) %>
            <% end %>

        <% end %>
      </div>
  <% end %>


  <% if defined?(current_tab) && current_tab != nil && current_tab == "services" %>
      <div class="tile service">

        <% services_list.each do |service| %>
            <div class= "tile top">
              <a href="#" class="tile_action" title="<%= service.name %>">
                <span><%= service.name %></span>
              </a>
              <button class="image s24px trash" id="<%= service.name %>" title="<%= service.guid %>" />
            </div>

            <div class="tile bottom">
              <div class="tile left">
                <span><%= service.type %></span>
              </div>

              <div class="tile right">
                <span>Plan: <%= service.type %></span>
                <span>Cost: <%= service.type %></span>
              </div>
            </div>
        <% end %>

      </div>
  <% end %>


  <% if defined?(current_tab) && current_tab != nil && current_tab == "members" %>
      <div class="square_tile">
          <% owners_list.each do |owner| %>
              <div class="square_tile owner" title="<%= owner.email %>">
                <span><%= owner.email %></span>
                <span>Owner</span>
                <button class="image s24px trash" id="<%= owner.guid %>" title="<%= owner.email %>" />

                <span class="span_bg_icon"></span>
              </div>
          <% end %>
      </div>

      <div class="square_tile">
          <% developers_list.each do |dev| %>
              <div class="square_tile developer" title="<%= dev.email %>">
                <span><%= dev.email %></span>
                <span>Developer</span>
                <button class="image s24px trash" id="<%= dev.guid %>" title="<%= dev.email %>" />

                <span class="span_bg_icon"></span>
              </div>
          <% end %>
      </div>

      <div class="square_tile">
          <% auditors_list.each do |auditor| %>
              <div class="square_tile auditor" title="<%= auditor.email %>">
                <span><%= auditor.email  %></span>
                <span>Auditor</span>
                <button class="image s24px trash" id="<%= auditor.guid %>" title="<%= auditor.email %>" />

                <span class="span_bg_icon"></span>
              </div>
          <% end %>
      </div>
  <% end %>


  <% if defined?(current_tab) && current_tab != nil && current_tab == "routes" %>
      <div class="square_tile">

          <% routes_list.each do |route| %>
              <% route_app_name = nil %>

              <% apps_list.each do |app| %>
                  <% app.uris.each do |uri| %>
                      <% if uri.url == route.name %>
                          <% route_app_name = app.name %>
                      <% end %>
                  <% end %>
              <% end %>

              <div class="square_tile route">
                <a href="http://<%= route.name %>" class="tile_action" title="<%= route.name %>"><%= route.name %></a>

                <span>Route</span>
                <span class="span_bg_icon_routes"></span>
                <button class="image s24px trash" id="<%= route.guid %>" title="<%= route_app_name %>" />
              </div>
          <% end %>

      </div>
  <% end %>


  <% if defined?(current_tab) && current_tab != nil && current_tab == "domains" %>
      <div class="square_tile">

          <% domains_list.each do |domain| %>
              <% if domain.owning_org_name == organization_name && domain.owning_spaces.count { |s| s.name == space_name } != 0 %>
                  <div class="square_tile domain" title="<%= domain.name %>">
                    <span><%= domain.wildcard %></span>
                    <span><%= domain.name %></span>

                    <span class="span_bg_icon_domains"></span>
                    <button class="image s24px trash" id="<%= domain.name %>" title="<%= domain.guid %>" />
                  </div>
              <% end %>
          <% end %>

      </div>
  <% end %>
</div>


<div class="modal hide" id="delete_space_modal">
  <div class="modal-header">
    <button class="close"></button>
    <h3>Delete Space</h3>
  </div>
  <div class="modal-body">
    <p>
      Are you sure you want to delete the space "<%= space_name %>"?
    </p>
    <p>
      <strong>
        WARNING! All applications and services in this space will be deleted! This action cannot be reversed.
      </strong>
    </p>
  </div>
  <div class="modal-footer">
    <span class="server_errors" id="delete_space_failed"></span>
    <p class="hidden_modal_messages" id="span_delete_space">Deleting space...</p>
    <div class="button_case_delete_organization_and_space">
      <button type="button" class="btn btn_right_delete_organization_and_space cancel" id="cancel_btn_delete_space"><span class="line">| </span>Cancel </button>

      <form action="/deleteSpace" method="post">
        <button type="submit" class="btn btn_left_delete_organization_and_space danger" id="btn_delete_space"><span class="line">| </span>Delete </button>
        <input type="hidden" name="spaceGuid" value="<%= current_space %>" />
        <input type="hidden" name="org_guid" value="<%= current_organization %>" />
      </form>
    </div>
  </div>
</div>

<div class="modal fade hide" id="delete_app">
  <div class="modal-header">
    <button class="close"></button>
    <h3>Delete App</h3>
  </div>
  <div class="modal-body">
    <p>
      Are you sure you want to delete the app "<span id="this_app_name"></span>"?
    </p>
  </div>
  <div class="modal-footer">
    <span class="server_errors" id="delete_app_failed"><%= error_message %></span>
    <p class="hidden_modal_messages" id="span_delete_app">Deleting app...</p>

    <div class="button_case_delete_organization_and_space">
      <button class="btn btn_right_delete_organization_and_space cancel" id="btn_cancel_app"><span class="line">| </span>Cancel </button>
      <form action="/deleteApp" method="post">
        <button type="submit" class="btn btn_left_delete_organization_and_space danger" id="btn_delete_app"><span class="line">| </span>Delete </button>
        <input type="hidden" id="pass_app" name="appGuid" />
        <input type="hidden" name="current_organization" value="<%= current_organization %>" />
        <input type="hidden" name="current_space" value="<%= current_space %>" />
        <input type="hidden" name="current_tab" value="<%= current_tab %>" />
      </form>
    </div>
  </div>
</div>


<div class="modal fade hide" id="delete_service">
  <div class="modal-header">
    <button class="close"></button>
    <h3>Delete Service</h3>
  </div>
  <div class="modal-body">
    <p>
      Are you sure you want to delete the service "<span id="this_service_name"></span>"?
    </p>
  </div>
  <div class="modal-footer">
    <span class="server_errors"><%= error_message %></span>
    <p class="hidden_modal_messages" id="span_delete_service">Deleting service...</p>

    <div class="button_case_delete_organization_and_space">
      <button class="btn btn_right_delete_organization_and_space cancel" id="btn_cancel_service"><span class="line">| </span>Cancel </button>
      <form action="/deleteService" method="post">
        <button type="submit" class="btn btn_left_delete_organization_and_space danger" id="btn_delete_service"><span class="line">| </span>Delete </button>
        <input type="hidden" id="pass_service" name="serviceGuid" />
        <input type="hidden" name="current_organization" value="<%= current_organization %>" />
        <input type="hidden" name="current_space" value="<%= current_space %>" />
        <input type="hidden" name="current_tab" value="<%= current_tab %>" />
      </form>
    </div>
  </div>
</div>


<div class="modal fade hide" id="delete_route">
  <div class="modal-header">
    <button class="close"></button>
    <h3>Delete Route</h3>
  </div>
  <form action="/deleteRoute" method="post">

    <div class="modal-body">
      <p>
        Are you sure you want to delete this route?
      </p>
    </div>

    <div class="modal-footer">
      <span class="server_errors"><%= error_message %></span>
      <p class="hidden_modal_messages" id="span_delete_route">Deleting route...</p>

      <div class="button_case_delete_organization_and_space">
        <button class="btn btn_right_delete_organization_and_space cancel" id="btn_cancel_route"><span class="line">| </span>Cancel </button>
        <button type="submit" class="btn btn_left_delete_organization_and_space danger" id="btn_delete_route"><span class="line">| </span>Delete </button>
        <input type="hidden" id="pass_route_guid" name="routeGuid" />
        <input type="hidden" name="current_organization" value="<%= current_organization %>" />
        <input type="hidden" name="current_space" value="<%= current_space %>" />
        <input type="hidden" name="current_tab" value="<%= current_tab %>" />
      </div>
    </div>
  </form>
</div>


<div class="modal hide" id="delete_domain_modal">
  <div class="modal-header">
    <button class="close"></button>
    <h3>Unmap domain from space</h3>
  </div>
  <div class="modal-body">
    <p>
      Are you sure you want to unmap "<span id="this_domain_name"></span>" from the current space?
    </p>
  </div>
  <div class="modal-footer">
    <span class="server_errors"><%= error_message %></span>
    <p class="hidden_modal_messages" id="span_delete_domain">Deleting domain...</p>
    <div class="button_case_delete_organization_and_space">
      <button type="button" class="btn btn_right_delete_organization_and_space cancel" id="cancel_btn_delete_domain"><span class="line">| </span>Cancel </button>
      <form action="/unmapFromSpace" method="post">
        <button type="submit" class="btn btn_left_delete_organization_and_space danger" id="btn_delete_domain"><span class="line">| </span>Unmap </button>
        <input type="hidden" id="domain_guid" name="domainGuid" />
        <input type="hidden" name="current_organization" value="<%= current_organization %>" />
        <input type="hidden" name="current_space" value="<%= current_space %>" />
        <input type="hidden" name="current_tab" value="space" />
      </form>
    </div>
  </div>
</div>




<div class="modal hide" id="delete_user_modal">
  <div class="modal-header">
    <a href="#" class="close"></a>
    <h3>Delete User</h3>
  </div>
  <div class="modal-body">
    <p>
      Are you sure you want to delete the user "<span id="this_user_name"></span>"?
    </p>
  </div>
  <div class="modal-footer">
    <p class="hidden_modal_messages" id="span_delete_user">Deleting user...</p>

    <div class="button_case_delete_organization_and_space">
      <a  href="#" class="btn btn_right_delete_organization_and_space cancel btn_cancel_user"><span class="line">| </span>Cancel </a>

      <form action="/deleteUser" method="post">
        <input type="hidden" id="pass_user_guid" value="" name="thisUser"/>
        <input type="hidden" id="pass_user_role" value="" name="thisUserRole"/>
        <input type="hidden" name="current_organization" value="<%= current_organization %>" />
        <input type="hidden" name="current_space" value="<%= current_space %>" />
        <input type="hidden" name="current_tab" value="<%= current_tab %>" />
        <button type="submit" class="btn btn_left_delete_organization_and_space danger btn_delete_user"><span class="line">| </span>Delete </button>
      </form>
    </div>
  </div>
</div>


<% if params[:error] != '' && params[:error] != nil && params[:error] != 'update_space' && params[:error] != 'update_app' && params[:error] != 'create_service' && params[:error] != 'create_route' && params[:error] != 'add_user' %>
    <div class="dark_background dark_background_error"> </div>

    <div class="modal" id="errors_modal" class="errors_modal">
      <div class="modal-header">
        <h3>Error</h3>
      </div>

      <div class="modal-body">
        <p>
          An error has occurred:
        </p>
        <p class="red_error">
          <%= error_message.gsub(':', ':<br />') %>
        </p>
      </div>

      <div class="modal-footer">
        <div class="button_case_delete_organization_and_space">
          <!--a  href="<= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS + "/#{current_organization}/spaces/#{current_space}/#{current_tab}" %>" class="btn btn_right_delete_organization_and_space cancel btn_cancel_user"><span class="line">| </span>Close </a -->
          <a href="#" class="btn btn_right_delete_organization_and_space cancel btn_cancel_user button_error_cancel"><span class="line">| </span>Close</a>
        </div>
      </div>
    </div>
<% end %>


<% if defined?(include_erb) && include_erb != nil %>
    <%= erb(include_erb, :layout => false, :locals => { :current_organization => current_organization, :current_space => current_space, :organization_name => organization_name, :collections => defined?(apps) ? apps : nil, :current_tab => current_tab, :error_message => error_message, :services_list => services_list, :domains_list => domains_list }) %>
<% end %>

</div>