<div class="breadcrumb">
  <span class="breadcrumb_element">...&nbsp;/&nbsp;</span><a href="<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS %>" class="breadcrumb_link">organizations</a>
  <span class="breadcrumb_element">&nbsp;/&nbsp;</span>
  <a href="<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS + "/#{current_organization}/spaces" %>" class="breadcrumb_link"><%= organization_name %></a>
  <span class="breadcrumb_element">&nbsp;/&nbsp;</span>
  <a href="<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS + "/#{current_organization}/spaces/#{current_space}/apps" %>" class="breadcrumb_link"><%= space_name %></a>
</div>


<div class="sections" id="space_page">

<div class="manage_content_header">
  <h2 class="section_title">
    <span id="space_name"><%= space_name %></span>

    <form action="/updateSpace" method="post">
      <input type="text" value="" id="space_input" name="modified_name" class="modal_input_box tiped" />
      <input type="hidden" name="current_organization" value="<%= current_organization %>" />
      <input type="hidden" name="current_space" value="<%= current_space %>" />
      <input type="hidden" name="current_tab" value="<%= current_tab %>" />
      <% if params[:error] == 'update_space' %>
          <div class="error_tooltips">
            <p><%= error_message %></p>
          </div>
      <% end %>
      <div class="tooltips">
        <p>Press enter to update the new name!</p>
      </div>
    </form>

  </h2>
  <div class="icons_options">
    <% if current_tab == "apps" %>
        <a href="<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS + "/#{current_organization}/spaces/#{current_space}/#{current_tab}/create_app/new" %>" class="plus_sign_32 plus_sign_position_32" id="create_app"></a>
    <% end %>

    <% if current_tab == "services" %>
        <a href="<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS + "/#{current_organization}/spaces/#{current_space}/#{current_tab}/create_service/new" %>" class="plus_sign_32 plus_sign_position_32" id="create_service"></a>
    <% end %>

    <% if current_tab == "members" %>
        <a href="<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS + "/#{current_organization}/spaces/#{current_space}/#{current_tab}/add_user/new" %>" class="plus_sign_32 plus_sign_position_32" id="create_user"></a>
    <% end %>

    <% if current_tab == "routes" %>
        <a href="<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS + "/#{current_organization}/spaces/#{current_space}/#{current_tab}/add_route/new" %>" class="plus_sign_32 plus_sign_position_32" id="create_user"></a>
    <% end %>

    <% if current_tab == "domains" %>
        <a href="<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS + "/#{current_organization}/spaces/#{current_space}/#{current_tab}/map_domain/new" %>" class="plus_sign_32 plus_sign_position_32" id="create_user"></a>
    <% end %>

    <input type="button" value="" class="edit_sign_32 edit_sign_position_32" id="edit_space_btn" onclick="showSpacesInput();" />
    <input type="button" class="trash_sign_32 trash_sign_position_32 delete_this_space" value="" />
  </div>
</div>

<div id="team_tabs">

  <ul id="spaces_tabs" class="nav nav-tabs">
    <% if current_tab == "apps" %>
        <li class="space_selected_tab"><a href="<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS + "/#{current_organization}/spaces/#{current_space}/apps" %>">Apps (<span><%= apps_list.count %></span>)</a></li>
    <% else %>
        <li class="space_unselected_tabs"><a href="<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS + "/#{current_organization}/spaces/#{current_space}/apps" %>">Apps (<span><%= apps_list.count %></span>)</a></li>
    <% end %>


    <% if current_tab == "services" %>
        <li class="space_selected_tab"><a href="<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS + "/#{current_organization}/spaces/#{current_space}/services" %>">Services (<span><%= services_list.count %></span>)</a></li>
    <% else %>
        <li class="space_unselected_tabs"><a href="<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS + "/#{current_organization}/spaces/#{current_space}/services" %>">Services (<span><%= services_list.count %></span>)</a></li>
    <% end %>


    <% if current_tab == "members" %>
        <li class="space_selected_tab"><a href="<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS + "/#{current_organization}/spaces/#{current_space}/members" %>">Users (<span><%= owners_list.count + developers_list.count + auditors_list.count %></span>)</a></li>
    <% else %>
        <li class="space_unselected_tabs"><a href="<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS + "/#{current_organization}/spaces/#{current_space}/members" %>">Users (<span><%= owners_list.count + developers_list.count + auditors_list.count %></span>)</a></li>
    <% end %>


    <% if current_tab == "routes" %>
        <li class="space_selected_tab"><a href="<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS + "/#{current_organization}/spaces/#{current_space}/routes" %>">Routes (<span><%= routes_list.count %></span>)</a></li>
    <% else %>
        <li class="space_unselected_tabs"><a href="<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS + "/#{current_organization}/spaces/#{current_space}/routes" %>">Routes (<span><%= routes_list.count %></span>)</a></li>
    <% end %>


    <% if current_tab == "domains" %>
        <li class="space_selected_tab"><a href="<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS + "/#{current_organization}/spaces/#{current_space}/domains" %>">Domains (<span><%= defined?(domains_list) ? domains_list.count { |d| d.owning_org_name == organization_name && d.owning_spaces.count { |s| s.name == space_name } != 0 } : '...' %></span>)</a></li>
    <% else %>
        <li class="space_unselected_tabs"><a href="<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS + "/#{current_organization}/spaces/#{current_space}/domains" %>">Domains (<span><%= defined?(domains_list) ? domains_list.count { |d| d.owning_org_name == organization_name && d.owning_spaces.count { |s| s.name == space_name } != 0 } : '...' %></span>)</a></li>
    <% end %>
  </ul>


  <% if defined?(current_tab) && current_tab != nil && current_tab == "apps" %>
      <div id="apps" class="tab_pane">
        <ul class="tile_list">
          <% apps_list.each do |app| %>
              <li class="tile_invisible read_app_details">
                <ul class="custom_list">
                  <li class="tile_app_name" title="<%= app.name %>">
                    <a href="<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS + "/#{current_organization}/spaces/#{current_space}/apps/#{app.name}" %>" class="link_tiles_app show_this_app_details" id="<%= app.name %>">
                      <span class="app_name" id="<%= app.name %>" title="<%= app.name %>"><%= app.name %></span>
                      <span class="app_state" id="<%= app.state %>"></span>
                      <span class="app_instances" id="<%= app.instances %>"></span>
                      <span class="app_memory" id="<%= app.memory %>"></span>
                    </a>

                    <span class="app_instances" id="<%= app.instances %>">instances: <%= app.instances %></span>
                    <span class="app_memory" id="<%= app.memory %>">memory: <%= app.memory %></span>

                    <span class="small_trash delete-app-button" id="<%= app.name %>" title="<%= app.name %>"></span>
                  </li>

                  <li class="tile_app_logo">
                    <span href="#" class="link_tiles_app app_stack"><%= app.stack.name %></span>
                  </li>

                  <li class="tile_app_details <%= app.state %>">
                    <span class="app_state" id="<%= app.state %>"><%= app.state %></span>
                  </li>
                </ul>
              </li>

              <% if params[:app_name] == app.name %>
                  <%= erb(:'user_pages/modals/app_details', :layout => false, :locals => { :current_organization => current_organization, :current_space => current_space, :organization_name => organization_name, :collections => collections, :current_tab => current_tab, :app => app, :services_list => services_list, :error_message => error_message }) %>
              <% end %>

          <% end %>

          <div class="div_ul_shape"></div>
        </ul>
      </div>
  <% end %>


  <% if defined?(current_tab) && current_tab != nil && current_tab == "services" %>
      <div id="services" class="tab-pane">
        <ul class="tile_list">

          <% services_list.each do |service| %>
              <li class="tile_invisible">
                <ul class="custom_list">
                  <li class="tile_service_name" title="<%= service.name %>">
                                        <span>
                                            <span class="service_name"><%= service.name %></span>
                                            <a href="#"><span class="small_trash delete-service-button" id="<%= service.name %>" title="<%= service.guid %>"></span></a>
                                        </span>
                  </li>

                  <li class="tile_service_logo">
                    <span href="#" class="link_tiles_app  service-icon-<%= service.type %>"></span>
                  </li>

                  <li class="tile_service_details">
                    <span class="service_plan_span">Plan: <%= service.type %></span>
                    <span class="service_cost_span">Cost: <%= service.type %></span>
                  </li>
                </ul>
              </li>
          <% end %>

          <div class="div_ul_shape"></div>
        </ul>
      </div>
  <% end %>


  <% if defined?(current_tab) && current_tab != nil && current_tab == "members" %>
      <div id="users" class="tab-pane">
        <ul class="tile_list">
          <% owners_list.each do |owner| %>
              <li class="tile_user_owner" title="<%= owner.email %>">
                <span class="user_name_span"><%= owner.email %></span>
                <span class="user_type_span">Owner</span>
                <a href="#"><span class="small_trash delete-user-button btn_delete_owner" id="<%= owner.guid %>" title="<%= owner.email %>"></span></a>

                <span class="span_bg_icon"></span>
              </li>
          <% end %>

          <% developers_list.each do |dev| %>
              <li class="tile_user_developer" title="<%= dev.email %>">
                <span class="user_name_span"><%= dev.email %></span>
                <span class="user_type_span">Developer</span>
                <a href="#"><span class="small_trash delete-user-button btn_delete_developer" id="<%= dev.guid %>" title="<%= dev.email %>"></span></a>

                <span class="span_bg_icon"></span>
              </li>
          <% end %>

          <% auditors_list.each do |auditor| %>
              <li class="tile_user_manager" title="<%= auditor.email %>">
                <span class="user_name_span"><%= auditor.email  %></span>
                <span class="user_type_span">Auditor</span>
                <a href="#"><span class="small_trash delete-user-button btn_delete_auditor" id="<%= auditor.guid %>" title="<%= auditor.email %>"></span></a>

                <span class="span_bg_icon"></span>
              </li>
          <% end %>

          <div class="div_ul_shape"></div>
        </ul>
      </div>
  <% end %>

  <% if defined?(current_tab) && current_tab != nil && current_tab == "routes" %>
      <div id="routes" class="tab-pane">
        <ul class="tile_list">

          <% routes_list.each do |route| %>
              <% route_app_name = nil %>

              <% apps_list.each do |app| %>
                  <% app.uris.each do |uri| %>
                      <% if uri.url == route.name %>
                          <% route_app_name = app.name %>
                      <% end %>
                  <% end %>
              <% end %>

              <li class="tile_routes">
                <a href="http://<%= route.name %>" class="link_tiles_routes" title="<%= route.name %>"><span class="to_be_underlined organization_name_span"><%= route.name %></span></a>
                <span class="user_type_span">Route</span>

                <span class="span_bg_icon_routes"></span>
                <a href="#"><span class="small_trash delete-route-button" id="<%= route.guid %>" title="<%= route_app_name %>"></span></a>
              </li>
          <% end %>

          <div class="div_ul_shape"></div>
        </ul>
      </div>
  <% end %>


  <% if defined?(current_tab) && current_tab != nil && current_tab == "domains" %>
      <div id="domains" class="tab-pane">
        <ul class="tile_list">
          <% domains_list.each do |domain| %>
              <% if domain.owning_org_name == organization_name && domain.owning_spaces.count { |s| s.name == space_name } != 0 %>
                  <li class="tile_space_domain" title="<%= domain.name %>">
                    <span class="count-value wildcard domain_wildcard_span_value <%= domain.wildcard %>"></span>
                    <span class="count-label wildcard domain_wildcard_span"><%= domain.name %></span>

                    <span class="span_bg_icon_domains"></span>
                    <a href="#"><span class="small_trash delete-domain-button" id="<%= domain.name %>" title="<%= domain.guid %>"></span></a>
                  </li>
              <% end %>
          <% end %>

          <div class="div_ul_shape"></div>
        </ul>
      </div>
  <% end %>
</div>


<div class="modal hide" id="delete_space_modal">
  <div class="modal-header">
    <button class="close"></button>
    <h3>Delete Space</h3>
  </div>
  <div class="modal-body">
    <p>
      Are you sure you want to delete the space "<%= space_name %>"?
    </p>
    <p>
      <strong>
        WARNING! All applications and services in this space will be deleted! This action cannot be reversed.
      </strong>
    </p>
  </div>
  <div class="modal-footer">
    <span class="server_errors" id="delete_space_failed"></span>
    <p class="hidden_modal_messages" id="span_delete_space">Deleting space...</p>
    <div class="button_case_delete_organization_and_space">
      <button type="button" class="btn btn_right_delete_organization_and_space cancel" id="cancel_btn_delete_space"><span class="line">| </span>Cancel </button>

      <form action="/deleteSpace" method="post">
        <button type="submit" class="btn btn_left_delete_organization_and_space danger" id="btn_delete_space"><span class="line">| </span>Delete </button>
        <input type="hidden" name="spaceGuid" value="<%= current_space %>" />
        <input type="hidden" name="org_guid" value="<%= current_organization %>" />
      </form>
    </div>
  </div>
</div>

<div class="modal fade hide" id="delete_app">
  <div class="modal-header">
    <button class="close"></button>
    <h3>Delete App</h3>
  </div>
  <div class="modal-body">
    <p>
      Are you sure you want to delete the app "<span id="this_app_name"></span>"?
    </p>
  </div>
  <div class="modal-footer">
    <span class="server_errors" id="delete_app_failed"><%= error_message %></span>
    <p class="hidden_modal_messages" id="span_delete_app">Deleting app...</p>

    <div class="button_case_delete_organization_and_space">
      <button class="btn btn_right_delete_organization_and_space cancel" id="btn_cancel_app"><span class="line">| </span>Cancel </button>
      <form action="/deleteApp" method="post">
        <button type="submit" class="btn btn_left_delete_organization_and_space danger" id="btn_delete_app"><span class="line">| </span>Delete </button>
        <input type="hidden" id="pass_app" name="appGuid" />
        <input type="hidden" name="current_organization" value="<%= current_organization %>" />
        <input type="hidden" name="current_space" value="<%= current_space %>" />
        <input type="hidden" name="current_tab" value="<%= current_tab %>" />
      </form>
    </div>
  </div>
</div>


<div class="modal fade hide" id="delete_service">
  <div class="modal-header">
    <button class="close"></button>
    <h3>Delete Service</h3>
  </div>
  <div class="modal-body">
    <p>
      Are you sure you want to delete the service "<span id="this_service_name"></span>"?
    </p>
  </div>
  <div class="modal-footer">
    <span class="server_errors"><%= error_message %></span>
    <p class="hidden_modal_messages" id="span_delete_service">Deleting service...</p>

    <div class="button_case_delete_organization_and_space">
      <button class="btn btn_right_delete_organization_and_space cancel" id="btn_cancel_service"><span class="line">| </span>Cancel </button>
      <form action="/deleteService" method="post">
        <button type="submit" class="btn btn_left_delete_organization_and_space danger" id="btn_delete_service"><span class="line">| </span>Delete </button>
        <input type="hidden" id="pass_service" name="serviceGuid" />
        <input type="hidden" name="current_organization" value="<%= current_organization %>" />
        <input type="hidden" name="current_space" value="<%= current_space %>" />
        <input type="hidden" name="current_tab" value="<%= current_tab %>" />
      </form>
    </div>
  </div>
</div>


<div class="modal fade hide" id="delete_route">
  <div class="modal-header">
    <button class="close"></button>
    <h3>Delete Route</h3>
  </div>
  <form action="/deleteRoute" method="post">

    <div class="modal-body">
      <p>
        Are you sure you want to delete this route?
      </p>
    </div>

    <div class="modal-footer">
      <span class="server_errors"><%= error_message %></span>
      <p class="hidden_modal_messages" id="span_delete_route">Deleting route...</p>

      <div class="button_case_delete_organization_and_space">
        <button class="btn btn_right_delete_organization_and_space cancel" id="btn_cancel_route"><span class="line">| </span>Cancel </button>
        <button type="submit" class="btn btn_left_delete_organization_and_space danger" id="btn_delete_route"><span class="line">| </span>Delete </button>
        <input type="hidden" id="pass_route_guid" name="routeGuid" />
        <input type="hidden" name="current_organization" value="<%= current_organization %>" />
        <input type="hidden" name="current_space" value="<%= current_space %>" />
        <input type="hidden" name="current_tab" value="<%= current_tab %>" />
      </div>
    </div>
  </form>
</div>


<div class="modal hide" id="delete_domain_modal">
  <div class="modal-header">
    <button class="close"></button>
    <h3>Unmap domain from space</h3>
  </div>
  <div class="modal-body">
    <p>
      Are you sure you want to unmap "<span id="this_domain_name"></span>" from the current space?
    </p>
  </div>
  <div class="modal-footer">
    <span class="server_errors"><%= error_message %></span>
    <p class="hidden_modal_messages" id="span_delete_domain">Deleting domain...</p>
    <div class="button_case_delete_organization_and_space">
      <button type="button" class="btn btn_right_delete_organization_and_space cancel" id="cancel_btn_delete_domain"><span class="line">| </span>Cancel </button>
      <form action="/unmapFromSpace" method="post">
        <button type="submit" class="btn btn_left_delete_organization_and_space danger" id="btn_delete_domain"><span class="line">| </span>Unmap </button>
        <input type="hidden" id="domain_guid" name="domainGuid" />
        <input type="hidden" name="current_organization" value="<%= current_organization %>" />
        <input type="hidden" name="current_space" value="<%= current_space %>" />
        <input type="hidden" name="current_tab" value="space" />
      </form>
    </div>
  </div>
</div>




<div class="modal hide" id="delete_user_modal">
  <div class="modal-header">
    <a href="#" class="close"></a>
    <h3>Delete User</h3>
  </div>
  <div class="modal-body">
    <p>
      Are you sure you want to delete the user "<span id="this_user_name"></span>"?
    </p>
  </div>
  <div class="modal-footer">
    <p class="hidden_modal_messages" id="span_delete_user">Deleting user...</p>

    <div class="button_case_delete_organization_and_space">
      <a  href="#" class="btn btn_right_delete_organization_and_space cancel btn_cancel_user"><span class="line">| </span>Cancel </a>

      <form action="/deleteUser" method="post">
        <input type="hidden" id="pass_user_guid" value="" name="thisUser"/>
        <input type="hidden" id="pass_user_role" value="" name="thisUserRole"/>
        <input type="hidden" name="current_organization" value="<%= current_organization %>" />
        <input type="hidden" name="current_space" value="<%= current_space %>" />
        <input type="hidden" name="current_tab" value="<%= current_tab %>" />
        <button type="submit" class="btn btn_left_delete_organization_and_space danger btn_delete_user"><span class="line">| </span>Delete </button>
      </form>
    </div>
  </div>
</div>


<% if params[:error] != '' && params[:error] != nil && params[:error] != 'update_space' && params[:error] != 'update_app' && params[:error] != 'create_service' && params[:error] != 'create_route' && params[:error] != 'add_user' %>
    <div class="dark_background dark_background_error"> </div>

    <div class="modal" id="errors_modal" class="errors_modal">
      <div class="modal-header">
        <h3>Error</h3>
      </div>

      <div class="modal-body">
        <p>
          An error has occurred:
        </p>
        <p class="red_error">
          <%= error_message.gsub(':', ':<br />') %>
        </p>
      </div>

      <div class="modal-footer">
        <div class="button_case_delete_organization_and_space">
          <!--a  href="<= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS + "/#{current_organization}/spaces/#{current_space}/#{current_tab}" %>" class="btn btn_right_delete_organization_and_space cancel btn_cancel_user"><span class="line">| </span>Close </a -->
          <a href="#" class="btn btn_right_delete_organization_and_space cancel btn_cancel_user button_error_cancel"><span class="line">| </span>Close</a>
        </div>
      </div>
    </div>
<% end %>


<% if defined?(include_erb) && include_erb != nil %>
    <%= erb(include_erb, :layout => false, :locals => { :current_organization => current_organization, :current_space => current_space, :organization_name => organization_name, :collections => defined?(apps) ? apps : nil, :current_tab => current_tab, :error_message => error_message, :services_list => services_list, :domains_list => domains_list }) %>
<% end %>

</div>