<ul class="breadcrumbs">
  <li>
    <a href="<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS %>">organizations</a>
  </li>
  <li>
    <a href="<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS + "/#{current_organization}/spaces" %>"><%= organization_name %></a>
  </li>
  <li>
    <a href="<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS + "/#{current_organization}/spaces/#{current_space}/apps" %>"><%= space_name %></a>
  </li>
</ul>


<div class="sections" id="space_page">

<div class="manage_content_header">
  <div class="section_title">
    <p id="space_name">Space <%= space_name %></p>
  </div>
  <div class="icons_options">
    <% if current_tab == "apps" %>
        <button onclick="window.location = '<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS + "/#{current_organization}/spaces/#{current_space}/#{current_tab}/create_app/new" %>';" class="image s32px plus" />
    <% end %>

    <% if current_tab == "services" %>
        <button onclick="window.location = '<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS + "/#{current_organization}/spaces/#{current_space}/#{current_tab}/create_service/new" %>';" class="image s32px plus" />
    <% end %>

    <% if current_tab == "members" %>
        <button onclick="window.location = '<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS + "/#{current_organization}/spaces/#{current_space}/#{current_tab}/add_user/new" %>';" class="image s32px plus" />
    <% end %>

    <% if current_tab == "routes" %>
        <button onclick="window.location = '<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS + "/#{current_organization}/spaces/#{current_space}/#{current_tab}/add_route/new" %>';" class="image s32px plus" />
    <% end %>

    <% if current_tab == "domains" %>
        <button onclick="window.location = '<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS + "/#{current_organization}/spaces/#{current_space}/#{current_tab}/map_domain/new" %>';" class="image s32px plus" />
    <% end %>

    <button class="image s32px edit" onclick="show_modal($('#edit_current_space_modal'), false);" />
    <button class="image s32px trash" onclick="show_modal($('#delete_current_space_modal'));" />
  </div>
</div>

<div class="tab_menu">

  <div class="tab_menu_start">&nbsp;</div>
    <% if current_tab == "apps" %>
        <div class="selected">Apps</div>
    <% else %>
        <div onclick="window.location = '<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS + "/#{current_organization}/spaces/#{current_space}/apps" %>';">Apps</div>
    <% end %>


    <% if current_tab == "services" %>
        <div class="selected">Services</div>
    <% else %>
        <div onclick="window.location = '<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS + "/#{current_organization}/spaces/#{current_space}/services" %>';">Services</div>
    <% end %>


    <% if current_tab == "members" %>
        <div class="selected">Users</div>
    <% else %>
        <div onclick="window.location = '<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS + "/#{current_organization}/spaces/#{current_space}/members" %>';">Users</div>
    <% end %>


    <% if current_tab == "routes" %>
        <div class="selected">Routes</div>
    <% else %>
        <div onclick="window.location = '<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS + "/#{current_organization}/spaces/#{current_space}/routes" %>';">Routes</div>
    <% end %>


    <% if current_tab == "domains" %>
        <div class="selected">Domains</div>
    <% else %>
        <div onclick="window.location = '<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS + "/#{current_organization}/spaces/#{current_space}/domains" %>';">Domains</div>
    <% end %>
  <div class="tab_menu_end">&nbsp;</div>
</div>

<% if defined?(current_tab) && current_tab != nil && current_tab == "apps" %>
    <% apps_list.each do |app| %>
        <div class="tile app">
          <div class="tile top">

            <div class="tile_action">
              <a class="tile_action show_this_app_details" href="<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS + "/#{current_organization}/spaces/#{current_space}/apps/#{app.name}" %>" id="<%= app.name %>">
                <span class="app_name" id="<%= app.name %>" title="<%= app.name %>"><%= app.name %></span>
                <span class="app_state" id="<%= app.state %>"></span>
                <span class="app_instances" id="<%= app.instances %>"></span>
                <span class="app_memory" id="<%= app.memory %>"></span>
              </a>
            </div>

            <button type="button" id="<%= app.name %>" title="Delete '<%= app.name %>'" class="image s24px trash" />
          </div>


          <div class="tile bottom">
            <div class="tile left">
              <span><%= app.stack.name %></span>
              <span>instances: <%= app.instances %></span>
              <span>memory: <%= app.memory %></span>
            </div>

            <div class="tile right">
              <span><%= app.state %></span>
            </div>
          </div>

          <% if params[:app_name] == app.name %>
              <%= erb(:'user_pages/modals/app_details', :layout => false, :locals => { :current_organization => current_organization, :current_space => current_space, :organization_name => organization_name, :collections => collections, :current_tab => current_tab, :app => app, :services_list => services_list, :domains_list => domains_list, :error_message => error_message }) %>
          <% end %>
        </div>


        <div class="modal delete_confirmation app hide">
          <div class="modal_header">
            <span class="selected_name"></span>
          </div>

          <div class="modal_content">
            <p>
              Are you sure you want to delete the app?
            </p>
            <p class="warning">
              WARNING! This app will be permanently removed from the cloud.
            </p>
          </div>

          <div class="modal_footer">
            <% unless error_message.nil? || error_message.empty? %>
                <div class="error"> <%= error_message %> </div>
            <% end %>

            <div>
              <form action="/deleteApp" method="post">
                <button type="button" class="cancel_button">Cancel</button>
                <button type="submit" value="Delete" >Delete</button>
                <!-- the element selected_guid in this case is the app name -->
                <input type="hidden" class="selected_guid" name="appName" />
                <input type="hidden" name="current_organization" value="<%= current_organization %>" />
                <input type="hidden" name="current_space" value="<%= current_space %>" />
                <input type="hidden" name="current_tab" value="<%= current_tab %>" />
              </form>
            </div>

          </div>
        </div>
    <% end %>
<% end %>


<% if defined?(current_tab) && current_tab != nil && current_tab == "services" %>

    <% services_list.each do |service| %>
        <div class="tile service">
          <div class= "tile top">
            <a class="tile_action" href="#" title="<%= service.name %>">
              <%= service.name %>
            </a>

            <button type="button" class="image s24px trash" id="<%= service.guid %>" title="Delete '<%= service.name %>'" />
          </div>

          <div class="tile bottom">
            <div class="tile left">
                <span><%= service.type %></span>
            </div>

            <div class="tile right">
                <span>Plan: <%= service.type %></span>
                <span>Cost: <%= service.type %></span>
            </div>
          </div>
        </div>
    <% end %>


    <div class="modal delete_confirmation service hide" id="delete_service">
      <div class="modal_header">
        <span class="selected_name"></span>
      </div>

      <div class="modal_content">
        <p>
          Are you sure you want to delete the service?
        </p>
        <p class="warning">
          WARNING! This service will be permanently removed from the cloud.
        </p>
      </div>

      <div class="modal_footer">
        <% unless error_message.nil? || error_message.empty? %>
            <div class="error"> <%= error_message %> </div>
        <% end %>

        <div>
          <form action="/deleteService" method="post">
            <button type="button" class="cancel_button">Cancel</button>
            <button type="submit" value="Delete">Delete</button>
            <input type="hidden" class="selected_guid" name="serviceGuid" />
            <input type="hidden" name="current_organization" value="<%= current_organization %>" />
            <input type="hidden" name="current_space" value="<%= current_space %>" />
            <input type="hidden" name="current_tab" value="<%= current_tab %>" />
          </form>
        </div>
      </div>
    </div>

<% end %>


<% if defined?(current_tab) && current_tab != nil && current_tab == "members" %>
      <% owners_list.each do |owner| %>
        <div class="square_tile">
          <div class="square_tile owner" title="<%= owner.email %>">
            <span><%= owner.email %></span>
            <span class="bottom_left">Owner</span>
            <button type="button" class="image s24px trash" id="<%= owner.guid %>" title="<%= owner.email %>" onclick="deleteUserModal(this, 'owner');" />

            <span class="span_bg_icon"></span>
          </div>
        </div>
      <% end %>

      <% developers_list.each do |dev| %>
        <div class="square_tile">
          <div class="square_tile developer" title="<%= dev.email %>">
            <span><%= dev.email %></span>
            <span class="bottom_left">Developer</span>
            <button type="button" class="image s24px trash" id="<%= dev.guid %>" title="<%= dev.email %>" onclick="deleteUserModal(this, 'developer');" />

            <span class="span_bg_icon"></span>
          </div>
        </div>
      <% end %>

      <% auditors_list.each do |auditor| %>
        <div class="square_tile">
          <div class="square_tile auditor" title="<%= auditor.email %>">
            <span><%= auditor.email  %></span>
            <span class="bottom_left">Auditor</span>
            <button type="button" class="image s24px trash" id="<%= auditor.guid %>" title="<%= auditor.email %>" onclick="deleteUserModal(this, 'auditor');" />

            <span class="span_bg_icon"></span>
          </div>
        </div>
      <% end %>



    <div class="modal delete_confirmation user hide">
      <div class="modal_header">
        <span class="selected_name"></span>
      </div>

      <div class="modal_content">
        <p>
          Are you sure you want to delete the user?
        </p>
        <p class="warning">
          WARNING! This user will be removed from your space.
        </p>
      </div>
      <div class="modal_footer">
        <% unless error_message.nil? || error_message.empty? %>
            <div class="error"> <%= error_message %> </div>
        <% end %>

        <div>
          <form action="/deleteUser" method="post">
            <button type="button" class="cancel_button">Cancel</button>
            <button type="submit" value="Delete">Delete</button>
            <input type="hidden" class="selected_guid" value="" name="thisUser"/>
            <input type="hidden" id="aditional_data" value="" name="thisUserRole"/>
            <input type="hidden" name="current_organization" value="<%= current_organization %>" />
            <input type="hidden" name="current_space" value="<%= current_space %>" />
            <input type="hidden" name="current_tab" value="<%= current_tab %>" />
          </form>
        </div>
      </div>
    </div>
<% end %>


<% if defined?(current_tab) && current_tab != nil && current_tab == "routes" %>

      <% routes_list.each do |route| %>
        <div class="square_tile">
          <% route_app_name = nil %>

          <% apps_list.each do |app| %>
              <% app.uris.each do |uri| %>
                  <% if uri.url == route.name %>
                      <% route_app_name = app.name %>
                  <% end %>
              <% end %>
          <% end %>

          <div class="square_tile route">
            <a href="http://<%= route.name %>" class="tile_action" title="<%= route.name %>"><%= route.name %></a>

            <span class="bottom_left">Route</span>
            <button type="button" class="image s24px trash" id="<%= route.guid %>" title="<%= route_app_name %>" />
          </div>
        </div>
      <% end %>

    <div class="modal delete_confirmation route hide">
      <div class="modal_header">
        <span class="selected_name"></span>
      </div>
      <form action="/deleteRoute" method="post">

        <div class="modal_content">
          <p>
            Are you sure you want to delete this route?
          </p>
          <p class="warning">
            WARNING! This route will be removed from your space.
          </p>
        </div>

        <div class="modal_footer">
          <% unless error_message.nil? || error_message.empty? %>
              <div class="error"> <%= error_message %> </div>
          <% end %>

          <div>
            <button type="button" class="cancel_button">Cancel</button>
            <button type="submit" value="Delete">Delete</button>
            <input type="hidden" class="selected_guid" name="routeGuid" />
            <input type="hidden" name="current_organization" value="<%= current_organization %>" />
            <input type="hidden" name="current_space" value="<%= current_space %>" />
            <input type="hidden" name="current_tab" value="<%= current_tab %>" />
          </div>
        </div>
      </form>
    </div>
<% end %>


<% if defined?(current_tab) && current_tab != nil && current_tab == "domains" %>

      <% domains_list.each do |domain| %>
          <% if domain.owning_org_name == organization_name && domain.owning_spaces.count { |s| s.name == space_name } != 0 %>
            <div class="square_tile">
              <div class="square_tile domain" title="<%= domain.name %>">
                <span><%= domain.name %></span>
                <span class="bottom_left">Domain: <span <% if domain.wildcard == true %> class="wildcard" <% end %>></span></span>
                <button type="button" class="image s24px trash" id="<%= domain.name %>" title="<%= domain.guid %>" />
              </div>
            </div>
          <% end %>
      <% end %>


    <div class="modal delete_confirmation domain hide">
      <div class="modal_header">
        <span class="selected_name"></span>
      </div>

      <div class="modal_content">
        <p>
          Are you sure you want to unmap?
        </p>
        <p class="warning">
          WARNING! This app will be removed from your space.
        </p>
      </div>

      <div class="modal_footer">
        <% unless error_message.nil? || error_message.empty? %>
            <div class="error"> <%= error_message %> </div>
        <% end %>

        <div>
          <form action="/unmapFromSpace" method="post">
            <button type="button" class="cancel_button">Cancel</button>
            <button type="submit" value="Delete">Delete</button>
            <input type="hidden" class="selected_guid" name="domainGuid" />
            <input type="hidden" name="current_organization" value="<%= current_organization %>" />
            <input type="hidden" name="current_space" value="<%= current_space %>" />
            <input type="hidden" name="current_tab" value="space" />
          </form>
        </div>
      </div>
    </div>

<% end %>
</div>


<div class="modal space hide" id="delete_current_space_modal">
  <div class="modal_header">
    <span>Delete '<%= space_name %>'</span>
  </div>

  <div class="modal_content">
    <p>
      Are you sure you want to delete this space?
    </p>
    <p class="warning">
        WARNING! All applications and services in this space will be deleted! This action cannot be reversed.
    </p>
  </div>

  <div class="modal_footer">
    <% unless error_message.nil? || error_message.empty? %>
        <div class="error"> <%= error_message %> </div>
    <% end %>

    <div>
      <form action="/deleteSpace" method="post">
        <button type="button" class="cancel_button">Cancel</button>
        <button type="submit" value="Delete">Delete</button>
        <input type="hidden" name="spaceGuid" value="<%= current_space %>" />
        <input type="hidden" name="org_guid" value="<%= current_organization %>" />
      </form>
    </div>
  </div>
</div>

<div class="modal organization hide" id="edit_current_space_modal">
  <form action="/updateSpace" method="post">
    <div class="modal_header">
      <span><%= space_name %></span>
    </div>

    <div class="modal_content">
      new name for: <input type="text" value="<%= space_name %>" name="modified_name"/>
    </div>

    <div class="modal_footer">
      <% unless error_message.nil? || error_message.empty? %>
          <div class="error"> <%= error_message %> </div>
      <% end %>

      <div>
        <button type="button" class="cancel_button">Cancel</button>
        <button type="submit" value="Update">Update</button>
        <input type="hidden" name="current_organization" value="<%= current_organization %>" />
        <input type="hidden" name="current_space" value="<%= current_space %>" />
        <input type="hidden" name="current_tab" value="<%= current_tab %>" />
      </div>
    </div>
  </form>
</div>




<% unless error_message.nil? || error_message.empty? %>
    <div class="modal error-message" >
      <div class="modal_header">
        <span>Error</span>
      </div>

      <div class="modal_content">
        <p>
          An error has occurred:
        </p>
        <div class="error"> <%= error_message %> </div>
      </div>

      <div class="modal_footer">
          <button type="button" onclick="window.location = '<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS + "/#{current_organization}/spaces/#{current_space}/#{current_tab}" %>';">Close</button>
      </div>
    </div>
<% end %>

<% if defined?(include_erb) && include_erb != nil %>
    <%= erb(include_erb, :layout => false, :locals => { :current_organization => current_organization, :current_space => current_space, :organization_name => organization_name, :collections => defined?(apps) ? apps : nil, :current_tab => current_tab, :error_message => error_message, :services_list => services_list, :domains_list => domains_list, :feedback_id => defined?(feedback_id) ? feedback_id : nil }) %>
<% end %>

