<div class="modal-background"> </div>

<div class="modal app_details" id="details_<%= app.name %>">
  <div class="modal_header">
    <%= app.name %>
  </div>

  <div class="modal_content">
    <div style="margin-bottom: 15px;">
      <div>
        <div class="rectangle_tile">
          <div class="rectangle_tile app">
            <span><%= app.name %></span>
            <span><%= app.state %></span>
            <button type="button" class="image s24px trash" title="Delete '<%= app.name %>'"></button>
          </div>
        </div>

        <div class="right_buttons">
            <% if app.state == "STOPPED" %>
                <form action="/startApp" method="post">
                  <input type="hidden" name="appName" value="<%= app.name %>" />
                  <input type="hidden" name="current_organization" value="<%= current_organization %>" />
                  <input type="hidden" name="current_space" value="<%= current_space %>" />
                  <input type="hidden" name="current_tab" value="<%= current_tab %>" />
                  <input type="submit" name="startApp" class="start start_button_apps startApp_btn" value="" />
                </form>
            <% end %>

            <% if app.state == "RUNNING" || app.state == "STARTED" %>
                <form action="/stopApp" method="post">
                  <input type="hidden" name="appName" value="<%= app.name %>" />
                  <input type="hidden" name="current_organization" value="<%= current_organization %>" />
                  <input type="hidden" name="current_space" value="<%= current_space %>" />
                  <input type="hidden" name="current_tab" value="<%= current_tab %>" />
                  <input type="submit" name="stopApp" class="stop stop_button_apps stopApp_btn" value="" />
                </form>
            <% end %>
        </div>
      </div>
    </div>

    <div>
      <div>
        <h4>Services Bound<div class="right_buttons"><button type="button" class="image s24px plus bind_service_button" title="<%= app.name %>"></button></div></h4>
          <% app.services.each do |service| %>
            <div class="rectangle_tile">
              <div class="rectangle_tile service">
                <span><%= service.name %></span>
                <button type="button" class="image s24px trash" title="Delete '<%= service.name %>'"></button>
              </div>
            </div>
          <% end %>
      </div>

      <div>
        <h4>URIs Bound<div class="right_buttons"><button type="button" class="image s24px plus bind_uri_button" title="Delete '<%= app.name %>'" id="<%= app.name %>"></button></div></h4>
          <% app.uris.each do |uri| %>
              <div class="rectangle_tile">
                <div class="rectangle_tile uri">
                    <span><%= uri.url %></span>
                    <button type="button" class="image s24px trash" title="Delete '<%= uri.url %>'"></button>
                </div>
              </div>
          <% end %>
      </div>
    </div>

    <div>
      <div>
        <h4>App Instances
            <div class="right_buttons">
              <button type="button" class="image s24px minus subtract_instance"></button>
              <button type="button" class="image s24px plus add_instance"></button>
            </div>
        </h4>

        <div class="rectangle_tile">
          <div class="rectangle_tile instances">
            <table style="width: 100%;">
              <tr>
                  <td class="pass_app_instances instances_count"><%= app.instances %></td>
                  <td>Provisioned</td>
              </tr>
              <tr>
                <td><%= app.instances %></td>
                <td>Running</td>
              </tr>
            </table>
          </div>
        </div>
          <span>
            Max memory: 1024MB
          </span>
      </div>

      <div>
        <h4>Memory Provisioned
            <div class="right_buttons">
              <button type="button" class="image s24px minus subtract_memory"></button>
              <button type="button" class="image s24px plus add_memory"></button>
            </div>
        </h4>

        <div class="rectangle_tile">
          <div class="rectangle_tile instances">
            <span class="instance-count pass_app_memory">
                  <div class="memory_count">
                    <%= app.memory %>
                  </div>
            </span>
            <span>MB</span>
          </div>
        </div>

        <div class="slider_div_app" id="slider_case_<%= app.name %>">
          <div id="memory_slider"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal_footer">
    <% unless error_message.nil? || error_message.empty? %>
        <div class="error"> <%= error_message %> </div>
    <% end %>
    <p class="hide hidden_message">Deleting organization...</p>

    <form action="/updateApp" method="post">
      <input type="text" class="send_app_name" name="appName" value="<%= app.name %>" />
      <input type="text" class="send_app_instances" name="appInstances" value="<%= app.instances %>"/>
      <input type="text" class="send_app_memory" name="appMemory" value="<%= app.memory %>" />
      <input type="hidden" name="current_organization" value="<%= current_organization %>" />
      <input type="hidden" name="current_space" value="<%= current_space %>" />
      <input type="hidden" name="current_tab" value="<%= current_tab %>" />

      <div>
        <button type="button" onclick="window.location = '<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS + "/#{current_organization}/spaces/#{current_space}/apps" %>';" class="cancel_button">Cancel</button>
        <button type="submit" class="update_button">Update</button>
      </div>
    </form>
  </div>
</div>



<div class="modal hide" id="saving_modal">
  <div class="modal-header" style="background-color: #187ebc;">
    <h3>Saving changes</h3>
  </div>
  <div class="modal_body">
    <p>
      Please wait while your changes are saved.
    </p>
    <p>
      This dialog will be dismissed automatically after the changes are made.
    </p>
  </div>
</div>



<div class="modal bind_service hide">
  <form action="/bindServices" method="post">

    <div class="modal_header">
      <h3>Add service</h3>
    </div>
    <div class="modal_body">
      <p>Add a new service to <span></span></p>
      <p>
        <label for="bind_services_list">Available services</label>
        <select id="bind_services_list" name="serviceName" class="modal_input_box">
          <% services_list.each do |service| %>
              <option value="<%= service.name %>" id="<%= service.name %>"> <%= service.name %> </option>
          <% end %>
        </select>
      </p>
    </div>
    <div class="modal_footer">
      <input type="hidden" id="bind_service_app_name" name="appName" value="<%= app.name %>" />
      <input type="hidden" name="current_organization" value="<%= current_organization %>" />
      <input type="hidden" name="current_space" value="<%= current_space %>" />
      <input type="hidden" name="current_tab" value="<%= current_tab %>" />

      <div>
        <button type="button" class="cancel_button_app_details">Cancel</button>
        <button type="submit">Bind</button>
      </div>
    </div>
  </form>
</div>

<div class="modal bind_uri hide" >
  <form action="/bindUri" method="post">
    <div class="modal_header">
      <h3>Add new URI</h3>
    </div>
    <div class="modal_content">
      <table style="width: 100%;">
        <tbody>
        <tr>
          <td>
            <label for="host">host: </label>
            <input type="text" name="host" class="modal_input_box"/>
          </td>
          <td style="vertical-align: top; color: #ffffff;">
            <label for="domain">domain: </label>
            <select class="modal_input_box" name="domain">
              <% @domains_list.each do |domain| %>
                  <% if domain.owning_org_name == organization_name || domain.owning_org_name == 'Shared' %>
                      <option value="<%= domain.guid %>"><%= domain.name %></option>
                  <% end %>
              <% end %>
            </select>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="modal_footer">
      <input type="hidden" id="bind_uri_app_name" name="appName" value="<%= app.name %>" />
      <input type="hidden" name="current_organization" value="<%= current_organization %>" />
      <input type="hidden" name="current_space" value="<%= current_space %>" />
      <input type="hidden" name="current_tab" value="<%= current_tab %>" />

      <div>
        <button type="button" class="cancel_button_app_details">Cancel</button>
        <button type="submit">Bind</button>
      </div>
    </div>
  </form>
</div>


<div class="modal unbind_service hide">
  <div class="modal_header">
    <h3>Unbind service</h3>
  </div>
  <div class="modal_content">
    <p>
      Are you sure you want to unbind your app from this url? will no longer be able to connect to this service.
    </p>
    <p>
      Unbinding does not delete the service. Please delete service from service page to permanently delete it.
    </p>
  </div>
  <div class="modal_footer">
    <form action="/unbindServices" method="post">
      <input type="hidden" name="serviceName" id="unbind_serviceName" />
      <input type="hidden" id="unbind_service_app_name" name="appName" value="<%= app.name %>" />
      <input type="hidden" name="current_organization" value="<%= current_organization %>" />
      <input type="hidden" name="current_space" value="<%= current_space %>" />
      <input type="hidden" name="current_tab" value="<%= current_tab %>" />

      <div>
        <button type="button" class="cancel_button_app_details">Cancel</button>
        <button type="submit">Unbind</button>
      </div>
    </form>
  </div>
</div>

<div class="modal unbind_uri hide">
  <div class="modal_header">
    <h3>Unbind URI</h3>
  </div>
  <div class="modal_content">
    <p>
      Are you sure you want to unbind this app? <br />Your app will no longer be able to use this URI.
    </p>
  </div>
  <div class="modal_footer">
    <form action="/unbindUri" method="post">
      <input type="text" name="appUrl" id="unbind_uriName" />
      <input type="hidden" id="unbind_uri_app_name" name="appName" value="<%= app.name %>" />
      <input type="hidden" name="current_organization" value="<%= current_organization %>" />
      <input type="hidden" name="current_space" value="<%= current_space %>" />
      <input type="hidden" name="current_tab" value="<%= current_tab %>" />

      <div>
        <button type="button" class="cancel_button_app_details">Cancel</button>
        <button type="submit">Unbind</button>
      </div>
    </form>
  </div>
</div>
