<div class="modal-background"> </div>

<div class="modal app_details" id="details_<%= app.name %>">
  <div class="modal_header">
    <%= app.name %>
  </div>

  <div class="modal_content">
    <div>
      <span class="app_status">Status: <%= app.state %></span>

        <% if app.state == "STOPPED" %>
            <form action="/startApp" method="post">
              <input type="hidden" name="appName" value="<%= app.name %>" />
              <input type="hidden" name="current_organization" value="<%= current_organization %>" />
              <input type="hidden" name="current_space" value="<%= current_space %>" />
              <input type="hidden" name="current_tab" value="<%= current_tab %>" />
              <div class="app_status_buttons">
                <button type="button" class="image s24px trash" title="Delete '<%= app.name %>'"></button>
                <button type="submit" name="startApp" class="image s24px start start_app" value="" title="Start!"></button>
              </div>
            </form>
        <% end %>

        <% if app.state == "RUNNING" || app.state == "STARTED" %>
            <form action="/stopApp" method="post">
              <input type="hidden" name="appName" value="<%= app.name %>" />
              <input type="hidden" name="current_organization" value="<%= current_organization %>" />
              <input type="hidden" name="current_space" value="<%= current_space %>" />
              <input type="hidden" name="current_tab" value="<%= current_tab %>" />
              <div class="app_status_buttons">
                <button type="button" class="image s24px trash" title="Delete '<%= app.name %>'"></button>
                <button type="submit" name="stopApp" class="image s24px stop stop_app" value="" title="Stop!"></button>
              </div>
            </form>
        <% end %>
    </div>


    <div>
      <div>
            <span>Provisioned</span><input type="text" class="pass_app_instances instances_count" value="<%= app.instances %>" />
            <button type="button" class="image s24px minus subtract_instance"></button>
            <button type="button" class="image s24px plus add_instance"></button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span>Memory</span><input type="text" name="appMemory" id="app_memory_setup" value="<%= app.memory %>"/> MB
            <button type="button" class="image s24px minus subtract_memory"></button>
            <button type="button" class="image s24px plus add_memory"></button>
      </div>
    </div>

    <div>
      <table>
        <tr>
          <td>Name</td>
          <td>Type</td>
          <td>Plan</td>
          <td>Actions</td>
        </tr>

        <% app.services.each do |service| %>
            <tr>
              <td><%= service.name %></td>
              <td><%= service.type %></td>
              <td>free(hardcoded)</td>
              <td>
                <button type="button" class="image s24px trash" title="Delete '<%= service.name %>'" id="<%= service.name %>"></button>
                <button type="button" class="image s24px plus bind_service_button" title="<%= app.name %>"></button>
              </td>
            </tr>
        <% end %>

      </table>
    </div>

    <div>
      <table>
        <tr>
          <td>Name</td>
          <td>Type</td>
          <td>Plan</td>
          <td>Actions</td>
        </tr>

        <% app.uris.each do |uri| %>
            <tr>
              <td><%= uri.url %></td>
              <td><%= 'something' %></td>
              <td>free(hardcoded)</td>
              <td>
                <button type="button" class="image s24px trash" title="Delete '<%= uri.url %>'" id="<%= uri.url %>"></button>
                <button type="button" class="image s24px plus bind_uri_button" title="Delete '<%= app.name %>'"></button>
              </td>
            </tr>
        <% end %>

      </table>
    </div>
  </div>

  <div class="modal_footer">
    <% unless error_message.nil? || error_message.empty? %>
        <div class="error"> <%= error_message %> </div>
    <% end %>
    <p class="hide hidden_message">Updating current application...</p>

    <form action="/updateApp" method="post">
      <input type="hidden" class="send_app_name" name="appName" value="<%= app.name %>" />
      <input type="hidden" class="send_app_instances" name="appInstances" value="<%= app.instances %>"/>
      <input type="hidden" class="send_app_memory" name="appMemory" />
      <input type="hidden" name="current_organization" value="<%= current_organization %>" />
      <input type="hidden" name="current_space" value="<%= current_space %>" />
      <input type="hidden" name="current_tab" value="<%= current_tab %>" />

      <div>
        <button type="button" onclick="window.location = '<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS + "/#{current_organization}/spaces/#{current_space}/apps" %>';" class="cancel_button">Cancel</button>
        <button type="submit" class="update_button">Update</button>
      </div>
    </form>
  </div>
</div>



<div class="modal hide" id="saving_modal">
  <div class="modal_header">
    <h3>Saving changes</h3>
  </div>
  <div class="modal_content">
    <p>
      This dialog will be dismissed automatically after the changes are made.
    </p>
  </div>
  <div class="modal_footer">
    <p>
      Please wait while your app is being updated.
    </p>
  </div>
</div>



<div class="modal bind_service hide">
  <form action="/bindServices" method="post">

    <div class="modal_header">
      <h3>Add service</h3>
    </div>
    <div class="modal_body">
      <p>Add a new service to <span></span></p>
      <p>
        <label for="bind_services_list">Available services</label>
        <select id="bind_services_list" name="serviceName" class="modal_input_box">
          <% services_list.each do |service| %>
              <option value="<%= service.name %>" id="<%= service.name %>"> <%= service.name %> </option>
          <% end %>
        </select>
      </p>
    </div>
    <div class="modal_footer">
      <input type="hidden" id="bind_service_app_name" name="appName" value="<%= app.name %>" />
      <input type="hidden" name="current_organization" value="<%= current_organization %>" />
      <input type="hidden" name="current_space" value="<%= current_space %>" />
      <input type="hidden" name="current_tab" value="<%= current_tab %>" />

      <div>
        <button type="button" class="cancel_button_app_details">Cancel</button>
        <button type="submit">Bind</button>
      </div>
    </div>
  </form>
</div>

<div class="modal bind_uri hide" >
  <form action="/bindUri" method="post">
    <div class="modal_header">
      <h3>Add new URI</h3>
    </div>
    <div class="modal_content">
      <table style="width: 100%;">
        <tbody>
        <tr>
          <td>
            <label for="host">host: </label>
            <input type="text" name="host" class="modal_input_box"/>
          </td>
          <td style="vertical-align: top; color: #ffffff;">
            <label for="domain">domain: </label>
            <select class="modal_input_box" name="domain">
              <% @domains_list.each do |domain| %>
                  <% if domain.owning_org_name == organization_name || domain.owning_org_name == 'Shared' %>
                      <option value="<%= domain.guid %>"><%= domain.name %></option>
                  <% end %>
              <% end %>
            </select>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="modal_footer">
      <input type="hidden" id="bind_uri_app_name" name="appName" value="<%= app.name %>" />
      <input type="hidden" name="current_organization" value="<%= current_organization %>" />
      <input type="hidden" name="current_space" value="<%= current_space %>" />
      <input type="hidden" name="current_tab" value="<%= current_tab %>" />

      <div>
        <button type="button" class="cancel_button_app_details">Cancel</button>
        <button type="submit">Bind</button>
      </div>
    </div>
  </form>
</div>


<div class="modal unbind_service hide">
  <div class="modal_header">
    <h3>Unbind service</h3>
  </div>
  <div class="modal_content">
    <p>
      Are you sure you want to unbind your app from this url? will no longer be able to connect to this service.
    </p>
    <p>
      Unbinding does not delete the service. Please delete service from service page to permanently delete it.
    </p>
  </div>
  <div class="modal_footer">
    <form action="/unbindServices" method="post">
      <input type="hidden" name="serviceName" id="unbind_serviceName" />
      <input type="hidden" id="unbind_service_app_name" name="appName" value="<%= app.name %>" />
      <input type="hidden" name="current_organization" value="<%= current_organization %>" />
      <input type="hidden" name="current_space" value="<%= current_space %>" />
      <input type="hidden" name="current_tab" value="<%= current_tab %>" />

      <div>
        <button type="button" class="cancel_button_app_details">Cancel</button>
        <button type="submit">Unbind</button>
      </div>
    </form>
  </div>
</div>

<div class="modal unbind_uri hide">
  <div class="modal_header">
    <h3>Unbind URI</h3>
  </div>
  <div class="modal_content">
    <p>
      Are you sure you want to unbind this app? <br />Your app will no longer be able to use this URI.
    </p>
  </div>
  <div class="modal_footer">
    <form action="/unbindUri" method="post">
      <input type="text" name="appUrl" id="unbind_uriName" />
      <input type="hidden" id="unbind_uri_app_name" name="appName" value="<%= app.name %>" />
      <input type="hidden" name="current_organization" value="<%= current_organization %>" />
      <input type="hidden" name="current_space" value="<%= current_space %>" />
      <input type="hidden" name="current_tab" value="<%= current_tab %>" />

      <div>
        <button type="button" class="cancel_button_app_details">Cancel</button>
        <button type="submit">Unbind</button>
      </div>
    </form>
  </div>
</div>
