<% apps = collections %>
<div class="modal-background"> </div>

<div class="modal app_push">
      <div class="modal_header">
        <span>Add a new app template</span>
      </div>

      <div class="modal_content">
          <!-- LOOP AND CREATE A LIST OF COLLECTIONS AND APPS -->
          <ul class="app_push list">
            <% apps.each do |app_id, app| %>
                <li class="app_menu_item" id="<%= app_id %>" onclick="showPanel(this);">
                  <%= app['name'] == nil ? 'N/A - Please provide an application name' : app['name'] %>
                </li>
            <% end %>
          </ul>

          <div class="app_container">
              <!-- LOOP AND CREATE THE CONTENT OF EACH COLLECTION AND APP -->
              <% apps.each do |app_id, app| %>
                  <div class="template_apps hide" id="<%= app_id %>_div">

                    <!-- INSERT APP LOGO, NAME, DESCRIPTION AND SERVICE ICONS -->
                    <% if File.exists? app['logo'] %>
                        <image src ="/get_logo/<%= app_id %>" class="template_app_logo" />
                    <% end %>

                    <span class="template_app_name">
                      <%= app['name'] %>
                      <span class="query_link" onclick="redirectTo('<%= app_id %>');"></span>
                    </span>
                    <br /><br />
                    <p class="template_app_description">
                      <%= app['description'][0..500] %>
                    </p>

                    <br />

                    <div>
                      <!-- INSERT TAGS -->
                      <div class="tags_div">
                        <img src="/images/tmp_apps_icons/<%= app['buildpack'] %>.png" class="small_app_icons" />
                        <% app['service_type'].each do |service_name| %>
                            <img src="/images/tmp_apps_icons/<%= service_name %>.png" class="small_app_icons" />
                        <% end %>
                        <br /><br />

                        <span class="tag_span">Tags:</span>
                          <span class="tags">
                            <% if app['tags'] != nil %>
                                <%= app['tags'].join(',&nbsp;') %>
                            <% else %>
                                none
                            <% end %>
                          </span>
                        <br />
                        <span class="publisher_span">Publisher:</span>
                          <span class="tags">
                            <% if app['collection']['name'] != nil %>
                                <%= app['collection']['name'] %>
                            <% end %>
                          </span>
                      </div>

                      <!-- INSERT BUTTONS DOWNLOAD IF NECESSARY AND PUSH -->
                      <div class="table_div">
                          <table>
                            <tr>
                              <td><label>app name</label></td>
                              <td><input type="text" id="<%= app_id %>_selected_name" /></td>
                            </tr>
                            <tr>
                              <td><label>host name</label></td>
                              <td><input type="text" id="<%= app_id %>_selected_host" /></td>
                            </tr>
                            <tr>
                              <td><label for="app_url">app URL</label></td>
                              <td>
                                <select id="<%= app_id %>_selected_domain">
                                  <% domains_list.each do |domain| %>
                                      <% if domain.owning_spaces.any? { |space| space.guid == params[:space_guid] } %>
                                        <option value="<%= domain.name %>"><%= domain.name %></option>
                                      <% end %>
                                  <% end %>
                                </select>
                              </td>
                            </tr>
                          </table>
                      </div>
                    </div>
                  </div>
              <% end %>
          </div>
        <% unless error_message.nil? || error_message.empty? %>
            <div class="error"> <%= error_message %> </div>
        <% end %>
      </div>

      <div class="modal_footer">
        <div>
          <form method="post" action="/push" class="create_app_form">
            <button type="button" onclick="window.location.assign('<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS + "/#{current_organization}/spaces/#{current_space}/apps" %>');">Close</button>

              <% apps.each do |app_id, app| %>
                    <button type="submit" class="submit_buttons" id="<%= app_id %>_selected" style="float: right;">Push</button>
                    <% if app['can_download'] != nil %>
                        <% if app['can_download'] == true %>
                            <button type="button" id="<%= app_id %>_down" class="download_buttons" onclick="window.location.assign('<%= "/download_app/" + app['id'] %>');" title="Download '<%= app['name'] %>'" style="float: right;">Download</button>
                        <% end %>
                    <% end %>

                    <input type="hidden" id="<%= app_id %>_selected_id" value="<%= app_id %>" >
                    <input type="hidden" name="app_space" value="<%= current_space %>" >
                    <input type="hidden" name="app_organization" value="<%= current_organization %>" >
              <% end %>

            <input type="hidden" name="app_name" id="current_app_name" />
            <input type="hidden" name="app_id" id="current_app_id" />
            <input type="hidden" name="app_domain" id="current_app_domain" />
            <input type="hidden" name="app_host" id="current_app_host" />
          </form>
        </div>
      </div>
</div>


<!-- jquery is necessary here in order for the script to work -->
<script type="text/javascript" src="/js/jquery-1.5.js"></script>
<script type="text/javascript">
    /* ENSURE THE APPS ARE INSERTED IN THE JAVASCRIPT ARRAY IN THE SAME ORDER */

    <% js_apps = [] %>
    <% counter = 0 %>

    <% apps.each do |app| %>
    <% js_apps[counter] = app[0] %>
    <% counter += 1 %>
    <% end %>
    var js_apps = <%= js_apps %>;

    /* SHOW CORRECT APP IF THE PAGE IS LOADED  //  the 'app' -- is the query string parameter  */

    var app = getParameterByName('app');
    if (app != '')
    {
        var element = null;
        for(var counter = 0; counter <= js_apps.length; counter++)
        {
            element = js_apps[counter];
            if(element == app)
            {
                showPanel(document.getElementById(js_apps[counter]));
            }
        }
    }
    else
    {
        showPanel(document.getElementById(js_apps[0]));
    }

    function redirectTo(id)
    {
        window.location.href='<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS + "/#{current_organization}/spaces/#{current_space}/apps/create_app/new" %>?app=' + id;
    }

    function showPanel(obj)
    {
        if(obj.id != 0)
        {
            if ($('.app_menu_item').hasClass('selected'))
            {
                $('.app_menu_item').removeClass('selected');
            }

            $('.template_apps').css("display", "none");
            $('.submit_buttons').css("display", "none");
            $('.download_buttons').css("display", "none");
            $('#' + obj.id + '_div').css("display", "block");
            $('#' + obj.id + '_selected').css("display", "block");
            $('#' + obj.id + '_down').css("display", "block");
            $('#' + obj.id).addClass('selected');
        }
    }

    function getParameterByName( name ){
        name = name.replace(/[\[]/,"\\\[").replace(/[\]]/,"\\\]");
        var regexS = "[\\?&]"+name+"=([^&#]*)",
                regex = new RegExp( regexS ),
                results = regex.exec( window.location.href );
        if( results == null ){
            return "";
        } else{
            return decodeURIComponent(results[1].replace(/\+/g, " "));
        }
    }

    function isInteger(possibleInteger) {
        return Object.prototype.toString.call(possibleInteger) !== "[object Array]" && /^[\d]+$/.test(possibleInteger);
    }


    $('.submit_buttons').hover(function(){
        var name = $(this).attr("id") + '_name';
        var app_id = $(this).attr("id") + '_id';
        var domain = $(this).attr("id") + '_domain';
        var host = $(this).attr("id") + '_host';

        $('#current_app_name').val($('#' + name).val());
        $('#current_app_id').val($('#' + app_id).val());
        $('#current_app_domain').val($('#' + domain).val());
        $('#current_app_host').val($('#' + host).val());
    });
</script>

