<% apps = collections %>
<div class="modal-background"> </div>

<div class="modal app_push">
  <div class="modal_header">
    <h3>Add a new app template</h3>
  </div>

  <div class="modal_content">
      <!-- LOOP AND CREATE A LIST OF COLLECTIONS AND APPS -->
      <ul class="app_push list">
        <% apps.each do |app_id, app| %>
            <li class="app_menu_item" id="<%= app_id %>" onclick="showPanel(this);">
              <%= app['name'] == nil ? 'N/A - Please provide an application name' : app['name'] %>
            </li>
        <% end %>
      </ul>

      <!-- LOOP AND CREATE THE CONTENT OF EACH COLLECTION AND APP -->
      <% apps.each do |app_id, app| %>
          <div class="template_apps hide" id="<%= app_id %>_div" <%= apps.first[1]['id'] == app_id ? "style='display: block;'" : '' %>>

            <!-- INSERT APP LOGO, NAME, DESCRIPTION AND SERVICE ICONS -->
            <% if File.exists? app['logo'] %>
                <image src ="/get_logo/<%= app_id %>" class="template_app_logo" />
            <% end %>

            <span class="template_app_name">
              <%= app['name'] %>
              <span class="query_link" onclick="redirectTo('<%= app_id %>');"></span>
            </span>
            <br /><br />

            <% app['service_type'].each do |service_name| %>
                <img src="/images/tmp_apps_icons/<%= service_name %>.png" class="small_app_icons" />
            <% end %>
            <img src="/images/tmp_apps_icons/<%= app['vmc_manifest']['applications']['.']['framework']['name'] %>.png" class="small_app_icons" />
            <br /><br />
            <p class="template_app_description">
              <%= app['description'][0..500] %>
            </p>

            <br />

            <div class="template_apps_footer">
              <!-- INSERT TAGS -->
              <div class="tags_div">
                <span class="tag_span">Tags:</span>
                  <span class="tags">
                    <% if app['tags'] != nil %>
                        <%= app['tags'].join(',&nbsp;') %>
                    <% else %>
                        none
                    <% end %>
                  </span>
                <br />
                <span class="publisher_span">Publisher:</span>
                  <span class="tags">
                    <% if app['collection']['name'] != nil %>
                        <%= app['collection']['name'] %>
                    <% end %>
                  </span>
              </div>

              <!-- INSERT BUTTONS DOWNLOAD IF NECESSARY AND PUSH -->
              <div class="buttons_div">
                <form method="post" action="/push">
                  <table class="collection_buttons_table">
                    <tr>
                      <td class="template_app_push_span_title">Push App:</td>
                      <td> </td>
                    </tr>
                    <tr>
                      <td><label for="app_name" class="template_app_name_span">App Name:</label></td>
                      <td><input type="text" value="" name="app_name" class="modal_input_box" /></td>
                    </tr>
                    <tr>
                      <td><label for="app_url" class="template_app_url_span">App URL:</label></td>
                      <td>
                        <select class="modal_input_box" name="app_url">
                          <% domains_list.each do |domain| %>
                              <% if domain.owning_org_name == organization_name || domain.owning_org_name == 'Shared' %>
                                <option value="<%= domain.name %>"><%= domain.name %></option>
                              <% end %>
                          <% end %>
                        </select>
                      </td>
                    </tr>
                    <tr>
                      <td></td>
                      <td>
                        <% if app['can_download'] != nil %>
                            <% if app['can_download'] == true %>
                                <button type="button" onclick="window.location = '<%= "/download_app/" + app['id'] %>';" title="Download '<%= app['name'] %>'">Download</button>
                            <% end %>
                        <% end %>
                        <input type="hidden" name="app_space" value="<%= current_space %>" >
                        <input type="hidden" name="app_organization" value="<%= current_organization %>" >
                        <input type="hidden" name="app_id" value="<%= app_id %>" >
                        <input type="hidden" name="app_src" value="<%= app['collection_src'] %>" >
                        <input type="hidden" name="app_memory" value="<%= app['vmc_manifest']['applications']['.']['mem'] %>" >
                        <input type="hidden" name="app_instances" value="<%= app['vmc_manifest']['applications']['.']['instances'] %>" >

                        <button type="submit">Push</button>
                      </td>
                    </tr>
                  </table>
                  <input type="hidden" value="<%= app_id %>" name="app_id" />
                  <!-- read apps function returns the path of the template_manifest file -->
                  <input type="hidden" value="<%= app['app_src'].sub!'template_manifest.yml', '' %>" name="app_src" />
                </form>
              </div>
            </div>
          </div>
      <% end %>
  </div>

  <div class="modal_footer">
    <% unless error_message.nil? || error_message.empty? %>
        <div class="error"> <%= error_message %> </div>
    <% end %>
    <p class="hide hidden_message">Pushing app ...</p>

    <div>
      <button onclick="window.location = '<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS + "/#{current_organization}/spaces/#{current_space}/apps" %>';" class="close_button">Close</button>
    </div>
  </div>
</div>


<script type="text/javascript">
    /* ENSURE THE APPS ARE INSERTED IN THE JAVASCRIPT ARRAY IN THE SAME ORDER */

    <% js_apps = [] %>
    <% counter = 0 %>

    <% apps.each do |app| %>
    <% js_apps[counter] = app[0] %>
    <% counter += 1 %>
    <% end %>
    var js_apps = <%= js_apps %>;

    /* SHOW CORRECT APP IF THE PAGE IS LOADED  //  the 'app' -- is the query string parameter  */

    var app = getParameterByName('app');
    if (app != '')
    {
        var element = null;
        for(var counter = 0; counter <= js_apps.length; counter++)
        {
            element = js_apps[counter];
            if(element == app)
            {
                showPanel(document.getElementById(js_apps[counter]));
            }
        }
    }

    function redirectTo(id)
    {
        window.location.href='<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS + "/#{current_organization}/spaces/#{current_space}/apps/create_app/new" %>?app=' + id;
    }

    function showPanel(obj)
    {
        if(obj.id != 0)
        {
            $('.app_menu_item').removeClass('selected');
            $('.template_apps').css("display", "none");
            $('#' + obj.id + '_div').css("display", "block");
            $('#' + obj.id).addClass('selected');
        }
    }

    function getParameterByName( name ){
        name = name.replace(/[\[]/,"\\\[").replace(/[\]]/,"\\\]");
        var regexS = "[\\?&]"+name+"=([^&#]*)",
                regex = new RegExp( regexS ),
                results = regex.exec( window.location.href );
        if( results == null ){
            return "";
        } else{
            return decodeURIComponent(results[1].replace(/\+/g, " "));
        }
    }

    function isInteger(possibleInteger) {
        return Object.prototype.toString.call(possibleInteger) !== "[object Array]" && /^[\d]+$/.test(possibleInteger);
    }
</script>

