<% apps = collections %>
<div class="dark_background"> </div>

<div class="modal fade hide" id="create_tempcta_modal">
  <div class="modal-header" style="background-color: #09293e">
    <a href="<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS + "/#{current_organization}/spaces/#{current_space}/apps" %>" class="close"></a>
    <h3>Add a new app template</h3>
  </div>

  <div class="modal-body" id="template_apps_container">
      <!-- LOOP AND CREATE A LIST OF COLLECTIONS AND APPS -->
      <ul class="apps_list">
        <% apps.each do |app_id, app| %>
            <li class="app_menu_item" id="<%= app_id %>" onclick="showPanel(this);">
              <%= app['name'] == nil ? 'N/A - Please provide an application name' : app['name'] %>
            </li>
        <% end %>
      </ul>

      <!-- LOOP AND CREATE THE CONTENT OF EACH COLLECTION AND APP -->
      <% apps.each do |app_id, app| %>
          <div class="template_apps" id="<%= app_id %>_div" <%= apps.first[1]['id'] == app_id ? "style='display: block;'" : '' %>>

            <!-- INSERT APP LOGO, NAME, DESCRIPTION AND SERVICE ICONS -->
            <image src ="/images/apps_logos/<%= app_id %>.png" class="template_app_logo" />

            <span class="template_app_name">
              <%= app['name'] %>
              <span class="query_link" onclick="redirectTo('<%= app_id %>');"></span>
            </span>

            <% app['service_type'].each do |service_name| %>
                <img src="/images/apps_logos/services/<%= service_name %>.png" class="small_app_icons" />
            <% end %>
            <img src="/images/apps_logos/services/<%= app['vmc_manifest']['applications']['.']['framework']['name'] %>.png" class="small_app_icons" />
            <br /><br />
            <p class="template_app_description">
              <%= app['description'][0..500] %>
            </p>



            <div class="template_apps_footer">
              <!-- INSERT TAGS -->
              <div class="tags_div">
                <span class="template_app_tag_span">Tags:</span>
              <span class="template_app_tags">
                <% if app['tags'] != nil %>
                    <%= app['tags'].join(',&nbsp;') %>
                <% else %>
                    none
                <% end %>
              </span>
                <br />
                <span class="template_app_pub_span">Publisher:</span>
              <span class="template_app_tags">
                <% if app['collection']['name'] != nil %>
                    <%= app['collection']['name'] %>
                <% end %>
              </span>
              </div>

              <!-- INSERT BUTTONS DOWNLOAD IF NECESSARY AND PUSH -->
              <div class="buttons_div">
                <form method="post" action="/push">
                  <table class="collection_buttons_table">
                    <tr>
                      <td class="template_app_push_span_title">Push App:</td>
                      <td> </td>
                    </tr>
                    <tr>
                      <td><label for="app_name" class="template_app_name_span">App Name:</label></td>
                      <td><input type="text" value="" name="app_name" class="modal_input_box" /></td>
                    </tr>
                    <tr>
                      <td><label for="app_url" class="template_app_url_span">App URL:</label></td>
                      <td><input type="text" value="" name="app_url" class="modal_input_box" /><%=  %></td>
                    </tr>
                    <tr>
                      <td></td>
                      <td>
                        <% if app['can_download'] != nil %>
                            <% if app['can_download'] == true %>
                                <a href="<%= app['app_src'].sub!'template_manifest.yml', 'wordpress.zip' %>"><input type="button" value="Download" class="btn download_btn" /></a>
                            <% end %>
                        <% end %>
                        <input type="hidden" name="app_space" value="<%= current_space %>" >
                        <input type="hidden" name="app_organization" value="<%= current_organization %>" >
                        <input type="hidden" name="app_id" value="<%= app_id %>" >
                        <input type="hidden" name="app_src" value="<%= app['collection_src'] %>" >
                        <input type="hidden" name="app_memory" value="<%= app['vmc_manifest']['applications']['.']['mem'] %>" >
                        <input type="hidden" name="app_instances" value="<%= app['vmc_manifest']['applications']['.']['instances'] %>" >
                        <input type="hidden" name="app_framework" value="<%= app['vmc_manifest']['applications']['.']['framework']['name'] %>" >
                        <input type="hidden" name="app_runtime" value="<%= app['vmc_manifest']['applications']['.']['framework']['info']['exec'] %>" >
                        <input type="submit" value="Push" class="btn push_btn" />
                      </td>
                    </tr>
                  </table>
                  <input type="hidden" value="<%= app_id %>" name="app_id" />
                  <!-- read apps function returns the path of the template_manifest file -->
                  <input type="hidden" value="<%= app['app_src'].sub!'template_manifest.yml', '' %>" name="app_src" />
                </form>
              </div>
            </div>
          </div>
      <% end %>
  </div>

  <div class="modal-footer">
    <span class="server_errors" id="create_app_failed"><%= error_message %></span>
    <div class="button_case_create_organization_and_space">
      <a href="<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS + "/#{current_organization}/spaces/#{current_space}/apps" %>" class="btn btn_right_create_organization_and_space cancel"><span class="line">| </span>Cancel </a>
    </div>
  </div>
</div>


<script type="text/javascript">
    /* ENSURE THE APPS ARE INSERTED IN THE JAVASCRIPT ARRAY IN THE SAME ORDER */

    <% js_apps = [] %>
    <% counter = 0 %>

    <% apps.each do |app| %>
    <% js_apps[counter] = app[0] %>
    <% counter += 1 %>
    <% end %>
    var js_apps = <%= js_apps %>;

    /* SHOW CORRECT APP IF THE PAGE IS LOADED  //  the 'app' -- is the query string parameter  */

    var app = getParameterByName('app');
    if (app != '')
    {
        var element = null;
        for(var counter = 0; counter <= js_apps.length; counter++)
        {
            element = js_apps[counter];
            if(element == app)
            {
                showPanel(document.getElementById(js_apps[counter]));
            }
        }
    }

    function redirectTo(id)
    {
        window.location.href='<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS + "/#{current_organization}/spaces/#{current_space}/apps/create_app/new" %>?app=' + id;
    }

    function showPanel(obj)
    {
        if(obj.id != 0)
        {
            $('.app_menu_item').removeClass('selected');
            $('.template_apps').css("display", "none");
            $('#' + obj.id + '_div').css("display", "block");
            $('#' + obj.id).addClass('selected');
        }
    }

    function getParameterByName( name ){
        name = name.replace(/[\[]/,"\\\[").replace(/[\]]/,"\\\]");
        var regexS = "[\\?&]"+name+"=([^&#]*)",
                regex = new RegExp( regexS ),
                results = regex.exec( window.location.href );
        if( results == null ){
            return "";
        } else{
            return decodeURIComponent(results[1].replace(/\+/g, " "));
        }
    }

    function isInteger(possibleInteger) {
        return Object.prototype.toString.call(possibleInteger) !== "[object Array]" && /^[\d]+$/.test(possibleInteger);
    }
</script>

