<div class="modal-background"> </div>

<div class="modal">
  <div class="modal_header">
    <span>Map domain to space:</span>
  </div>

  <form action="/createDomain" method="post">
    <div class="modal_content">
      <p>
        <label for="domainName">domain:</label>
        <select name="domainName">
          <% domains_list.each do |domain| %>
              <% if domain.owning_org_name == organization_name || domain.owning_org_name == 'Shared' %>
                <option value="<%= domain.name %>"><%= domain.name %></option>
              <% end %>
          <% end %>
        </select>
      </p>

    </div>

    <div class="modal_footer">
      <% unless error_message.nil? || error_message.empty? %>
          <div class="error"> <%= error_message %> </div>
      <% end %>
      <p class="hide hidden_message">Please wait...</p>

      <div>
        <button type="button" onclick="window.location = '<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS + "/#{current_organization}/spaces/#{current_space}/domains" %>';">Cancel</button>
        <input type="hidden" name="org_guid" value="<%= current_organization %>" />
        <input type="hidden" name="space_guid" value="<%= current_space %>" />
        <input type="hidden" name="current_tab" value="space" />
        <button type="submit">Map</button>
      </div>
    </div>
  </form>
</div>