<div class="dark_background"> </div>

<div class="modal hide" id="create_domain">
  <div class="modal-header">
    <a href="<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS + "/#{current_organization}/spaces/#{current_space}/domains" %>" class="close"></a>
    <h3>Map domain to space:</h3>
  </div>

  <form action="/createDomain" method="post">
    <div class="modal-body">
      <p>
        <label for="domainName">domain:</label>
        <select class="modal_input_box" name="domainName">
          <% domains_list.each do |domain| %>
              <% if domain.owning_spaces.count { |s| s.name == space_name } != 0 %>
                <option value="<%= domain.name %>"><%= domain.name %></option>
              <% end %>
          <% end %>
        </select>
      </p>

    </div>

    <div class="modal-footer">
      <span class="server_errors" id="create_space_failed"><%= error_message %></span>

      <div class="button_case_create_organization_and_space">
        <a href="<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS + "/#{current_organization}/spaces/#{current_space}/domains" %>" class="btn btn_right_create_organization_and_space cancel" id="cancel_b_c_space"><span class="line">| </span>Cancel </a>
        <input type="hidden" name="org_guid" value="<%= current_organization %>" />
        <input type="hidden" name="space_guid" value="<%= current_space %>" />
        <input type="hidden" name="current_tab" value="space" />
        <button type="submit" value="Create" class="btn btn_left_create_organization_and_space ok" id="b_c_space"><span class="line">| </span>Map </button>
        <p class="hidden_modal_messages" id="p_c_space">Please wait...</p>
      </div>
    </div>
  </form>
</div>