<div class="dark_background"> </div>

<div class="modal fade" id="add_user">
  <form action="/addUser" method="post">
      <div class="modal-header">
        <% if defined?(current_space) && current_space != nil %>
            <a href="<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS + "/#{current_organization}/spaces/#{current_space}/members" %>" class="close"></a>
        <% else %>
            <a href="<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS + "/#{current_organization}/members" %>" class="close"></a>
        <% end %>
        <h3>Invite user</h3>
        <br />
        <p>
          <strong>Note:</strong> Invitation only works with email addresses that are registered with Windows LiveID, GoogleID or Facebook.
          Please confirm this with the invitee before sending the invitation
        </p>
      </div>

      <div class="modal-body">
        <ul class="user_email_ul">
          <label for="inviteEmail">Email address</label>
          <input id="user_email" type="text" class="modal_input_box" name="userEmail" autofocus />
        </ul>

        <ul class="create_user_modal_ul" id="user_logos">
          <li class="user_modal_li"><img width="32" height="32"  src="<%= request.base_url %>/images/Gmail_logo.png" alt=""/>&nbsp;GoogleID</li>
          <li class="user_modal_li"><img width="32" height="32"  src="<%= request.base_url %>/images/msn_logo.png" alt=""/>&nbsp;Microsoft LiveID</li>
          <li class="user_modal_li"><img  width="32" height="32"  src="<%= request.base_url %>/images/facebook_logo.png" alt=""/>&nbsp;Facebook</li>
        </ul>

        <ul class="create_user_modal_ul" id="radio_buttons">
          <% if defined?(current_space) && current_space != nil %>
              <li><input type="radio" name="userType" value="owner" id="owner">Owner</li>
              <li><input type="radio" name="userType" value="developer" id="developer">Developer</li>
              <li><input type="radio" name="userType" value="auditor" id="auditor" checked>Auditor</li>
          <% else %>
              <li><input type="radio" name="userType" value="owner" id="owner">Owner</li>
              <li><input type="radio" name="userType" value="billing" id="billing">Billing Manager</li>
              <li><input type="radio" name="userType" value="auditor" id="auditor" checked>Auditor</li>
          <% end %>
        </ul>
      </div>
      <div class="modal-footer">
        <span class="server_errors" id="create_user_failed"><%= error_message %></span>
        <p class="hidden_modal_messages" id="span_add_user">Adding user...</p>

        <div>
            <input type="hidden" name="current_organization" value="<%= current_organization %>" />
            <input type="hidden" name="current_space" value="<%= current_space %>" />
            <input type="hidden" name="current_tab" value="<%= current_tab %>" />
            <button type="submit" class="btn btn_right_create_organization_and_space ok btn_add_user"><span class="line">| </span>Invite User </button>
        </div>
      </div>
  </form>
</div>

