<div class="modal-background"></div>

<div class="modal">

  <script type="text/javascript" src="https://js.stripe.com/v2/stripe-debug.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <script type="text/javascript">
      // This identifies your website in the createToken call below
      Stripe.setPublishableKey('<%= $config[:billing][:options][:stripe][:publishable_key] %>');

      var stripeResponseHandler = function(status, response) {
          var $form = $('#payment-form');

          if (response.error) {
              // Show the errors on the form
              $form.find('.payment-errors').text(response.error.message);
              $form.find('.payment-errors').show();
              $form.find('button').prop('disabled', false);
              $('#org_spinner').hide();
          } else {
              // token contains id, last4, and card type
              var token = response.id;
              // Insert the token into the form so it gets submitted to the server
              $form.append($('<input type="hidden" name="stripeToken" />').val(token));
              // and re-submit

              var org = $('#org_name').val();
              var stripe = token;

              $.ajax({
                  url: "/createOrganization",
                  type: 'POST',
                  cache: false,
                  data: { orgName: org, stripeToken: stripe }
              })

                      .done(function( data ) {
                          var values = jQuery.parseJSON( data );
                          error = values.error;

                          if(error == "OK")
                          {
                              window.location.href = '/organizations';
                          }
                          else
                          {
                              $('.error_container').html('');
                              $('.error_container').append("<div class='error'>" + error + "</div>");
                              $('#org_spinner').hide();
                              $form.find('button').prop('disabled', false);
                              $form.find('submit').prop('disabled', false);
                          }
                      }   )
                      .fail(function() {
                          $('.error_container').html('');
                          $('.error_container').append("<div class='error'>An internal server error occurred, please try again.</div>");
                          $('#org_spinner').hide();
                          $form.find('button').prop('disabled', false);
                          $form.find('submit').prop('disabled', false);
                      }   );
          }
      };
      jQuery(function($) {
          $('#payment-form').submit(function(e) {
              var $form = $(this);

              if ($("#org_name").val().length < 4)
              {
                  $form.find('.payment-errors').text("The name is too short (min. 4 characters)");
                  $form.find('.payment-errors').show();
                  $('#org_spinner').hide();
              }
              else
              {
                  if ($("#name").val() != '' && $("#address_line1").val() != '' && $("#address_city").val() != '' &&
                          $("#address_state").val() != '' && $("#address_zip").val() != '' && $("#address_country").val() != '')
                  {
                      $form.find('.payment-errors').hide();
                      // Disable the submit button and cancel button to prevent repeated clicks
                      $form.find('button').prop('disabled', true);
                      $form.find('submit').prop('disabled', true);

                      Stripe.createToken($form, stripeResponseHandler);
                  }
                  else
                  {
                      $form.find('.payment-errors').text("Please complete all fields");
                      $form.find('.payment-errors').show();
                      $('#org_spinner').hide();
                  }
              }

              // Prevent the form from submitting with the default action
              return false;
          });
      });

  </script>

  <div class="modal_header">
    <span>Create organization</span>
  </div>

  <form action="/createOrganization" method="post" id="payment-form">
    <div class="modal_content">
      <div>Organization Name</div>
      <input type="text" id="org_name" name="orgName" class="modal_input_box" autofocus />
      <br />

      <div>Credit card number</div>
      <input type="text" size="16" maxlength="16" data-stripe="number" />
      <br />

      <div>Card security code</div>
      <input type="text" size="4" maxlength="4" data-stripe="cvc" />
      <br />

      <div>Card expiration date</div>
      <select data-stripe="exp-month" >
        <% months.each do |month| %>
            <option value="<%= month[:value] %>"><%= month[:name] %></option>
        <% end %>
      </select>

      <select data-stripe="exp-year" >
        <% years.each do |year| %>
            <option value="<%= year %>"><%= year %></option>
        <% end %>
      </select>

      <!--<input type="text"  maxlength="2" class="date_type"/>-->
      <!--<input type="text" size="4" maxlength="4" class="date_type"/>-->

      <div>Cardholder name</div>
      <input id="name" type="text" size="20" maxlength="20" data-stripe="name" />
      <br />

      <div>Street</div>
      <input id="address_line1" type="text" size="20" maxlength="20" data-stripe="address_line1" />
      <br />

      <div>City</div>
      <input id="address_city" type="text" size="20" maxlength="20" data-stripe="address_city" />
      <br />

      <div>State/Province</div>
      <input id="address_state" type="text" size="20" maxlength="20" data-stripe="address_state" />
      <br />

      <div>Zip/Postal</div>
      <input id="address_zip" type="text" size="20" maxlength="20" data-stripe="address_zip" />
      <br />

      <div>Country</div>
        <select id="address_country" data-stripe="address_country" style="width: 250px;">
          <% countries.each do |country| %>
            <option value="<%= country %>"><%= country %></option>
          <% end %>
        </select>
      <br />

      <% unless error_message.nil? || error_message.empty? %>
          <div class="error"> <%= error_message %> </div>
      <% end %>
      <div class="error_container"></div>
      <div class="payment-errors error hide"></div>
    </div>
    <div class="modal_footer">
      <div>
        <div id="org_spinner" class="hide"><img src="/images/small_loader.gif" /></div>
        <button type="button" onclick="window.location.assign('<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS %>');">Cancel</button>
        <button type="submit" onclick="$('#org_spinner').show(); $('.error').hide();">Create</button>
      </div>
    </div>
  </form>
</div>

