<div class="modal-background"> </div>

<div class="modal">
  <div class="modal_header">
    <span>New Route</span>
  </div>

  <form action="/createRoute" method="post">
      <div class="modal_content">
        <table style="width: 100%;">
            <tr>
              <td><label for="appName">App Name: </label></td>
              <td><input type="text" id="appName" name="appName" autofocus /></td>
            </tr>

            <tr>
              <td><label for="host">Host Name: </label></td>
              <td><input type="text" name="host" /></td>
            </tr>

            <tr>
              <td><label for="domain_guid">Domain: </label></td>
              <td>
                <select name="domain_guid">
                    <% domains_list.each do |domain| %>
                      <% if domain.owning_org_name == organization_name || domain.owning_org_name == 'Shared' %>
                        <option value="<%= domain.guid %>"><%= domain.name %></option>
                      <% end %>
                    <% end %>
                </select>
              </td>
            </tr>
        </table>
      </div>

      <div class="modal_footer">
        <% unless error_message.nil? || error_message.empty? %>
            <div class="error"> <%= error_message %> </div>
        <% end %>
        <p class="hide hidden_message">Creating route...</p>
        <div>
            <button type="button" onclick="window.location = '<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS + "/#{current_organization}/spaces/#{current_space}/routes" %>';">Close</button>
            <input type="hidden" name="current_organization" value="<%= current_organization %>" />
            <input type="hidden" name="current_space" value="<%= current_space %>" />
            <input type="hidden" name="current_tab" value="<%= current_tab %>" />
            <button type="submit">Map</button>
        </div>
      </div>
  </form>
</div>