<div class="modal-background"> </div>

<div class="modal">
  <form action="/createService" method="post">
    <div class="modal_header">
      <span>New Service</span>
    </div>

    <div class="modal_content">
      <table style="width: 100%;">
        <tr>
          <td><label for="serviceName">Name: </label></td>
          <td><input type="text" name="serviceName" autofocus /></td>
        </tr>

        <tr>
          <td><label for="service_plan">Service Plan: </label></td>
          <td>
            <select name="service_plan" style="width: 200px;">
              <% ServiceInstances.new(session[:token], $cf_target).read_service_plans.each do |plan| %>
                  <option value="<%= plan.name %>"><%= plan.name.capitalize %></option>
              <% end %>
            </select>
          </td>
        </tr>

        <tr>
          <td><label for="service_type">Service Type: </label></td>
          <td>
            <select name="service_type" style="width: 200px;">
              <% ServiceInstances.new(session[:token], $cf_target).read_service_types.each do |type| %>
                  <option value="<%= type %>"><%= type %></option>
              <% end %>
            </select>
          </td>
        </tr>
      </table>
    </div>

    <div class="modal_footer">
      <% unless error_message.nil? || error_message.empty? %>
          <div class="error"> <%= error_message %> </div>
      <% end %>
      <p class="hide hidden_message"></p>

      <div>
        <button type="button" onclick="window.location = '<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS + "/#{current_organization}/spaces/#{current_space}/services" %>';">Close</button>
        <input type="hidden" name="current_organization" value="<%= current_organization %>" />
        <input type="hidden" name="current_space" value="<%= current_space %>" />
        <input type="hidden" name="current_tab" value="<%= current_tab %>" />
        <button type="submit">Create</button>
      </div>
    </div>
  </form>
</div>