<%

   all_services = {}

   ServiceInstances.new(session[:token], $cf_target).read_service_plans.each do |plan|
     plan_name = plan.name
     service_name = plan.service.label
     plan_id = plan.guid
     service_id = plan.service.guid

     all_services[service_id] = {} unless all_services[service_name]

     all_services[service_id]['label'] = service_name
     all_services[service_id]['plans'] = {} unless all_services[service_id]['plans']
     all_services[service_id]['plans'][plan_id] = plan_name
   end

%>

<script type="text/javascript">
   var all_services = <%= all_services.to_json %>;
</script>

<div class="modal-background"> </div>

<div class="modal">
  <form action="/createService" method="post">
    <div class="modal_header">
      <span>Create service</span>
    </div>


    <div class="modal_content">
      <table style="width: 100%;">
        <tr>
          <td><label for="serviceName">name</label></td>
          <td><input type="text" name="serviceName" autofocus /></td>
        </tr>

        <tr>
          <td><label for="service_type">service type</label></td>
          <td>
            <select name="service_type" id="service_type" style="width: 200px;" onchange="fillSelect(all_services);">
              <% all_services.each do |id, service| %>
                  <option value="<%= id %>"><%= service['label'] %></option>
              <% end %>
            </select>
          </td>
        </tr>


        <tr>
          <td><label for="service_plan">service plan</label></td>
          <td>
            <select name="service_plan" id="service_plan" style="width: 200px;">
            </select>
          </td>
        </tr>


      </table>

      <script type="text/javascript">

      </script>


      <% unless error_message.nil? || error_message.empty? %>
          <div class="error"> <%= error_message %> </div>
      <% end %>
    </div>

    <div class="modal_footer">
      <div>
        <button type="button" onclick="window.location = '<%= Uhuru::Webui::SinatraRoutes::ORGANIZATIONS + "/#{current_organization}/spaces/#{current_space}/services" %>';">Close</button>
        <input type="hidden" name="current_organization" value="<%= current_organization %>" />
        <input type="hidden" name="current_space" value="<%= current_space %>" />
        <input type="hidden" name="current_tab" value="<%= current_tab %>" />
        <button type="submit">Create</button>
      </div>
    </div>
  </form>
</div>