<%= erb(:'guest_pages/index', :layout => false, :locals => {:page_title => page_title, :welcome_message => welcome_message}) %>

<div id="modal_signup" class="modal signup hide">
  <script type="text/javascript">
    var RecaptchaOptions = {
        theme : 'blackglass'
    };
  </script>

    <form action="/signup" method="post">
        <div class="modal_header">
            <a href="<%= Uhuru::Webui::SinatraRoutes::INDEX %>" class="close"></a>
            Sign Up
        </div>

        <div class="modal_content">
            <div>E-mail</div>
            <input type="text" name="email" value = "<%= error_username %>" autocomplete="off" autofocus />
            <br />

            <div>Password</div>
            <input type="password" name="password" autocomplete="off" />
            <br />

            <div>Confirm Password</div>
            <input type="password" name="confirm_password" autocomplete="off" />
            <br />

            <div>First Name</div>
            <input type="text" name="first_name" value = "<%= error_first_name %>" />
            <br />

            <div for="last_name">Last Name: </div>
            <input type="text" name="last_name" value = "<%= error_last_name %>" />
            <br />
            <br />
            <%= recaptcha_tag :challenge, :language => :en %>
            <div>When you press "Sign up" you'll be required to fulfill the credit card information</div>
            <br />
        </div>

        <div class="modal_footer">
          <% unless error_message.nil? || error_message.empty? %>
              <div class="error"><%= error_message %></div>
          <% end %>

          <div>
              <button type="button" onclick="window.location = '<%= Uhuru::Webui::SinatraRoutes::INDEX %>';">Cancel</button>
              <script src="https://checkout.stripe.com/v2/checkout.js"></script>
              <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>
              <button id="signupButton" type="submit">Sign up</button>
              <% unless error_message.nil? || error_message.empty? %>
                <script>
                  $('#signupButton').click(function(){
                    var token = function(res){
                        var $input = $('<input type=hidden name=stripeToken />').val(res.id);
                        $('form').append($input).submit();
                    };

                    StripeCheckout.open({
                        key:         "<%= publishable_key %>",
                        address:     true,
                        name:        'Uhuru App Cloud',
                        panelLabel:  'Register card',
                        token:       token
                    });

                    return false;
                  });
                </script>
              <% end %>
          </div>
        </div>
    </form>
</div>