
<%= erb(:'guest_pages/index', :layout => false, :locals => {:page_title => page_title, :welcome_message => welcome_message}) %>



<div class="modal signup">
  <script type="text/javascript">
    var RecaptchaOptions = {
        theme : 'blackglass'
    };
  </script>

    <form action="/signup" method="post" id="sign_up">
        <div class="modal_header">
            <a href="<%= Uhuru::Webui::SinatraRoutes::INDEX %>" class="close"></a>
            Sign Up
        </div>

        <div class="modal_content" id="signup_modal_content">
            <p>
                <div>E-mail</div>
                <input type="text" id="email" name="email" class="modal_input_box" placeholder="... email" value = "<%= error_username %>" autofocus />
            </p>

            <p>
                <div>Password</div>
                <input type="password" id="password" name="password" class="modal_input_box" />
            </p>

            <p>
                <div>Confirm Password</div>
                <input type="password" id="confirm_password" name="confirm_password" class="modal_input_box" />
            </p>

            <p>
                <div>First Name</div>
                <input type="text" id="first_name" name="first_name" class="modal_input_box" placeholder="... first name" value = "<%= error_first_name %>" />
            </p>

            <p>
                <div for="last_name">Last Name: </div>
                <input type="text" id="last_name" name="last_name" class="modal_input_box" placeholder="... last name" value = "<%= error_last_name %>" />
            </p>


            <%= recaptcha_tag :challenge, :language => :en %>
        </div>

        <div class="modal_footer">
          <% unless error_message.empty? %>
              <div class="error"><%= error_message %></div>
          <% end %>

            <div class="button_case_create_organization_and_space">
                <a href="<%= Uhuru::Webui::SinatraRoutes::INDEX %>"><button type="button">Cancel</button></a>

                <button type="submit">Sign up</button>
            </div>
        </div>
    </form>
</div>

<div class="modal-background" />